<mat-card>
  <mat-card-title>
    <h2>Modification des configurations</h2>
  </mat-card-title>

  <mat-card-content>
    <form
      (ngSubmit)="save()"
      #entiteSimpleForm="ngForm"
      class="configuration-form"
    >
      <!-- Default Observateur -->
      <mat-form-field>
        <mat-select
          id="input-observateur"
          placeholder="Observateur par défaut"
          [(value)]="model.defaultObservateur"
          [compareWith]="compareEntities"
        >
          <mat-option *ngFor="let o of observateurs" [value]="o">
            {{ o.libelle }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Default Departement -->
      <mat-form-field>
        <mat-select
          id="input-departement"
          placeholder="Département par défaut"
          [(value)]="model.defaultDepartement"
          [compareWith]="compareEntities"
        >
          <mat-option *ngFor="let d of departements" [value]="d">
            {{ d.code }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Default Estimation nombre -->
      <mat-form-field>
        <mat-select
          id="input-estimation-nombre"
          placeholder="Estimation du nombre par défaut"
          [(value)]="model.defaultEstimationNombre"
          [compareWith]="compareEntities"
        >
          <mat-option *ngFor="let e of estimationsNombre" [value]="e">
            {{ e.libelle }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Default Nombre -->
      <mat-form-field>
        <input
          matInput
          type="number"
          min="1"
          max="65535"
          placeholder="Nombre par défaut"
          id="input-nombre"
          name="input-nombre"
          [(ngModel)]="model.defaultNombre"
        />
      </mat-form-field>

      <!-- Default Sexe -->
      <mat-form-field>
        <mat-select
          id="input-sexe"
          placeholder="Sexe par défaut"
          [(value)]="model.defaultSexe"
          [compareWith]="compareEntities"
        >
          <mat-option *ngFor="let s of sexes" [value]="s">
            {{ s.libelle }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Age par défaut -->
      <mat-form-field>
        <mat-select
          id="input-age"
          placeholder="Âge par défaut"
          [(value)]="model.defaultAge"
          [compareWith]="compareEntities"
        >
          <mat-option *ngFor="let a of ages" [value]="a">
            {{ a.libelle }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Display observateurs associés -->
      <mat-checkbox
        id="input-associes"
        name="input-associes"
        [(ngModel)]="model.areAssociesDisplayed"
        >Afficher les observateurs associés</mat-checkbox
      >

      <!-- Display meteo -->
      <mat-checkbox
        id="input-meteo"
        name="input-meteo"
        [(ngModel)]="model.isMeteoDisplayed"
        >Afficher la météo</mat-checkbox
      >

      <!-- Display distance -->
      <mat-checkbox
        id="input-distance"
        name="input-distance"
        [(ngModel)]="model.isDistanceDisplayed"
        >Afficher la distance</mat-checkbox
      >

      <!-- Display regroupement -->
      <mat-checkbox
        id="input-regroupement"
        name="input-regroupement"
        [(ngModel)]="model.isRegroupementDisplayed"
        >Afficher le numéro de regroupement</mat-checkbox
      >

      <!-- Coordinates system -->
      <mat-form-field>
        <mat-select
          id="input-coordinates"
          placeholder="Système de coordonnées"
          [(value)]="model.coordinatesSystem"
          [compareWith]="compareEntities"
        >
          <mat-option *ngFor="let s of coordinatesSystems" [value]="s">
            {{ s.libelle }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="cancel-submit-buttons">
        <button mat-raised-button color="accent" (click)="cancel()">
          <mat-icon>block</mat-icon>
          <span>Annuler</span>
        </button>
        <span class="button-spacer"></span>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!entiteSimpleForm.form.valid"
        >
          <mat-icon>save</mat-icon>
          <span>Enregistrer</span>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
