<mat-card>
  <mat-card-title>
    <h2>Modification des préférences</h2>
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="save()" class="configuration-form">
      <!-- Default Observateur -->
      <mat-form-field>
        <mat-select
          id="input-observateur"
          placeholder="Observateur par défaut"
          [formControl]="form.controls['defaultObservateur']"
          [compareWith]="compareEntities"
        >
          <mat-option *ngFor="let o of observateurs$ | async" [value]="o">
            {{ o.libelle }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Default Departement -->
      <mat-form-field>
        <mat-select
          id="input-departement"
          placeholder="Département par défaut"
          [formControl]="form.controls['defaultDepartement']"
          [compareWith]="compareEntities"
        >
          <mat-option *ngFor="let d of departements$ | async" [value]="d">
            {{ d.code }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Default Estimation nombre -->
      <mat-form-field>
        <mat-select
          id="input-estimation-nombre"
          placeholder="Estimation du nombre par défaut"
          [formControl]="form.controls['defaultEstimationNombre']"
          [compareWith]="compareEntities"
        >
          <mat-option *ngFor="let e of estimationsNombre$ | async" [value]="e">
            {{ e.libelle }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Default Nombre -->
      <mat-form-field>
        <input
          matInput
          type="number"
          min="1"
          max="65535"
          placeholder="Nombre par défaut"
          id="input-nombre"
          name="input-nombre"
          [formControl]="form.controls['defaultNombre']"
        />
      </mat-form-field>

      <!-- Default Sexe -->
      <mat-form-field>
        <mat-select
          id="input-sexe"
          placeholder="Sexe par défaut"
          [formControl]="form.controls['defaultSexe']"
          [compareWith]="compareEntities"
        >
          <mat-option *ngFor="let s of sexes$ | async" [value]="s">
            {{ s.libelle }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Age par défaut -->
      <mat-form-field>
        <mat-select
          id="input-age"
          placeholder="Âge par défaut"
          [formControl]="form.controls['defaultAge']"
          [compareWith]="compareEntities"
        >
          <mat-option *ngFor="let a of ages$ | async" [value]="a">
            {{ a.libelle }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Display observateurs associés -->
      <mat-checkbox
        id="input-associes"
        name="input-associes"
        [formControl]="form.controls['areAssociesDisplayed']"
        >Afficher les observateurs associés</mat-checkbox
      >

      <!-- Display meteo -->
      <mat-checkbox
        id="input-meteo"
        name="input-meteo"
        [formControl]="form.controls['isMeteoDisplayed']"
        >Afficher la météo</mat-checkbox
      >

      <!-- Display distance -->
      <mat-checkbox
        id="input-distance"
        name="input-distance"
        [formControl]="form.controls['isDistanceDisplayed']"
        >Afficher la distance</mat-checkbox
      >

      <!-- Display regroupement -->
      <mat-checkbox
        id="input-regroupement"
        name="input-regroupement"
        [formControl]="form.controls['isRegroupementDisplayed']"
        >Afficher le numéro de regroupement</mat-checkbox
      >

      <!-- Coordinates system -->
      <mat-form-field>
        <mat-select
          id="input-coordinates"
          placeholder="Système de coordonnées"
          [formControl]="form.controls['coordinatesSystem']"
        >
          <mat-option *ngFor="let s of coordinatesSystems" [value]="s.code">
            {{ s.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="cancel-submit-buttons">
        <button
          type="button"
          mat-raised-button
          color="accent"
          (click)="cancel()"
        >
          <mat-icon>block</mat-icon>
          <span>Annuler</span>
        </button>
        <span class="button-spacer"></span>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!form.valid"
        >
          <mat-icon>save</mat-icon>
          <span>Enregistrer</span>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
