<div class="lco-entity-page">
    <top-buttons title="Lieux-dits"
        createButtonLibelle="Créer un lieu-dit"
        exportButtonLibelle="Exporter les lieux-dits"
        [areButtonsDisplayed]="isViewAllMode()"
        (onClickNewObject)="newObject()"
        (onClickExportObjects)="exportObjects()"
        (onClickRefresh)="getAll()"></top-buttons>

    <entity-messages [messages]="messages"
        [status]="status"></entity-messages>

    <lieudit-table *ngIf="isViewAllMode()"
        [objects]="objects"
        (delete)="deleteObject($event)"
        (edit)="editObject($event)"
        (view)="viewObject($event)">
    </lieudit-table>

    <lieudit-form *ngIf="isCreationMode() || isEditionMode()"
        [object]="objectToSave"
        [mode]="mode"
        (confirm)="saveObject()"
        (back)="cancelEdition()">
    </lieudit-form>

    <lieudit-removal-confirmation *ngIf="isRemoveMode()"
        [objectToRemove]="objectToRemove"
        (confirm)="confirmObjectRemoval($event)">
    </lieudit-removal-confirmation>

    <entite-details *ngIf="isViewOneMode() || isRemoveMode()"
        [detailsData]="getDetailsData()"
        [isBackButtonDisplayed]="isViewOneMode()"
        (back)="viewAll()">
    </entite-details>
</div>