<div class="lco-entity-form lco-entite-simple-form">
    <form (ngSubmit)="save()"
        #entiteSimpleForm="ngForm">
        <div>
            <h2 *ngIf="isCreationMode()">{{creationTitle}}</h2>
            <h2 *ngIf="isEditionMode()">{{editionTitle}}</h2>
        </div>
        <div>
            <div *ngIf="isEditionMode()">
                <label for="fieldId">ID</label>
                <input matInput
                    type="text"
                    class="form-control"
                    id="fieldId"
                    name="fieldId"
                    [(ngModel)]="object.id"
                    #fieldId="ngModel"
                    readonly/>
            </div>

            <!-- Departement -->
            <div>
                <label class="control-label"
                    for="input-departement">Département</label>
                <mat-select class="form-control"
                    id="input-departement"
                    name="input-departement"
                    [(ngModel)]="object.departement"
                    required>
                    <option *ngFor="let dept of departements"
                        [value]="dept">
                        {{dept.code}}
                    </option>
                </mat-select>
            </div>

            <!-- Code commune -->
            <div>
                <label class="control-label"
                    for="input-code-commune">Code commune</label>
                <mat-select class="form-control"
                    id="input-code-commune"
                    name="input-code-commune"
                    [(ngModel)]="object.commune"
                    required>
                    <option *ngFor="let commune of communes"
                        [value]="commune">
                        {{commune.code}}
                    </option>
                </mat-select>
            </div>

            <!-- Nom commune -->
            <div>
                <label class="control-label"
                    for="input-nom-commune">Nom commune</label>
                <mat-select class="form-control"
                    id="input-nom-commune"
                    name="input-nom-commune"
                    [(ngModel)]="object.commune"
                    required>
                    <option *ngFor="let commune of communes"
                        [value]="commune">
                        {{commune.nom}}
                    </option>
                </mat-select>
            </div>

            <!-- Nom -->
            <div>
                <label class="control-label"
                    for="input-nom">Nom</label>
                <input matInput
                    type="text"
                    class="form-control"
                    name="input-nom"
                    id="input-nom"
                    [(ngModel)]="object.nom"
                    #inputNom="ngModel"
                    required/>

                <div [hidden]="inputNom.valid || inputNom.pristine">
                    <p class="help-block"
                        [hidden]="inputNom.valid.required">
                        Le nom du lieu-dit ne peut pas être vide.
                    </p>
                </div>

            </div>

            <!-- Altitude -->
            <div>
                <label class="control-label"
                    for="input-altitude">Altitude</label>
                <input matInput
                    type="number"
                    class="form-control"
                    name="input-altitude"
                    id="input-altitude"
                    [(ngModel)]="object.altitude"
                    #inputAltitude="ngModel"
                    required/>

                <div [hidden]="inputAltitude.valid || inputAltitude.pristine">
                    <p class="help-block"
                        [hidden]="inputAltitude.valid.required">
                        L'altitude du lieu-dit ne peut pas être vide.
                    </p>
                </div>
            </div>

            <!-- Longitude -->
            <div>
                <label class="control-label"
                    for="input-longitude">Longitude</label>
                <input matInput
                    type="number"
                    class="form-control"
                    name="input-longitude"
                    id="input-longitude"
                    [(ngModel)]="object.longitude"
                    #inputLongitude="ngModel"
                    required/>

                <div [hidden]="inputLongitude.valid || inputLongitude.pristine">
                    <p class="help-block"
                        [hidden]="inputLongitude.valid.required">
                        La longitude du lieu-dit ne peut pas être vide.
                    </p>
                </div>
            </div>

            <!-- Latitude -->
            <div>
                <label class="control-label"
                    for="input-latitude">Latitude</label>
                <input matInput
                    type="number"
                    class="form-control"
                    name="input-latitude"
                    id="input-latitude"
                    [(ngModel)]="object.latitude"
                    #inputLatitude="ngModel"
                    required/>

                <div [hidden]="inputLatitude.valid || inputLatitude.pristine">
                    <p class="help-block"
                        [hidden]="inputLatitude.valid.required">
                        La latitude du lieu-dit ne peut pas être vide.
                    </p>
                </div>
            </div>
        </div>

        <div>
            <div class="  text-right ">
                <button mat-raised-button
                    color="accent"
                    (click)="cancel()">
                    <mat-icon>cancel</mat-icon>
                    <span>Annuler</span>
                </button>
                <button mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="!entiteSimpleForm.form.valid">
                    <mat-icon>save</mat-icon>
                    <span>Enregistrer</span>
                </button>
            </div>
        </div>
    </form>

</div>