<div class="bn-entity-page">
  <top-buttons
    title="Lieux-dits"
    createButtonLibelle="Créer un lieu-dit"
    exportButtonLibelle="Exporter les lieux-dits"
    [areButtonsDisplayed]="entityModeHelper.isViewAllMode()"
    (onClickNewObject)="newObject()"
    (onClickExportObjects)="exportObjects()"
    (onClickRefresh)="getAll()"
  >
  </top-buttons>

  <entity-messages></entity-messages>

  <lieudit-table
    *ngIf="entityModeHelper.isViewAllMode()"
    [objects]="objects"
    (delete)="deleteObject($event)"
    (edit)="editObject($event)"
    (view)="viewObject($event)"
  >
  </lieudit-table>

  <entity-form
    *ngIf="
      entityModeHelper.isCreationMode() || entityModeHelper.isEditionMode()
    "
    [componentType]="getFormType()"
    creationTitle="Création d'un lieu-dit"
    editionTitle="Édition d'un lieu-dit"
    [entityForm]="form"
    [object]="objectToSave"
    (confirm)="saveObject($event)"
    (back)="cancelEdition()"
  ></entity-form>

  <entity-delete-confirmation
    *ngIf="entityModeHelper.isRemoveMode()"
    question="Êtes-vous certain de vouloir supprimer le lieu-dit ?"
    details="Toutes les données ({{
      currentObject.nbDonnees
    }}) avec ce lieu-dit seront supprimées."
    cancellationLabel="Non, annuler la suppression"
    confirmationLabel="Oui, supprimer le lieu-dit"
    (confirm)="confirmObjectRemoval($event)"
  >
  </entity-delete-confirmation>

  <entity-details
    *ngIf="entityModeHelper.isViewOneMode() || entityModeHelper.isRemoveMode()"
    [detailsData]="getDetailsData()"
    detailsTitle="Détails du lieud-dit"
    [isBackButtonDisplayed]="entityModeHelper.isViewOneMode()"
    (back)="viewAll()"
  >
  </entity-details>
</div>
