<!-- Departement -->
<mat-form-field>
  <mat-select
    [formControl]="entityForm.controls['departement']"
    id="input-departement"
    name="departement"
    placeholder="Département"
  >
    <mat-option *ngFor="let departement of departements" [value]="departement">
      {{ departement.code }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="entityForm.controls['classeId'].hasError('required')">
    Le champ "Département" ne peut pas être vide.
  </mat-error>
</mat-form-field>

<!-- Code Commune -->
<mat-form-field>
  <mat-select
    [formControl]="entityForm.controls['codeCommune']"
    id="input-code-commune"
    name="code-commune"
    placeholder="Code de la commune"
  >
    <mat-option *ngFor="let commune of filteredCommunes" [value]="commune">
      {{ commune.code }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="entityForm.controls['codeCommune'].hasError('required')">
    Le champ "Code de la commune" ne peut pas être vide.
  </mat-error>
</mat-form-field>

<!-- Nom Commune -->
<mat-form-field>
  <mat-select
    [formControl]="entityForm.controls['nomCommune']"
    id="input-nom-commune"
    name="nom-commune"
    placeholder="Nom de la commune"
  >
    <mat-option *ngFor="let commune of filteredCommunes" [value]="commune">
      {{ commune.nom }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="entityForm.controls['nomCommune'].hasError('required')">
    Le champ "Nom de la commune" ne peut pas être vide.
  </mat-error>
</mat-form-field>

<!-- Nom lieudit -->
<mat-form-field>
  <input
    [errorStateMatcher]="matcher"
    [formControl]="entityForm.controls['nom']"
    id="input-nom"
    matInput
    name="nom"
    placeholder="Nom du lieu-dit"
    type="text"
  />

  <mat-error *ngIf="entityForm.controls['nom'].hasError('required')">
    Le champ "Nom du lieu-dit" ne peut pas être vide.
  </mat-error>
</mat-form-field>

<!-- Altitude -->
<mat-form-field>
  <input
    [errorStateMatcher]="matcher"
    [formControl]="entityForm.controls['altitude']"
    id="input-altitude"
    matInput
    name="altitude"
    placeholder="Altitude"
    type="number"
  />

  <mat-error *ngIf="entityForm.controls['altitude'].hasError('required')">
    Le champ "Altitude" ne peut pas être vide.
  </mat-error>
</mat-form-field>

<!-- Longitude -->
<mat-form-field>
  <input
    [errorStateMatcher]="matcher"
    [formControl]="entityForm.controls['longitude']"
    id="input-longitude"
    matInput
    name="longitude"
    placeholder="Longitude"
    type="number"
  />

  <mat-error *ngIf="entityForm.controls['longitude'].hasError('required')">
    Le champ "Longitude" ne peut pas être vide.
  </mat-error>
</mat-form-field>

<!-- Latitude -->
<mat-form-field>
  <input
    [errorStateMatcher]="matcher"
    [formControl]="entityForm.controls['latitude']"
    id="input-latitude"
    matInput
    name="latitude"
    placeholder="Latitude"
    type="number"
  />

  <mat-error *ngIf="entityForm.controls['latitude'].hasError('required')">
    Le champ "Latitude" ne peut pas être vide.
  </mat-error>
</mat-form-field>
