<!-- Departement -->
<bn-select
  [id]="'input-departement'"
  [placeholder]="'Département'"
  [fieldForDisplay]="'code'"
  [options]="departements"
  [(model)]="selectedDepartement"
  (modelChange)="updateCommunes()"
>
</bn-select>

<!-- Code Commune -->
<bn-select
  [id]="'input-code-commune'"
  [placeholder]="'Code de la Commune'"
  [fieldForDisplay]="'code'"
  [options]="filteredCommunes"
>
</bn-select>

<!-- Nom Commune -->
<bn-select
  [id]="'input-nom-commune'"
  [placeholder]="'Nom de la Commune'"
  [fieldForDisplay]="'nom'"
  [options]="filteredCommunes"
>
</bn-select>

<!-- Nom lieudit -->
<mat-form-field>
  <input
    matInput
    type="text"
    id="input-nom"
    name="nom"
    placeholder="Nom du lieu-dit"
    required
    [formControl]="nomLieuDitFormControl"
  />
  <mat-error *ngIf="nomLieuDitFormControl.hasError('required')">
    Le nom du lieu-dit ne peut pas être vide.
  </mat-error>
</mat-form-field>

<!-- Altitude -->
<mat-form-field>
  <input
    matInput
    type="number"
    id="input-altitude"
    name="altitude"
    placeholder="Altitude"
    required
    [formControl]="altitudeFormControl"
  />
  <mat-error *ngIf="altitudeFormControl.hasError('required')">
    L'altitude du lieu-dit ne peut pas être vide.
  </mat-error>
</mat-form-field>

<!-- Longitude -->
<mat-form-field>
  <input
    matInput
    type="number"
    id="input-longitude"
    name="longitude"
    placeholder="Longitude"
    required
    [formControl]="longitudeFormControl"
  />
  <mat-error *ngIf="longitudeFormControl.hasError('required')">
    La longitude du lieu-dit ne peut pas être vide.
  </mat-error>
</mat-form-field>

<!-- Latitude -->
<mat-form-field>
  <input
    matInput
    type="number"
    id="input-latitude"
    name="latitude"
    placeholder="Latitude"
    required
    [formControl]="latitudeFormControl"
  />
  <mat-error *ngIf="latitudeFormControl.hasError('required')">
    La latitude du lieu-dit ne peut pas être vide.
  </mat-error>
</mat-form-field>
