@use "src/styles/mixins";

table.commune-table {
  @include mixins.full-width-table;

  th.departement {
    width: 150px;
  }

  th.code {
    width: 200px;
  }

  th.nom {
    width: 300px;
  }

  th.nb-lieuxdits {
    width: 200px;
  }
}
