<div class="row">
  <div class="col-xs-6 lco-entity-page-title">
    <h1>{{title}}</h1>
  </div>
  <div *ngIf="areButtonsDisplayed"
    class="col-xs-6 text-right lco-entity-top-buttons">
    <button mat-raised-button
      color="primary"
      (click)="newObject()">
      <mat-icon>add</mat-icon>
      <span>{{createButtonLibelle}}</span>
    </button>
    <button mat-raised-button
      color="primary"
      (click)="exportObjects()">
      <mat-icon>save</mat-icon>
      <span>{{exportButtonLibelle}}</span>
    </button>
    <button mat-raised-button
      color="primary"
      (click)="refresh()">
      <mat-icon>refresh</mat-icon>
      <span>Rafraîchir</span>
    </button>
  </div>
</div>