<div class="entity-page-header">
  <h1>{{ title }}</h1>
  <span class="flex-spacer"></span>
  <div class="entity-top-buttons">
    <button
      mat-raised-button
      type="button"
      color="accent"
      (click)="newObject()"
    >
      <mat-icon>add</mat-icon>
      <span>Créer</span>
    </button>
    <button
      mat-raised-button
      type="button"
      color="accent"
      (click)="exportObjects()"
    >
      <mat-icon>file_upload</mat-icon>
      <span>Exporter</span>
    </button>
  </div>
</div>
