<!-- Libelle -->
<mat-form-field>
  <input
    [errorStateMatcher]="matcher"
    [formControl]="entityForm.controls['libelle']"
    id="input-libelle"
    matInput
    name="libelle"
    placeholder="Libellé"
    type="text"
  />

  <mat-error *ngIf="entityForm.controls['libelle'].hasError('required')">
    Le champ "Libellé" ne peut pas être vide.
  </mat-error>
  <mat-error *ngIf="entityForm.hasError('alreadyExisting')">
    {{ entityForm.getError("alreadyExisting").message }}
  </mat-error>
</mat-form-field>

<!-- Non compte -->
<mat-checkbox id="input-non-compte" name="non-compte">Non compté</mat-checkbox>
