<!-- Libelle -->
<mat-form-field>
  <input
    [errorStateMatcher]="matcher"
    [formControl]="entityForm.controls['libelle']"
    id="input-libelle"
    matInput
    name="libelle"
    placeholder="Libellé"
    type="text"
  />

  <mat-error *ngIf="entityForm.controls['libelle'].hasError('required')">
    Le champ "Libellé" ne peut pas être vide.
  </mat-error>
  <mat-error *ngIf="entityForm.hasError('alreadyExistingLibelle')">
    {{ entityForm.getError("alreadyExistingLibelle").message }}
  </mat-error>
</mat-form-field>

<!-- Non compte -->
<mat-checkbox
  [formControl]="entityForm.controls['nonCompte']"
  id="input-non-compte"
  name="non-compte"
  >Non compté</mat-checkbox
>
