<div class="bn-entity-page">
  <top-buttons
    title="Espèces"
    createButtonLibelle="Créer une espèce"
    exportButtonLibelle="Exporter les espèces"
    [areButtonsDisplayed]="entityModeHelper.isViewAllMode()"
    (onClickNewObject)="newObject()"
    (onClickExportObjects)="exportObjects()"
    (onClickRefresh)="getAll()"
  ></top-buttons>

  <entity-messages></entity-messages>

  <espece-table
    *ngIf="entityModeHelper.isViewAllMode()"
    [objects]="objects"
    (delete)="deleteObject($event)"
    (edit)="editObject($event)"
    (view)="viewObject($event)"
  ></espece-table>

  <entity-form
    *ngIf="
      entityModeHelper.isCreationMode() || entityModeHelper.isEditionMode()
    "
    [componentType]="getFormType()"
    creationTitle="Création d'une espèce"
    editionTitle="Édition d'une espèce"
    [entityForm]="form"
    [object]="objectToSave"
    (confirm)="saveObject($event)"
    (back)="cancelEdition()"
  ></entity-form>

  <entity-delete-confirmation
    *ngIf="entityModeHelper.isRemoveMode()"
    question="Êtes-vous certain de vouloir supprimer l'espèce ?"
    details="Toutes les données ({{
      currentObject.nbDonnees
    }}) avec cette espèce seront supprimées."
    cancellationLabel="Non, annuler la suppression"
    confirmationLabel="Oui, supprimer l'espèce"
    (confirm)="confirmObjectRemoval($event)"
  >
  </entity-delete-confirmation>

  <entity-details
    *ngIf="entityModeHelper.isViewOneMode() || entityModeHelper.isRemoveMode()"
    [detailsData]="getDetailsData()"
    detailsTitle="Détails de l'espèce"
    [isBackButtonDisplayed]="entityModeHelper.isViewOneMode()"
    (back)="viewAll()"
  >
  </entity-details>
</div>
