<div class="lco-entity-page lco-classe-page">
  <top-buttons title="Classes"
    createButtonLibelle="Créer une classe"
    exportButtonLibelle="Exporter les classes"
    [areButtonsDisplayed]="isViewAllMode()"
    (onClickNewObject)="newObject()"
    (onClickExportObjects)="exportObjects()"
    (onClickRefresh)="getAll()"></top-buttons>

  <hr *ngIf="isCreationMode() || isEditionMode() || isViewOneMode() || isRemoveMode()">

  <entity-messages [messages]="messages"
    [status]="status"></entity-messages>

  <classe-table *ngIf="isViewAllMode()"
    [objects]="objects"
    (delete)="deleteObject($event)"
    (edit)="editObject($event)"
    (view)="viewObject($event)"></classe-table>

  <classe-form *ngIf="isCreationMode() || isEditionMode()"
    [object]="objectToSave"
    [mode]="mode"
    (confirm)="saveObject()"
    (back)="cancelEdition()"></classe-form>

  <entite-delete-confirmation *ngIf="isRemoveMode()"
    question="Êtes-vous certain de vouloir supprimer la classe ?"
    details="Toutes les espèces ({{currentObject.nbEspeces}}) et toutes les données ({{currentObject.nbDonnees}}) avec cette classe seront supprimées."

    cancellationLabel="Non, annuler la suppression"
    confirmationLabel="Oui, supprimer la classe"
    (confirm)="confirmObjectRemoval($event)">
  </entite-delete-confirmation>

  <entite-details *ngIf="isViewOneMode() || isRemoveMode()"
    [detailsData]="getDetailsData()"
    detailsTitle="Détails de la classe"
    [isBackButtonDisplayed]="isViewOneMode()"
    (back)="viewAll()">
  </entite-details>

</div>