<div class="lco-entity-page lco-classe-page">
  <top-buttons title="Classes"
    createButtonLibelle="Créer une classe"
    exportButtonLibelle="Exporter les classes"
    [areButtonsDisplayed]="isViewAllMode()"
    (onClickNewObject)="newObject()"
    (onClickExportObjects)="exportObjects()"
    (onClickRefresh)="getAll()"></top-buttons>

  <hr *ngIf="isCreationMode() || isEditionMode() || isViewOneMode() || isRemoveMode()">

  <entity-messages [messages]="messages"
    [status]="status"></entity-messages>

  <classe-table *ngIf="isViewAllMode()"
    [objects]="objects"
    (delete)="deleteObject($event)"
    (edit)="editObject($event)"
    (view)="viewObject($event)"></classe-table>

  <classe-form *ngIf="isCreationMode() || isEditionMode()"
    [object]="objectToSave"
    [mode]="mode"
    (confirm)="saveObject()"
    (back)="cancelEdition()"></classe-form>

  <entite-details *ngIf="isViewOneMode()"
    [objectToView]="objectToView"
    (back)="viewAll()"></entite-details>

  <entite-delete-confirmation *ngIf="isRemoveMode()"
    [objectToRemove]="objectToRemove"
    (confirm)="confirmObjectRemoval($event)">
  </entite-delete-confirmation>

</div>