<div class="lco-entity-page">
    <top-buttons title="Espèces"
        createButtonLibelle="Créer une espèce"
        exportButtonLibelle="Exporter les espèces"
        [areButtonsDisplayed]="isViewAllMode()"
        (onClickNewObject)="newObject()"
        (onClickExportObjects)="exportObjects()"
        (onClickRefresh)="getAll()"></top-buttons>

    <hr *ngIf="isCreationMode() || isEditionMode() || isViewOneMode() || isRemoveMode()">

    <entity-messages [messages]="messages"
        [status]="status"></entity-messages>

    <espece-table *ngIf="isViewAllMode()"
        [objects]="objects"
        (delete)="deleteObject($event)"
        (edit)="editObject($event)"
        (view)="viewObject($event)"></espece-table>

    <espece-form *ngIf="isCreationMode() || isEditionMode()"
        [object]="objectToSave"
        [mode]="mode"
        (confirm)="saveObject()"
        (back)="cancelEdition()"></espece-form>

    <espece-details *ngIf="isViewOneMode()"
        [objectToView]="objectToView"
        (back)="viewAll()"></espece-details>

    <espece-removal-confirmation *ngIf="isRemoveMode()"
        [objectToRemove]="objectToRemove"
        (confirm)="confirmObjectRemoval($event)">
    </espece-removal-confirmation>

</div>