<div class="lco-entity-form lco-entite-simple-form">
    <form (ngSubmit)="save()"
        #entiteSimpleForm="ngForm">
        <div>
            <h2 *ngIf="isCreationMode()">{{creationTitle}}</h2>
            <h2 *ngIf="isEditionMode()">{{editionTitle}}</h2>
        </div>
        <div>
            <div *ngIf="isEditionMode()"
                class="form-group">
                <label for="fieldId">ID</label>
                <input type="text"
                    class="form-control"
                    id="fieldId"
                    name="fieldId"
                    [(ngModel)]="object.id"
                    #fieldId="ngModel"
                    readonly/>
            </div>

            <!-- Classe -->
            <div class="form-group">
                <label class="control-label"
                    for="input-classe">Classe</label>
                <mat-select class="form-control"
                    id="input-classe"
                    name="input-classe"
                    [(ngModel)]="object.classe"
                    required>
                    <option *ngFor="let classe of classes"
                        [value]="classe"
                        required>
                        {{classe.libelle}}
                    </option>
                </mat-select>
            </div>

            <!-- Code -->
            <div class="form-group">
                <label class="control-label"
                    for="input-code">Code</label>
                <input type="text"
                    class="form-control"
                    name="input-code"
                    id="input-code"
                    [(ngModel)]="object.code"
                    #inputCode="ngModel"
                    required/>

                <div [hidden]="inputCode.valid || inputCode.pristine">
                    <p class="help-block"
                        [hidden]="inputCode.valid.required">
                        Le code de l'espèce ne peut pas être vide.
                    </p>
                </div>

            </div>

            <!-- Nom francais -->
            <div class="form-group">
                <label class="control-label"
                    for="input-nom-francais">Nom français</label>
                <input type="text"
                    class="form-control"
                    name="input-nom-francais"
                    id="input-nom-francais"
                    [(ngModel)]="object.nomFrancais"
                    #inputNomFrancais="ngModel"
                    required/>

                <div [hidden]="inputNomFrancais.valid || inputNomFrancais.pristine">
                    <p class="help-block"
                        [hidden]="inputNomFrancais.valid.required">
                        Le nom français de l'espèce ne peut pas être vide.
                    </p>
                </div>

            </div>

            <!-- Nom latin -->
            <div class="form-group">
                <label class="control-label"
                    for="input-nom-latin">Nom latin</label>
                <input type="text"
                    class="form-control"
                    name="input-nom-latin"
                    id="input-nom-latin"
                    [(ngModel)]="object.nomLatin"
                    #inputNomLatin="ngModel"
                    required/>

                <div [hidden]="inputNomLatin.valid || inputNomLatin.pristine">
                    <p class="help-block"
                        [hidden]="inputNomLatin.valid.required">
                        Le nom latin de l'espèce ne peut pas être vide.
                    </p>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-right ">
                <button mat-raised-button
                    color="accent"
                    (click)="cancel()">
                    <mat-icon>cancel</mat-icon>
                    <span>Annuler</span>
                </button>
                <button mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="!entiteSimpleForm.form.valid">
                    <mat-icon>save</mat-icon>
                    <span>Enregistrer</span>
                </button>
            </div>
        </div>
    </form>

</div>