<div class="page-container">
  <top-buttons
    title="Communes"
    createButtonLibelle="Créer une commune"
    exportButtonLibelle="Exporter les communes"
    [areButtonsDisplayed]="entityModeHelper.isViewAllMode()"
    (onClickNewObject)="newObject()"
    (onClickExportObjects)="exportObjects()"
    (onClickRefresh)="getAll()"
  ></top-buttons>

  <commune-table
    *ngIf="entityModeHelper.isViewAllMode()"
    [objects]="objects"
    (delete)="deleteObject($event)"
    (edit)="editObject($event)"
    (view)="viewObject($event)"
  >
  </commune-table>

  <entity-form
    *ngIf="
      entityModeHelper.isCreationMode() || entityModeHelper.isEditionMode()
    "
    [componentType]="getFormType()"
    creationTitle="Création d'une commune"
    editionTitle="Édition d'une commune"
    [entityForm]="form"
    [object]="objectToSave"
    (confirm)="saveObject($event)"
    (back)="cancelEdition()"
  ></entity-form>

  <entity-delete-confirmation
    *ngIf="entityModeHelper.isRemoveMode()"
    question="Êtes-vous certain de vouloir supprimer la commune ?"
    details="Tous les lieux-dits ({{
      currentObject.nbLieuxdits
    }}) et toutes les données ({{
      currentObject.nbDonnees
    }}) avec cette communes seront supprimés."
    cancellationLabel="Non, annuler la suppression"
    confirmationLabel="Oui, supprimer la commune"
    (confirm)="confirmObjectRemoval($event)"
  >
  </entity-delete-confirmation>

  <entity-details
    *ngIf="entityModeHelper.isViewOneMode() || entityModeHelper.isRemoveMode()"
    [detailsData]="getDetailsData()"
    detailsTitle="Détails de la commune"
    [isBackButtonDisplayed]="entityModeHelper.isViewOneMode()"
    (back)="viewAll()"
  >
  </entity-details>
</div>
