<h1 class="panel-header">Consultation des données</h1>
<div class="view-page-container">

  <!-- SEARCH PANEL -->
  <div class="search-filters-panel">
    <form [formGroup]="searchForm">
      <search></search>

      <button
        mat-raised-button
        type="submit"
        color="primary"
        (click)="onSearchButtonClicked()"
        [disabled]="displayWaitPanel$ | async"
      >
        Lancer la recherche
      </button>

      <!-- Coordinates system -->
      <mat-form-field class="search-coordinates-field">
        <mat-select
          id="input-coordinates"
          placeholder="Système de coordonnées"
          [formControl]="$any(searchForm.controls['coordinatesSystemType'])"
        >
          <mat-option *ngFor="let s of coordinatesSystems" [value]="s.code">
            {{ s.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- RETURNS AN EXCEL FILE -->
      <mat-checkbox
        id="input-excel"
        name="input-excel"
        [formControl]="$any(searchForm.controls['excelMode'])"
        >Exporter les résultats dans un fichier Excel</mat-checkbox
      >
    </form>
  </div>

  <!-- RESULTS PANEL-->
  <ng-container
    *ngIf="
      !(displayWaitPanel$ | async) &&
      donneesToDisplay.length > 0
    "
  >
    <mat-tab-group class="view-tab-group">
      <!-- DONNEES TABLE -->
      <mat-tab label="Données">
        <table-donnees [donneesToDisplay]="donneesToDisplay"></table-donnees>
      </mat-tab>
      <!-- ESPECES TABLE -->
      <mat-tab label="Espèces">
        <table-especes-with-nb-donnees></table-especes-with-nb-donnees>
      </mat-tab>
    </mat-tab-group>
  </ng-container>

  <!-- NO DATA PANEL -->
  <div *ngIf="displayNoDataPanel$ | async" style="text-align: center">
    <img
      src="../../../../../assets/img/blue-green-bird.svg"
      alt="Oiseaux"
      height="220px"
    />
    <div>Aucune donnée ne correspond à ces critères...</div>
  </div>

  <!-- WAIT PANEL-->
  <div *ngIf="displayWaitPanel$ | async" style="text-align: center">
    <img
      src="../../../../../assets/img/green-bird.svg"
      alt="Oiseaux"
      height="200px"
    />
    <div>Les données arrivent...</div>
  </div>
</div>
