<div class="bn-view-page">
  <div class="bn-entity-page-title">
    <h1>Consultation des données</h1>
  </div>

  <div>
    <div class="search-filters-panel">
      <form [formGroup]="searchForm">
        <div class="search-filters-form">
          <div>
            <!-- ID -->
            <mat-form-field>
              <input
                #input
                matInput
                [formControl]="searchForm.controls['id']"
                placeholder="ID"
                id="input-id"
                name="id"
                type="text"
              />
            </mat-form-field>

            <!-- OBSERVATEURS -->
            <input-observateur
              [control]="searchForm.controls['observateur']"
              [observateurs]="observateurs"
            ></input-observateur>

            <!-- DATES -->
            <mat-form-field>
              <input
                matInput
                maxlength="5"
                [matDatepicker]="picker"
                placeholder="Date de début"
                id="input-from-date"
                name="from-date"
                [formControl]="searchForm.controls['fromDate']"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                maxlength="5"
                [matDatepicker]="pickerToDate"
                placeholder="Date de fin"
                id="input-to-date"
                name="to-date"
                [formControl]="searchForm.controls['toDate']"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="pickerToDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerToDate></mat-datepicker>
            </mat-form-field>

            <!-- HEURE -->
            <input-time
              [control]="searchForm.controls['heure']"
              id="heure"
              label="Heure"
            ></input-time>

            <!-- DUREE -->
            <input-time
              [control]="searchForm.controls['duree']"
              id="duree"
              label="Durée"
            ></input-time>
          </div>

          <div>
            <!-- DEPARTEMENT / COMMUNE / LIEUDIT -->
            <input-lieudit
              formGroupName="lieuditGroup"
              [controlGroup]="searchForm.controls['lieuditGroup']"
              [departements]="departements$"
              [communes]="communes$"
              [lieuxdits]="lieuxdits$"
              [hideCoordinates]="true"
            >
            </input-lieudit>

            <!-- TEMPERATURE -->
            <input-temperature
              [control]="searchForm.controls['temperature']"
            ></input-temperature>

            <!-- METEO -->
            <autocomplete-meteo
              [control]="searchForm.controls['meteo']"
              [meteos]="meteos"
            ></autocomplete-meteo>

            <!-- OBSERVATEURS ASSOCIES -->
            <input-observateur
              [control]="searchForm.controls['associe']"
              [observateurs]="observateurs"
              [placeholder]="'Observateur associé'"
            ></input-observateur>
          </div>

          <div>
            <!-- CLASSE / ESPECE -->
            <input-espece
              formGroupName="especeGroup"
              [controlGroup]="searchForm.controls['especeGroup']"
              [classes]="classes$"
              [especes]="especes$"
            ></input-espece>

            <!-- ESTIMATION NOMBRE / NOMBRE -->
            <input-nombre
              class="estimation-nombre-espece"
              [controlGroup]="searchForm.controls['nombreGroup']"
              [estimationsNombre]="estimationsNombre"
              formGroupName="nombreGroup"
            >
            </input-nombre>

            <!-- SEXE -->
            <input-sexe
              class="sexe-espece"
              [control]="searchForm.controls['sexe']"
              [sexes]="sexes"
            ></input-sexe>

            <!-- AGE  -->
            <input-age
              class="age-espece"
              [control]="searchForm.controls['age']"
              [ages]="ages"
            ></input-age>
          </div>

          <div>
            <!-- ESTIMATION DISTANCE / DISTANCE -->
            <input-distance
              [controlGroup]="searchForm.controls['distanceGroup']"
              [estimationsDistance]="estimationsDistance"
              formGroupName="distanceGroup"
            >
            </input-distance>

            <!-- REGROUPEMENT -->
            <input-regroupement
              [control]="searchForm.controls['regroupement']"
              [hideButton]="true"
            ></input-regroupement>

            <!-- COMPORTEMENT -->
            <autocomplete-comportement
              [control]="searchForm.controls['comportement']"
              [comportements]="comportements"
            ></autocomplete-comportement>

            <!-- MILIEU -->
            <autocomplete-milieu
              [control]="searchForm.controls['milieu']"
              [milieux]="milieux"
            ></autocomplete-milieu>

            <!-- COMMENTAIRES -->
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Commentaires"
                id="input-commentaire"
                name="input-commentaire"
                [formControl]="searchForm.controls['commentaire']"
              />
            </mat-form-field>
          </div>
        </div>
        <button
          mat-raised-button
          color="primary"
          (click)="onSearchButtonClicked()"
          [disabled]="displayWaitPanel"
        >
          Lancer la recherche
        </button>

        <!-- Retourner un fichier excel -->
        <mat-checkbox
          id="input-excel"
          name="input-excel"
          [formControl]="searchForm.controls['excelMode']"
          >Exporter les résultats dans un fichier Excel</mat-checkbox
        >
      </form>
    </div>

    <table-donnees
      *ngIf="!displayWaitPanel"
      [donneesToDisplay]="donneesToDisplay"
    ></table-donnees>

    <div *ngIf="displayWaitPanel" style="text-align: center">
      <img
        src="../../../../../assets/img/green-bird.svg"
        alt="Oiseaux"
        height="200px"
      />
      <div>Les données arrivent...</div>
    </div>
  </div>
</div>
