<h1 class="panel-header">Consultation des données</h1>
<div class="view-page-container">

  <!-- SEARCH PANEL -->
  <div class="search-filters-panel" fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="center center">
    <search fxFlex="1 0 auto"></search>

    <button
      mat-raised-button
      type="submit"
      color="accent"
      (click)="onExcelExportClicked()"
      [disabled]="displayWaitPanel$ | async"
    >
      Exporter les résultats dans un fichier Excel
    </button>
  </div>

  <!-- RESULTS PANEL-->
  <ng-container
    *ngIf="
      !(displayWaitPanel$ | async)
    "
  >
    <mat-tab-group class="view-tab-group">
      <!-- DONNEES TABLE -->
      <mat-tab label="Données">
        <table-donnees></table-donnees>
      </mat-tab>
      <!-- ESPECES TABLE -->
      <mat-tab label="Espèces">
        <table-especes-with-nb-donnees></table-especes-with-nb-donnees>
      </mat-tab>
    </mat-tab-group>
  </ng-container>

  <!-- WAIT PANEL-->
  <div *ngIf="displayWaitPanel$ | async" style="text-align: center">
    <img
      src="../../../../../assets/img/green-bird.svg"
      alt="Oiseaux"
      height="200px"
    />
    <div>Les données arrivent...</div>
  </div>
</div>
