<div class="lco-entity-page lco-age-page configuration-container">
  <div class="configuration-container-header">
    <div class="col-xs-6 lco-entity-page-title">
      <h1>Configuration</h1>
    </div>
    <span class="flex-spacer"></span>
    <ng-container *ngIf="modeHelper.isViewAllMode(mode)">
      <button mat-raised-button
        class="refresh-button"
        color="primary"
        (click)="refresh()">
        <mat-icon>refresh</mat-icon>
        <span>Rafraîchir</span>
      </button>
      <span class="button-spacer"></span>
      <button mat-raised-button
        class="edit-button"
        color="primary"
        (click)="editConfigurations()">
        <mat-icon>create</mat-icon>
        <span>Modifier les configurations</span>
      </button>
    </ng-container>
  </div>

  <hr>

  <configuration-form *ngIf="modeHelper.isEditionMode(mode)"
    [model]="configurationToSave"
    [ages]="pageModel.ages"
    [departements]="pageModel.departements"
    [estimationsNombre]="pageModel.estimationsNombre"
    [observateurs]="pageModel.observateurs"
    [sexes]="pageModel.sexes"
    (confirm)="saveAppConfiguration()"
    (back)="cancelEdition()"></configuration-form>

  <div *ngIf="modeHelper.isViewAllMode(mode)"
    class="table-responsive">
    <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="propriete">
        <mat-header-cell *matHeaderCellDef> Propriété </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.propriete}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="valeur">
        <mat-header-cell mat-header-cell
          *matHeaderCellDef> Valeur </mat-header-cell>
        <mat-cell mat-cell
          *matCellDef="let element"> {{element.valeur}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

</div>