<div class="page-container">
  <h1>Import de données</h1>

  <ng-container *ngIf="isWaitPanelDisplayed$ | async">
    <h2><mat-icon>loop</mat-icon> Veuillez patienter pendant l'import...</h2>
  </ng-container>

  <ng-container *ngIf="!(isWaitPanelDisplayed$ | async)">
    <h2>Tutoriel d'import</h2>
    <h3>Préparation du fichier d'entrée</h3>
    <p>
      Copiez les données à importer dans un tableur Excel en respectant le
      format indiqué pour chaque type de données.
    </p>
    <p>
      Cliquez sur "Enregistrez-sous", choisir le type de fichier "CSV
      (séparateur point-virgule)". Enregistrez.
    </p>
    <p>
      Ouvrez le fichier avec un éditeur de texte (Notepad) et vérifiez que vous
      avez respecté les points suivants:
    </p>
    <ul>
      <li>Le fichier d'entrée ne doit pas contenir d'en-tête.</li>
      <li>Les colonnes sont séparées par des points-virgule (;).</li>
      <li>L'ordre des colonnes est respecté.</li>
      <li>Il n'y a pas de ligne vide à la fin du fichier.</li>
    </ul>

    <h3>Import</h3>
    <p>
      Plus bas dans la page, choisissez le type de données que vous souhaitez
      importer.
    </p>
    <p>Choisissez le fichier d'entrée que vous venez de préparer.</p>
    <p>Cliquer sur le bouton d'import.</p>
    <p>L'import se lance.</p>

    <h3>Résultats de l'import</h3>
    <p>
      L'application va lire chaque ligne du fichier d'entrée et tenter
      d'importer cette ligne dans la base de données.
    </p>
    <p>
      Toutes les lignes qui n'ont pas pu être importées sont enregistrées dans
      un fichier de sortie que vous pourrez télécharger à la fin du processus.
    </p>

    <mat-accordion>
      <!-- OBSERVATEURS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Importer des Observateurs</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Liste des colonnes:</p>
        <ul>
          <li>Colonne A: Nom de l'observateur</li>
        </ul>

        <input
          type="file"
          id="input-observateur"
          name="observateur"
          (change)="setFile($event)"
        />

        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="onImportClicked('observateur')"
        >
          Lancer l'import des observateurs
        </button>
      </mat-expansion-panel>

      <!-- DEPARTEMENTS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Importer des Départements</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Liste des colonnes:</p>
        <ul>
          <li>Colonne A: Département</li>
        </ul>

        <input
          type="file"
          id="input-departement"
          name="departement"
          (change)="setFile($event)"
        />

        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="onImportClicked('departement')"
        >
          Lancer l'import des départements
        </button>
      </mat-expansion-panel>

      <!-- COMMUNE -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Importer des Communes</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Liste des colonnes:</p>
        <ul>
          <li>Colonne A: Département</li>
          <li>Colonne B: Code de la communne</li>
          <li>Colonne C: Nom de la commune</li>
        </ul>

        <input
          type="file"
          id="input-commune"
          name="commune"
          (change)="setFile($event)"
        />

        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="onImportClicked('commune')"
        >
          Lancer l'import des communes
        </button>
      </mat-expansion-panel>

      <!-- LIEUDIT -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Importer des Lieux-dits</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>
          Les coordonnées seront considérées dans le système de coordonnées
          courant de l'application (voir page de gestion des préférences).
        </p>

        <p>Liste des colonnes:</p>
        <ul>
          <li>Colonne A: Département</li>
          <li>Colonne B: Code de la communne</li>
          <li>Colonne C: Nom de la commune</li>
          <li>Colonne D: Lieu-dit</li>
          <li>Colonne E: Altitude (nombre entier)</li>
          <li>Colonne F: Longitude (nombre décimal)</li>
          <li>Colonne G: Latitude (nombre décimal)</li>
        </ul>

        <input
          type="file"
          id="input-lieudit"
          name="lieudit"
          (change)="setFile($event)"
        />

        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="onImportClicked('lieudit')"
        >
          Lancer l'import des lieux-dits
        </button>
      </mat-expansion-panel>

      <!-- METEO -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Importer des Météos</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Liste des colonnes:</p>
        <ul>
          <li>Colonne A: Libellé de la météo</li>
        </ul>

        <input
          type="file"
          id="input-meteo"
          name="meteo"
          (change)="setFile($event)"
        />

        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="onImportClicked('meteo')"
        >
          Lancer l'import des météos
        </button>
      </mat-expansion-panel>

      <!-- CLASSE -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Importer des Classes espèces</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Liste des colonnes:</p>
        <ul>
          <li>Colonne A: Libellé de la classe espèce</li>
        </ul>

        <input
          type="file"
          id="input-classe"
          name="classe"
          (change)="setFile($event)"
        />

        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="onImportClicked('classe')"
        >
          Lancer l'import des classes espèces
        </button>
      </mat-expansion-panel>

      <!-- ESPECE -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Importer des Espèces</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Liste des colonnes:</p>
        <ul>
          <li>Colonne A: Libellé de la classe espèce</li>
          <li>Colonne B: Code de l'espèce</li>
          <li>Colonne C: Nom français de l'espèce</li>
          <li>Colonne D: Nom latin de l'espèce</li>
        </ul>

        <input
          type="file"
          id="input-espece"
          name="espece"
          (change)="setFile($event)"
        />

        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="onImportClicked('espece')"
        >
          Lancer l'import des espèces
        </button>
      </mat-expansion-panel>

      <!-- SEXE -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Importer des Sexes</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Liste des colonnes:</p>
        <ul>
          <li>Colonne A: Libellé du sexe</li>
        </ul>

        <input
          type="file"
          id="input-sexe"
          name="sexe"
          (change)="setFile($event)"
        />

        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="onImportClicked('sexe')"
        >
          Lancer l'import des sexes
        </button>
      </mat-expansion-panel>

      <!-- AGE -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Importer des Âges</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Liste des colonnes:</p>
        <ul>
          <li>Colonne A: Libellé de l'âge</li>
        </ul>

        <input
          type="file"
          id="input-age"
          name="age"
          (change)="setFile($event)"
        />

        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="onImportClicked('age')"
        >
          Lancer l'import des âges
        </button>
      </mat-expansion-panel>

      <!-- ESTIMATION NOMBRE -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Importer des Estimations du nombre</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>
          Après l'import rendez vous sur la page de modification des estimations
          du nombre pour régler l'option "Non compté".
        </p>
        <p>Liste des colonnes:</p>
        <ul>
          <li>Colonne A: Libellé de l'estimation du nombre</li>
        </ul>

        <input
          type="file"
          id="input-estimation-nombre"
          name="estimation-nombre"
          (change)="setFile($event)"
        />

        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="onImportClicked('estimation-nombre')"
        >
          Lancer l'import des estimations du nombre
        </button>
      </mat-expansion-panel>

      <!-- ESTIMATION DISTANCE -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Importer des Estimations de la distance</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Liste des colonnes:</p>
        <ul>
          <li>Colonne A: Libellé de l'estimation de la distance</li>
        </ul>

        <input
          type="file"
          id="input-estimation-distance"
          name="estimation-distance"
          (change)="setFile($event)"
        />

        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="onImportClicked('estimation-distance')"
        >
          Lancer l'import des estimations de la distance
        </button>
      </mat-expansion-panel>

      <!-- COMPORTEMENT -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Importer des Comportements</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>
          Après l'import rendez vous sur la page de modification des
          comportements pour régler l'option "Nicheur".
        </p>

        <p>Liste des colonnes:</p>
        <ul>
          <li>Colonne A: Code du comportement</li>
          <li>Colonne B: Libellé du comportement</li>
        </ul>

        <input
          type="file"
          id="input-comportement"
          name="comportement"
          (change)="setFile($event)"
        />

        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="onImportClicked('comportement')"
        >
          Lancer l'import des comportements
        </button>
      </mat-expansion-panel>

      <!-- MILIEUX -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Importer des Milieux</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Liste des colonnes:</p>
        <ul>
          <li>Colonne A: Code du milieu</li>
          <li>Colonne B: Libellé du milieu</li>
        </ul>

        <input
          type="file"
          id="input-milieu"
          name="milieu"
          (change)="setFile($event)"
        />

        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="onImportClicked('milieu')"
        >
          Lancer l'import des milieux
        </button>
      </mat-expansion-panel>

      <!-- DONNEE -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Importer des Données</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>
          Les coordonnées seront considérées dans le système de coordonnées
          courant de l'application (voir page de gestion des préférences).
        </p>

        <p>Liste des colonnes:</p>
        <ul>
          <li>Colonne A: Observateur</li>
          <li>
            Colonne B: Observateurs associés (liste séparée par des virgules)
          </li>
          <li>Colonne C: Date (JJ/MM/AAAA)</li>
          <li>Colonne D: Heure (HH:MM ou HHhMM or HHHMM)</li>
          <li>Colonne E: Durée (HH:MM ou HHhMM or HHHMM)</li>
          <li>Colonne F: Département</li>
          <li>Colonne G: Code commune</li>
          <li>Colonne H: Lieu-dit</li>
          <li>Colonne I: Altitude (nombre entier)</li>
          <li>Colonne J: Longitude (nombre décimal)</li>
          <li>Colonne K: Latitude (nombre décimal)</li>
          <li>Colonne L: Température</li>
          <li>Colonne M: Météos (liste séparée par des virgules)</li>
          <li>Colonne N: Code de l'espèce</li>
          <li>Colonne O: Estimation du nombre</li>
          <li>Colonne P: Nombre (nombre entier ou vide)</li>
          <li>Colonne Q: Sexe</li>
          <li>Colonne R: Âge</li>
          <li>Colonne S: Estimation distance</li>
          <li>Colonne T: Distance (nombre entier)</li>
          <li>Colonne U: Numéro de regroupement</li>
          <li>Colonne V: Code comportement 1</li>
          <li>Colonne W: Code comportement 2</li>
          <li>Colonne X: Code comportement 3</li>
          <li>Colonne Y: Code comportement 4</li>
          <li>Colonne Z: Code comportement 5</li>
          <li>Colonne AA: Code comportement 6</li>
          <li>Colonne AB: Code milieu 1</li>
          <li>Colonne AC: Code milieu 2</li>
          <li>Colonne AD: Code milieu 3</li>
          <li>Colonne AE: Code milieu 4</li>
          <li>Colonne AF: Commentaire</li>
        </ul>

        <input
          type="file"
          id="input-donnee"
          name="donnee"
          (change)="setFile($event)"
        />

        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="onImportClicked('donnee')"
        >
          Lancer l'import des données
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</div>
