<div class="lco-entity-page lco-age-page">
    <div class="row">
        <div class="col-xs-6 lco-entity-page-title">
            <h1>Configuration</h1>
        </div>
        <div class="col-xs-6 text-right lco-entity-top-buttons">
            <button class="btn btn-default"
                (click)="refresh()">
                <span class="glyphicon glyphicon-refresh">&nbsp;</span>
                <span>Rafraîchir</span>
            </button>

            <button class="btn btn-default"
                (click)="editConfigurations()">
                <span class="glyphicon glyphicon-pencil">&nbsp;</span>
                <span>Modifier les configurations</span>
            </button>
        </div>
    </div>

    <hr>

    <configuration-form *ngIf="modeHelper.isEditionMode(mode)"
        [model]="configurationToSave"
        [ages]="pageModel.ages"
        [departements]="pageModel.departements"
        [estimationsNombre]="pageModel.estimationsNombre"
        [observateurs]="pageModel.observateurs"
        [sexes]="pageModel.sexes"
        (confirm)="saveConfigurations()"
        (back)="cancelEdition()"></configuration-form>

    <div *ngIf="modeHelper.isViewAllMode(mode)"
        class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Propriété</th>
                    <th>Valeur</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Nom de l'application</td>
                    <td>{{pageModel?.applicationName}}</td>
                </tr>
                <tr>
                    <td>Observateur par défaut</td>
                    <td>{{pageModel?.defaultObservateur?.libelle}}</td>
                </tr>
                <tr>
                    <td>Département par défaut</td>
                    <td>{{pageModel?.defaultDepartement?.code}}</td>
                </tr>
                <tr>
                    <td>Estimation du nombre par défaut</td>
                    <td>{{pageModel?.defaultEstimationNombre?.libelle}}</td>
                </tr>
                <tr>
                    <td>Nombre par défaut</td>
                    <td>{{pageModel?.defaultNombre}}</td>
                </tr>
                <tr>
                    <td>Sexe par défaut</td>
                    <td>{{pageModel?.defaultSexe?.libelle}}</td>
                </tr>
                <tr>
                    <td>Âge par défaut</td>
                    <td>{{pageModel?.defaultAge?.libelle}}</td>
                </tr>
                <tr>
                    <td>Afficher les observateurs associés</td>
                    <td>
                        <span *ngIf="pageModel?.areAssociesDisplayed">Oui</span>
                        <span *ngIf="!pageModel?.areAssociesDisplayed">Non</span>
                    </td>
                </tr>
                <tr>
                    <td>Afficher la météo</td>
                    <td>
                        <span *ngIf="pageModel?.isMeteoDisplayed">Oui</span>
                        <span *ngIf="!pageModel?.isMeteoDisplayed">Non</span>
                    </td>
                </tr>
                <tr>
                    <td>Afficher la distance</td>
                    <td>
                        <span *ngIf="pageModel?.isDistanceDisplayed">Oui</span>
                        <span *ngIf="!pageModel?.isDistanceDisplayed">Non</span>
                    </td>
                </tr>
                <tr>
                    <td>Afficher le numéro de regroupement</td>
                    <td>
                        <span *ngIf="pageModel?.isRegroupementDisplayed">Oui</span>
                        <span *ngIf="!pageModel?.isRegroupementDisplayed">Non</span>
                    </td>
                </tr>
                <tr>
                    <td>Chemin vers MySQL</td>
                    <td>{{pageModel?.mySqlPath}}</td>
                </tr>
                <tr>
                    <td>Chemin vers MySQL dump</td>
                    <td>{{pageModel?.mySqlDumpPath}}</td>
                </tr>

            </tbody>
        </table>
    </div>

</div>