<div class="lco-entity-page lco-age-page">
    <div class="row">
        <div class="col-xs-6 lco-entity-page-title">
            <h1>Configuration</h1>
        </div>
        <div class="col-xs-6 text-right lco-entity-top-buttons">
            <button class="btn btn-default"
                (click)="refresh()">
                <span class="glyphicon glyphicon-refresh">&nbsp;</span>
                <span>Rafraîchir</span>
            </button>
        </div>
    </div>

    <hr>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Propriété</th>
                    <th>Valeur</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Nom du logiciel</td>
                    <td>{{pageModel.applicationName}}</td>
                    <td class="text-right">
                        <table-buttons [object]="object"
                            [hideViewButton]="true"
                            [hideDeleteButton]="true"
                            (onClickEditObject)="editApplicationName()">
                        </table-buttons>
                    </td>
                </tr>
                <tr>
                    <td>Observateur par défaut</td>
                    <td>{{pageModel.defaultObservateur?.libelle}}</td>
                    <td class="text-right">
                        <table-buttons [object]="object"
                            [hideViewButton]="true"
                            [hideDeleteButton]="true"
                            (onClickEditObject)="editObservateur()">
                        </table-buttons>
                    </td>
                </tr>
                <tr>
                    <td>Département par défaut</td>
                    <td>{{pageModel.defaultDepartement?.code}}</td>
                    <td class="text-right">
                        <table-buttons [object]="object"
                            [hideViewButton]="true"
                            [hideDeleteButton]="true"
                            (onClickEditObject)="editDepartement()">
                        </table-buttons>
                    </td>
                </tr>
                <tr>
                    <td>Estimation nombre par défaut</td>
                    <td>{{pageModel.defaultEstimationNombre?.libelle}}</td>
                    <td class="text-right">
                        <table-buttons [object]="object"
                            [hideViewButton]="true"
                            [hideDeleteButton]="true"
                            (onClickEditObject)="editEstimationNombre()">
                        </table-buttons>
                    </td>
                </tr>
                <tr>
                    <td>Nombre par défaut</td>
                    <td>{{pageModel.defaultNombre}}</td>
                    <td class="text-right">
                        <table-buttons [object]="object"
                            [hideViewButton]="true"
                            [hideDeleteButton]="true"
                            (onClickEditObject)="editNombre()">
                        </table-buttons>
                    </td>
                </tr>
                <tr>
                    <td>Sexe par défaut</td>
                    <td>{{pageModel.defaultSexe?.libelle}}</td>
                    <td class="text-right">
                        <table-buttons [object]="object"
                            [hideViewButton]="true"
                            [hideDeleteButton]="true"
                            (onClickEditObject)="editSexe()">
                        </table-buttons>
                    </td>
                </tr>
                <tr>
                    <td>Âge par défaut</td>
                    <td>{{pageModel.defaultAge?.libelle}}</td>
                    <td class="text-right">
                        <table-buttons [object]="object"
                            [hideViewButton]="true"
                            [hideDeleteButton]="true"
                            (onClickEditObject)="editAge()">
                        </table-buttons>
                    </td>
                </tr>
                <tr>
                    <td>Afficher les observateurs associés</td>
                    <td>
                        <span *ngIf="pageModel.areAssociesDisplayed">Oui</span>
                        <span *ngIf="!pageModel.areAssociesDisplayed">Non</span>
                    </td>
                    <td class="text-right">
                        <table-buttons [object]="object"
                            [hideViewButton]="true"
                            [hideDeleteButton]="true"
                            (onClickEditObject)="editAssociesDisplayed()">
                        </table-buttons>
                    </td>
                </tr>
                <tr>
                    <td>Afficher la météo</td>
                    <td>
                        <span *ngIf="pageModel.isMeteoDisplayed">Oui</span>
                        <span *ngIf="!pageModel.isMeteoDisplayed">Non</span>
                    </td>
                    <td class="text-right">
                        <table-buttons [object]="object"
                            [hideViewButton]="true"
                            [hideDeleteButton]="true"
                            (onClickEditObject)="editMeteoDisplayed()">
                        </table-buttons>
                    </td>
                </tr>
                <tr>
                    <td>Afficher la distance</td>
                    <td>
                        <span *ngIf="pageModel.isDistanceDisplayed">Oui</span>
                        <span *ngIf="!pageModel.isDistanceDisplayed">Non</span>
                    </td>
                    <td class="text-right">
                        <table-buttons [object]="object"
                            [hideViewButton]="true"
                            [hideDeleteButton]="true"
                            (onClickEditObject)="editDistanceDisplayed()">
                        </table-buttons>
                    </td>
                </tr>
                <tr>
                    <td>Afficher le numéro de regroupement</td>
                    <td>
                        <span *ngIf="pageModel.isRegroupementDisplayed">Oui</span>
                        <span *ngIf="!pageModel.isRegroupementDisplayed">Non</span>
                    </td>
                    <td class="text-right">
                        <table-buttons [object]="object"
                            [hideViewButton]="true"
                            [hideDeleteButton]="true"
                            (onClickEditObject)="editRegroupementDisplayed()">
                        </table-buttons>
                    </td>
                </tr>
                <tr>
                    <td>Colonnes à afficher dans l'onglet Vue</td>
                    <td>{{pageModel.applicationName}}</td>
                    <td class="text-right">
                        <table-buttons [object]="object"
                            [hideViewButton]="true"
                            [hideDeleteButton]="true"
                            (onClickEditObject)="editColumnsToDisplay()">
                        </table-buttons>
                    </td>
                </tr>
                <tr>
                    <td>Chemin vers MySQL</td>
                    <td>{{pageModel.mySqlPath}}</td>
                    <td class="text-right">
                        <table-buttons [object]="object"
                            [hideViewButton]="true"
                            [hideDeleteButton]="true"
                            (onClickEditObject)="editMySqlPath()">
                        </table-buttons>
                    </td>
                </tr>
                <tr>
                    <td>Chemin vers MySQL dump</td>
                    <td>{{pageModel.mySqlDumpPath}}</td>
                    <td class="text-right">
                        <table-buttons [object]="object"
                            [hideViewButton]="true"
                            [hideDeleteButton]="true"
                            (onClickEditObject)="editMySqlDumpPath()">
                        </table-buttons>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>