<div class="lco-entity-page">
  <top-buttons title="Observateurs"
    createButtonLibelle="Créer un observateur"
    exportButtonLibelle="Exporter les observateurs"
    [areButtonsDisplayed]="isViewAllMode()"
    (onClickNewObject)="newObject()"
    (onClickExportObjects)="exportObjects()"
    (onClickRefresh)="getAll()"></top-buttons>

  <hr *ngIf="isCreationMode() || isEditionMode() || isViewOneMode() || isRemoveMode()">

  <entity-messages [messages]="messages"
    [status]="status"></entity-messages>

  <observateur-table *ngIf="isViewAllMode()"
    [objects]="objects"
    (delete)="deleteObject($event)"
    (edit)="editObject($event)"
    (view)="viewObject($event)">
  </observateur-table>

  <observateur-form *ngIf="isCreationMode() || isEditionMode()"
    [object]="objectToSave"
    [mode]="mode"
    (confirm)="saveObject()"
    (back)="cancelEdition()">
  </observateur-form>

  <entite-delete-confirmation *ngIf="isRemoveMode()"
    question="Êtes-vous certain de vouloir supprimer l'observateur ?"
    details="Toutes les données avec cet observateur seront supprimées."
    cancellationLabel="Non, annuler la suppression"
    confirmationLabel="Oui, supprimer l'observateur"
    (confirm)="confirmObjectRemoval($event)">
  </entite-delete-confirmation>

  <entite-details *ngIf="isViewOneMode() || isRemoveMode()"
    [detailsData]="getDetailsData()"
    detailsTitle="Détails de l'observateur"
    [isBackButtonDisplayed]="isViewOneMode()"
    (back)="viewAll()">
  </entite-details>

</div>