<h2 mat-dialog-title class="center">Initialisation de la base de données requise</h2>

<mat-dialog-content class="mat-typography center">

    Il semblerait que ce soit la première fois que l'application est lancée sur cette base de données.
    Une configuration initiale de cette base est requise.
    Veuillez cliquer sur le bouton-ci-dessous pour effectuer cette configuration initiale.
    <br>
    Cette fenêtre se fermera automatiquement à la fin du processus de mise à jour.

    <br>

    <button mat-raised-button color="accent" (click)="initializeDatabaseClicked()">Initialiser la base de données</button>
    
</mat-dialog-content>
