<mat-card>
  <mat-card-title>
    <h2>{{detailsTitle}}</h2>
  </mat-card-title>

  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let data of detailsData">
        <strong>{{data.key}}</strong>&nbsp; {{data.value}}
      </mat-list-item>
    </mat-list>

    <button *ngIf="isBackButtonDisplayed"
      mat-raised-button
      color="accent"
      (click)="backToViewAll()"
      class="btn btn-info">
      <mat-icon>keyboard_backspace</mat-icon>
      <span> Retour</span>
    </button>

  </mat-card-content>
</mat-card>