<div class="lco-entity-page">
    <top-buttons title="Âges"
        createButtonLibelle="Créer un âge"
        exportButtonLibelle="Exporter les âges"
        [areButtonsDisplayed]="isViewAllMode()"
        (onClickNewObject)="newObject()"
        (onClickExportObjects)="exportObjects()"
        (onClickRefresh)="getAll()"></top-buttons>

    <hr *ngIf="isCreationMode() || isEditionMode() || isViewOneMode() || isRemoveMode()">

    <entity-messages [messages]="messages"
        [status]="status"></entity-messages>

    <age-table *ngIf="isViewAllMode()"
        [objects]="objects"
        (delete)="deleteObject($event)"
        (edit)="editObject($event)"
        (view)="viewObject($event)"></age-table>

    <age-form *ngIf="isCreationMode() || isEditionMode()"
        [object]="objectToSave"
        [mode]="mode"
        creationTitle="Création d'un âge"
        editionTitle="Edition de l'âge"
        (confirm)="saveObject()"
        (back)="cancelEdition()"></age-form>

    <age-details *ngIf="isViewOneMode()"
        [objectToView]="objectToView"
        detailsTitle="Détails de l'âge"
        (back)="viewAll()"></age-details>

    <age-removal-confirmation *ngIf="isRemoveMode()"
        [objectToRemove]="objectToRemove"
        (confirm)="confirmObjectRemoval($event)"></age-removal-confirmation>

</div>