<!-- NOMBRE -->
<mat-form-field fxFlex="1 0 100px">
  <input
    #input
    matInput
    [formControl]="$any(controlGroup.controls['nombre'])"
    placeholder="Nombre d'individus"
    id="input-nombre"
    min="1"
    max="65535"
    name="nombre"
    type="number"
  />
</mat-form-field>

<!-- ESTIMATION NOMBRE -->
<autocomplete-v2
  fxFlex="1 0 100px"
  [type]="'Estimation du nombre'"
  [values]="matchingEstimationsNombre$"
  [control]="$any(controlGroup.controls['estimationNombre'])"
  [displayFn]="displayEstimationNombreFormat"
>
</autocomplete-v2>

