<!-- NOMBRE -->
<mat-form-field class="nombre-espece">
  <input
    #input
    matInput
    [formControl]="controlGroup.controls['nombre']"
    placeholder="Nombre d'individus"
    id="input-nombre"
    min="1"
    max="99999"
    name="nombre"
    type="number"
  />
</mat-form-field>

<!-- ESTIMATION NOMBRE -->
<autocomplete
  *ngIf="!isMultipleSelectMode"
  [type]="'Estimation du nombre'"
  [values]="estimationsNombre"
  [control]="controlGroup.controls['estimationNombre']"
  [attributesToFilter]="autocompleteAttributes"
  [displayFn]="displayEstimationNombreFormat"
>
</autocomplete>

<multiple-select
  *ngIf="isMultipleSelectMode"
  [attributesToDisplay]="['libelle']"
  [control]="controlGroup.controls['estimationsNombre']"
  [id]="'estimations-nombre'"
  [options]="estimationsNombre"
  [placeholder]="'Estimations du nombre'"
></multiple-select>
