<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Libellé</th>

        <th>Non compté</th>

        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let object of objects">

        <td>{{object.libelle}}</td>

        <td>
          <input *ngIf="object.nonCompte"
            type="checkbox"
            disabled
            checked>
          <input *ngIf="!object.nonCompte"
            type="checkbox"
            disabled>
        </td>

        <td class="text-right">
          <table-buttons [object]="selectedObject"
            (onClickViewObject)="viewObject(selectedObject)"
            (onClickEditObject)="editObject($event)"
            (onClickDeleteObject)="deleteObject($event)"></table-buttons>
        </td>
      </tr>
    </tbody>
  </table>
</div>