<div class="lco-creation-page mat-typography">

  <h1 class="mat-display-1"
    style="display: none">Création des données</h1>

  <div class="panel panel-default">
    <div class="panel-body lco-creation-body">
      <div class="panel-heading lco-creation-messages">

        <div [ngSwitch]="status">
          <div *ngSwitchCase="'ERROR'"
            class="col-xs-12">
            <ul>
              <li *ngFor="let message of messages">{{message?.value}}</li>
            </ul>
          </div>
          <div *ngSwitchCase="'SUCCESS'"
            class="col-xs-12">
            <ul>
              <li *ngFor="let message of messages">{{message?.value}}</li>
            </ul>
          </div>
          <div *ngSwitchDefault
            class="col-xs-12">
            <strong>Aucun message</strong>
          </div>
        </div>
      </div>
      <div class="lco-creation-buttons">
        <button mat-raised-button
          color="primary"
          *ngIf="isNewDonneeBtnDisplayed()"
          class="btn btn-default btn-sm"
          type="button"
          style="float: left; margin-right: 8px"
          (click)="onNewDonneeBtnClicked()">
          Nouvelle donnée
        </button>

        <button mat-raised-button
          color="primary"
          [disabled]="!isPreviousDonneeBtnDisplayed()"
          class="btn btn-info btn-sm"
          type="button"
          style="float: left; margin-right: 8px"
          (click)="onPreviousDonneeBtnClicked()">
          Donnée précédente
        </button>

        <button mat-raised-button
          color="primary"
          [disabled]="!isNextDonneeBtnDisplayed()"
          class="btn btn-info btn-sm"
          type="button"
          style="float: left; margin-right: 8px"
          (click)="onNextDonneeBtnClicked()">
          Donnée suivante
        </button>


        <button mat-raised-button
          color="primary"
          *ngIf="modeHelper.isInventaireMode(mode)"
          class="btn btn-success btn-sm"
          type="button"
          style="float: right"
          [disabled]="!donneeForm.form.valid"
          (click)="saveInventaire()">
          Enregistrer l'inventaire
        </button>
        <button mat-raised-button
          color="primary"
          *ngIf="modeHelper.isDonneeMode(mode)"
          class="btn btn-success btn-sm"
          style="float: right"
          type="button"
          [disabled]="!donneeForm.form.valid"
          (click)="saveDonnee()">
          Enregistrer la donnée
        </button>
        <button mat-raised-button
          color="primary"
          *ngIf="modeHelper.isUpdateMode(mode)"
          class="btn btn-success btn-sm"
          style="float: right"
          type="button"
          [disabled]="!donneeForm.form.valid"
          (click)="saveInventaireAndDonnee()">
          Mettre à jour la donnée
        </button>

        <button mat-raised-button
          color="primary"
          *ngIf="isDeleteDonneeBtnDisplayed()"
          class="btn btn-danger btn-sm"
          type="button"
          style="float: right; margin-right: 8px"
          (click)="onDeleteDonneeBtnClicked()">
          Supprimer la donnée
        </button>
      </div>

      <form class="form-horizontal"
        #donneeForm="ngForm">
        <div class="lco-creation-form">
          <div class="lco-creation-inventaire">
            <h2>Fiche Inventaire
              <button mat-raised-button
                color="primary"
                *ngIf="modeHelper.isDonneeMode(mode)"
                type="button"
                class="btn btn-primary btn-sm"
                (click)="onNewInventaireBtnClicked()"
                style="float: right">
                Nouvel inventaire
              </button>

              <button mat-raised-button
                color="primary"
                *ngIf="modeHelper.isDonneeMode(mode)"
                type="button"
                class="btn btn-primary btn-sm"
                (click)="onEditInventaireBtnClicked()"
                style="float: right; margin-right: 3px;">
                Modifier l'inventaire
              </button>
            </h2>
            <div class="lco-creation-subform lco-creation-observateurs">
              <!-- OBSERVATEUR -->
              <div class="form-group">
                <div class="col-sm-9">
                  <mat-form-field>
                    <mat-select class="form-control input-sm"
                      placeholder="Observateur"
                      id="input-observateur"
                      name="input-observateur"
                      [(ngModel)]="inventaireToSave.observateur"
                      [required]="!isInventaireDisabled"
                      [disabled]="isInventaireDisabled">
                      <mat-option *ngFor="let observateur of pageModel.observateurs"
                        [value]="observateur">
                        {{observateur.libelle}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <!-- ASSOCIES -->
              <div *ngIf="pageModel.areAssociesDisplayed"
                class="form-group">
                <div class="col-sm-9">

                  <mat-form-field>
                    <mat-select class="form-control input-sm"
                      placeholder="Associés"
                      id="input-associes"
                      name="input-associes"
                      [disabled]="isInventaireDisabled"
                      [(ngModel)]="inventaireToSave.associes"
                      multiple>
                      <mat-option *ngFor="let observateur of pageModel.observateurs"
                        [value]="observateur">
                        {{observateur.libelle}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="lco-creation-subform lco-creation-date">
              <!-- DATE -->
              <div class="form-group">
                <mat-form-field>
                  <input matInput
                    [matDatepicker]="picker"
                    placeholder="Date"
                    id="input-date"
                    name="date"
                    [(ngModel)]="dateInventaire"
                    [disabled]="isInventaireDisabled"
                    [required]="!isInventaireDisabled">
                  <mat-datepicker-toggle matSuffix
                    [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <!-- HEURE -->
              <div class="form-group">
                <mat-form-field>
                  <input matInput
                    placeholder="Heure"
                    type="time"
                    class="form-control input-sm"
                    id="input-heure"
                    name="heure"
                    [(ngModel)]="inventaireToSave.heure"
                    [disabled]="isInventaireDisabled">
                </mat-form-field>
              </div>
              <!-- DUREE -->
              <div class="form-group">
                <mat-form-field>
                  <input matInput
                    placeholder="Durée"
                    type="time"
                    class="form-control input-sm"
                    id="input-duree"
                    name="duree"
                    [(ngModel)]="inventaireToSave.duree"
                    [disabled]="isInventaireDisabled">
                </mat-form-field>
              </div>
            </div>

            <div class="lco-creation-subform lco-creation-localisation">
              <div class="form-group">
                <div class="col-sm-9">
                  <mat-form-field>
                    <mat-select class="form-control input-sm"
                      placeholder="Département"
                      id="input-departement"
                      name="departement"
                      [(ngModel)]="selectedDepartement"
                      [required]="!isInventaireDisabled"
                      [disabled]="isInventaireDisabled"
                      (selectionChange)="updateCommunes()">
                      <mat-option *ngFor="let departement of pageModel.departements"
                        [value]="departement">
                        {{departement.code}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-9">
                  <mat-form-field>
                    <mat-select class="form-control input-sm"
                      placeholder="Commune"
                      id="input-code-commune"
                      name="code-commune"
                      [(ngModel)]="selectedCommune"
                      [required]="!isInventaireDisabled"
                      [disabled]="isInventaireDisabled"
                      (selectionChange)="updateLieuxdits()">
                      <mat-option *ngFor="let commune of filteredCommunes"
                        [value]="commune">
                        {{commune.code}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <mat-form-field>
                    <mat-select class="form-control input-sm"
                      id="input-nom-commune"
                      name="nom-commune"
                      [(ngModel)]="selectedCommune"
                      [required]="!isInventaireDisabled"
                      [disabled]="isInventaireDisabled"
                      (selectionChange)="updateLieuxdits()">
                      <mat-option *ngFor="let commune of filteredCommunes"
                        [value]="commune"
                        [disabled]="isInventaireDisabled">
                        {{commune.nom}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-9">
                  <mat-form-field>
                    <mat-select class="form-control input-sm"
                      placeholder="Lieu-dit"
                      id="input-lieudit"
                      name="lieudit"
                      [(ngModel)]="inventaireToSave.lieudit"
                      [required]="!isInventaireDisabled"
                      [disabled]="isInventaireDisabled"
                      (selectionChange)="updateCoordinates()">
                      <mat-option *ngFor="let lieudit of filteredLieuxdits"
                        [value]="lieudit">
                        {{lieudit.nom}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-9">
                  <mat-form-field>
                    <input matInput
                      type="number"
                      placeholder="Altitude"
                      class="form-control input-sm"
                      id="input-altitude"
                      name="altitude"
                      [(ngModel)]="inventaireToSave.altitude"
                      [required]="!isInventaireDisabled"
                      [disabled]="isInventaireDisabled">
                  </mat-form-field>
                </div>

              </div>
              <div class="form-group">
                <div class="col-sm-9">
                  <mat-form-field>
                    <input matInput
                      type="number"
                      placeholder="Longitude"
                      class="form-control input-sm"
                      id="input-longitude"
                      name="longitude"
                      [(ngModel)]="inventaireToSave.longitude"
                      [required]="!isInventaireDisabled"
                      [disabled]="isInventaireDisabled">
                  </mat-form-field>
                </div>

              </div>
              <div class="form-group">
                <div class="col-sm-9">
                  <mat-form-field>
                    <input matInput
                      type="number"
                      placeholder="Latitude"
                      class="form-control input-sm"
                      id="input-latitude"
                      name="latitude"
                      [(ngModel)]="inventaireToSave.latitude"
                      [required]="!isInventaireDisabled"
                      [disabled]="isInventaireDisabled">
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div *ngIf="pageModel.isMeteoDisplayed"
              class="lco-creation-subform lco-creation-meteo">
              <!-- TEMPERATURE -->
              <div class="form-group">
                <div class="col-sm-9">
                  <mat-form-field>
                    <input matInput
                      type="number"
                      placeholder="Température"
                      class="form-control input-sm"
                      id="input-temperature"
                      name="temperature"
                      [(ngModel)]="inventaireToSave.temperature"
                      [disabled]="isInventaireDisabled">
                  </mat-form-field>
                </div>
              </div>
              <!-- METEOS -->
              <div class="form-group">
                <div class="col-sm-9">
                  <mat-form-field>
                    <mat-select class="form-control input-sm"
                      placeholder="Météos"
                      id="input-meteos"
                      name="meteos"
                      [(ngModel)]="inventaireToSave.meteos"
                      [disabled]="isInventaireDisabled"
                      multiple>
                      <mat-option *ngFor="let meteo of pageModel.meteos"
                        [value]="meteo">
                        {{meteo.libelle}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <!-- END INVENTAIRE -->

          <!-- DONNEE -->
          <div class="lco-creation-fiche">
            <h2>Fiche espèce
              <span *ngIf="navigationService.currentDonneeIndex">n°{{navigationService.currentDonneeIndex}} (ID={{donneeToSave.id}})</span>
            </h2>

            <!-- CLASSE -->
            <mat-card>
              <div class="lco-creation-quoi">
                <div class="lco-creation-classe">
                  <mat-form-field>
                    <mat-select (selectionChange)="updateEspeces()"
                      placeholder="Classe"
                      class="form-control input-sm"
                      [disabled]="isDonneeDisabled"
                      id="input-classe"
                      name="classe"
                      [(ngModel)]="selectedClasse">
                      <mat-option>Toutes</mat-option>
                      <mat-option *ngFor="let classe of pageModel.classes"
                        [value]="classe">
                        {{classe.libelle}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="lco-creation-espece">
                  <mat-form-field>
                    <mat-select class="form-control input-sm"
                      placeholder="Code espèce"
                      id="input-code-espece"
                      name="input-code-espece"
                      [disabled]="isDonneeDisabled"
                      [required]="!isDonneeDisabled"
                      [(ngModel)]="donneeToSave.espece">
                      <mat-option *ngFor="let espece of filteredEspeces"
                        [value]="espece">
                        {{espece.code}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select class="form-control input-sm"
                      id="input-nom-espece"
                      placeholder="Nom français"
                      name="nom-espece"
                      [disabled]="isDonneeDisabled"
                      [required]="!isDonneeDisabled"
                      [(ngModel)]="donneeToSave.espece">
                      <mat-option *ngFor="let espece of filteredEspeces"
                        [value]="espece">
                        {{espece.nomFrancais}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </mat-card>

            <!-- DETAILS -->
            <mat-card>
              <div class="lco-creation-details">
                <div class="first-row">
                  <!-- NOMBRE -->
                  <mat-form-field>
                    <input matInput
                      class="form-control input-sm"
                      placeholder="Nbr. Individus"
                      id="input-nombre"
                      min="1"
                      name="nombre"
                      type="number"
                      [(ngModel)]="donneeToSave.nombre"
                      [disabled]="isDonneeDisabled || donneeToSave.estimationNombre?.nonCompte"
                      [required]="!isDonneeDisabled && !donneeToSave.estimationNombre?.nonCompte">
                  </mat-form-field>

                  <!-- ESTIMATION NOMBRE -->
                  <mat-form-field>
                    <mat-select class="form-control input-sm"
                      id="input-estimation-nombre"
                      name="estimation-nombre"
                      [(ngModel)]="donneeToSave.estimationNombre"
                      (ngModelChange)="onEstimationNombreChanged($event)"
                      [disabled]="isDonneeDisabled"
                      [required]="!isDonneeDisabled">
                      <mat-option *ngFor="let estimNombre of pageModel.estimationsNombre"
                        [value]="estimNombre">
                        {{estimNombre.libelle}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!-- SEXE -->
                  <mat-form-field>
                    <mat-select class="form-control input-sm"
                      placeholder="Sexe"
                      id="input-sexe"
                      name="sexe"
                      [(ngModel)]="donneeToSave.sexe"
                      [disabled]="isDonneeDisabled"
                      [required]="!isDonneeDisabled">
                      <mat-option *ngFor="let sexe of pageModel.sexes"
                        [value]="sexe">
                        {{sexe.libelle}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!-- AGE -->
                  <mat-form-field>
                    <mat-select class="form-control input-sm"
                      placeholder="Age"
                      id="input-age"
                      name="age"
                      [(ngModel)]="donneeToSave.age"
                      [disabled]="isDonneeDisabled"
                      [required]="!isDonneeDisabled">
                      <mat-option *ngFor="let age of pageModel.ages"
                        [value]="age">
                        {{age.libelle}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>

                <div class="second-row">
                  <!-- DISTANCE AND ESTIMATION DISTANCE -->
                  <ng-container *ngIf="pageModel.isDistanceDisplayed">
                    <!-- ESTIMATION DISTANCE -->
                    <mat-form-field>
                      <mat-select class="form-control input-sm"
                        placeholder="Distance (m)"
                        id="input-estimation-distance"
                        name="estimation-distance"
                        [(ngModel)]="donneeToSave.estimationDistance"
                        [disabled]="isDonneeDisabled"
                        [required]="!!donneeToSave.distance || donneeToSave.distance==0">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let estimDistance of pageModel.estimationsDistance"
                          [value]="estimDistance">
                          {{estimDistance.libelle}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <!-- DISTANCE -->
                    <mat-form-field>
                      <input matInput
                        class="form-control input-sm"
                        id="input-distance"
                        min="0"
                        name="distance"
                        type="number"
                        [(ngModel)]="donneeToSave.distance"
                        [disabled]="isDonneeDisabled || !!!donneeToSave.estimationDistance"
                        [required]="!!donneeToSave.estimationDistance">
                    </mat-form-field>
                  </ng-container>

                  <!-- REGROUPEMENT -->
                  <ng-container *ngIf="pageModel.isRegroupementDisplayed">
                    <mat-form-field>
                      <input matInput
                        class="form-control input-sm"
                        placeholder="Regroupement"
                        id="input-regroupement"
                        name="regroupement"
                        type="number"
                        min="1"
                        [(ngModel)]="donneeToSave.regroupement"
                        [disabled]="isDonneeDisabled">
                    </mat-form-field>
                    <button mat-raised-button
                      color="primary"
                      type="button"
                      class="btn btn-default btn-sm"
                      [disabled]="isDonneeDisabled"
                      (click)="displayNextRegroupement()">
                      Générer
                    </button>
                  </ng-container>

                </div>
              </div>
            </mat-card>

            <!-- COMPORTEMENTS -->
            <div class="lco-creation-subform lco-creation-comportements">
              <fieldset>
                <legend>Comportements</legend>

                <div class="row form-group">
                  <input-code-libelle [isDisabled]="isDonneeDisabled"
                    [num]="1"
                    [type]="'comportement'"
                    [values]="pageModel.comportements"
                    [selectedValue]="selectedComportements[0]"
                    (onValueChanged)="addComportement($event)">
                  </input-code-libelle>
                  <input-code-libelle [isDisabled]="isComportementDisabled(2)"
                    [num]="2"
                    [type]="'comportement'"
                    [values]="pageModel.comportements"
                    [selectedValue]="selectedComportements[1]"
                    (onValueChanged)="addComportement($event)">
                  </input-code-libelle>
                </div>
                <div class="row form-group">
                  <input-code-libelle [isDisabled]="isComportementDisabled(3)"
                    [num]="3"
                    [type]="'comportement'"
                    [values]="pageModel.comportements"
                    [selectedValue]="selectedComportements[2]"
                    (onValueChanged)="addComportement($event)">
                  </input-code-libelle>
                  <input-code-libelle [isDisabled]="isComportementDisabled(4)"
                    [num]="4"
                    [type]="'comportement'"
                    [values]="pageModel.comportements"
                    [selectedValue]="selectedComportements[3]"
                    (onValueChanged)="addComportement($event)">
                  </input-code-libelle>
                </div>
                <div class="row form-group">
                  <input-code-libelle [isDisabled]="isComportementDisabled(5)"
                    [num]="5"
                    [type]="'comportement'"
                    [isDisabled]="false"
                    [values]="pageModel.comportements"
                    [selectedValue]="selectedComportements[4]"
                    (onValueChanged)="addComportement($event)">
                  </input-code-libelle>
                  <input-code-libelle [isDisabled]="isComportementDisabled(6)"
                    [num]="6"
                    [type]="'comportement'"
                    [values]="pageModel.comportements"
                    [selectedValue]="selectedComportements[5]"
                    (onValueChanged)="addComportement($event)">
                  </input-code-libelle>
                </div>
              </fieldset>
            </div>
            <!-- END Comportements -->

            <!-- Milieux -->
            <div class="lco-creation-subform">
              <fieldset>
                <legend>Milieux</legend>
                <div class="row form-group">
                  <input-code-libelle [isDisabled]="isDonneeDisabled"
                    [num]="1"
                    [type]="'milieu'"
                    [values]="pageModel.milieux"
                    [selectedValue]="selectedMilieux[0]"
                    (onValueChanged)="addMilieu($event)">
                  </input-code-libelle>
                  <input-code-libelle [isDisabled]="isMilieuDisabled(2)"
                    [num]="2"
                    [type]="'milieu'"
                    [values]="pageModel.milieux"
                    [selectedValue]="selectedMilieux[1]"
                    (onValueChanged)="addMilieu($event)">
                  </input-code-libelle>
                </div>
                <div class="row form-group">
                  <input-code-libelle [isDisabled]="isMilieuDisabled(3)"
                    [num]="3"
                    [type]="'milieu'"
                    [values]="pageModel.milieux"
                    [selectedValue]="selectedMilieux[2]"
                    (onValueChanged)="addMilieu($event)">
                  </input-code-libelle>
                  <input-code-libelle [isDisabled]="isMilieuDisabled(4)"
                    [num]="4"
                    [type]="'milieu'"
                    [values]="pageModel.milieux"
                    [selectedValue]="selectedMilieux[3]"
                    (onValueChanged)="addMilieu($event)">
                  </input-code-libelle>
                </div>
              </fieldset>
            </div>
            <!-- End milieux -->

            <!-- Commentaire -->
            <div class="lco-creation-subform lco-creation-commentaires">
              <fieldset>
                <legend>Commentaires</legend>
                <div class="form-group">
                  <label for="input-commentaire"
                    style="display: none;">Commentaires</label>
                  <textarea class="form-control input-sm"
                    id="input-commentaire"
                    name="commentaire"
                    rows="2"
                    [disabled]="isDonneeDisabled"
                    [(ngModel)]="donneeToSave.commentaire"
                    (keypress)="commentaireKeyPress($event)"></textarea>
                </div>
              </fieldset>

            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="panel-footer row">
      <button mat-raised-button
        color="primary"
        *ngIf="modeHelper.isInventaireMode(mode)"
        class="btn btn-success btn-sm"
        type="button"
        style="float: right"
        [disabled]="!donneeForm.form.valid"
        (click)="saveInventaire()">
        Enregistrer l'inventaire
      </button>
      <button mat-raised-button
        color="primary"
        *ngIf="modeHelper.isDonneeMode(mode)"
        class="btn btn-success btn-sm"
        style="float: right"
        type="button"
        [disabled]="!donneeForm.form.valid"
        (click)="saveDonnee()">
        Enregistrer la donnée
      </button>
      <button mat-raised-button
        color="primary"
        *ngIf="modeHelper.isUpdateMode(mode)"
        class="btn btn-success btn-sm"
        style="float: right"
        type="button"
        [disabled]="!donneeForm.form.valid"
        (click)="saveInventaireAndDonnee()">
        Mettre à jour la donnée
      </button>
    </div>
  </div>
</div>