<h1 class="mat-display-1" style="display: none">Création des données</h1>

<div class="lco-creation-body">
  <!-- Bar containing the messages -->
  <div class="lco-creation-messages">
    <div [ngSwitch]="status">
      <div *ngSwitchCase="'ERROR'">
        <ul>
          <li *ngFor="let message of messages">{{ message?.value }}</li>
        </ul>
      </div>
      <div *ngSwitchCase="'SUCCESS'">
        <ul>
          <li *ngFor="let message of messages">{{ message?.value }}</li>
        </ul>
      </div>
      <div *ngSwitchDefault>
        <strong>Aucun message</strong>
      </div>
    </div>
  </div>

  <!-- Bar containing the top buttons -->
  <div class="lco-creation-buttons">
    <!-- Top left buttons -->
    <span class="top-left-creation-buttons">
      <button
        mat-raised-button
        color="primary"
        *ngIf="isNewDonneeBtnDisplayed()"
        (click)="onNewDonneeBtnClicked()"
      >
        Nouvelle donnée
      </button>

      <button
        mat-raised-button
        color="primary"
        [disabled]="!isPreviousDonneeBtnDisplayed()"
        (click)="onPreviousDonneeBtnClicked()"
      >
        Donnée précédente
      </button>

      <button
        mat-raised-button
        color="primary"
        [disabled]="!isNextDonneeBtnDisplayed()"
        (click)="onNextDonneeBtnClicked()"
      >
        Donnée suivante
      </button>

      <button
        mat-raised-button
        color="primary"
        (click)="onSearchByIdBtnClicked()"
      >
        Recherche par ID
      </button>
    </span>

    <span class="flex-spacer"></span>

    <!-- Top right buttons -->
    <span class="top-right-creation-buttons">
      <button
        mat-raised-button
        color="primary"
        *ngIf="modeHelper.isInventaireMode(mode)"
        [disabled]="!inventaireForm.valid"
        (click)="saveInventaire()"
      >
        Enregistrer l'inventaire
      </button>
      <button
        mat-raised-button
        color="primary"
        *ngIf="modeHelper.isDonneeMode(mode)"
        (click)="saveDonnee()"
      >
        Enregistrer la donnée
      </button>
      <button
        *ngIf="modeHelper.isUpdateMode(mode)"
        mat-raised-button
        color="primary"
        (click)="saveInventaireAndDonnee()"
      >
        Mettre à jour la donnée
      </button>
      <button
        mat-raised-button
        color="primary"
        *ngIf="isDeleteDonneeBtnDisplayed()"
        (click)="onDeleteDonneeBtnClicked()"
      >
        Supprimer la donnée
      </button>
    </span>
  </div>

  <!-- FORM TO CREATE DONNEES -->
  <div class="lco-creation-form">
    <div>
      <div class="creation-inventaire-titre flex-container">
        <h2>Fiche Inventaire</h2>
        <span class="flex-spacer"></span>
        <button
          mat-button
          color="primary"
          *ngIf="modeHelper.isDonneeMode(mode)"
          (click)="onNewInventaireBtnClicked()"
        >
          Nouvel inventaire
        </button>
        <button
          mat-button
          color="primary"
          *ngIf="modeHelper.isDonneeMode(mode)"
          (click)="onEditInventaireBtnClicked()"
        >
          Modifier l'inventaire
        </button>

        <button
          mat-raised-button
          color="primary"
          (click)="testIdiot()"
        ></button>
      </div>

      <form [formGroup]="inventaireForm">
        <div class="inventaire-form">
          <!-- CARD OBSERVATEUR + ASSOCIES -->
          <mat-card class="mat-card-override full-width-container">
            <!-- OBSERVATEUR -->
            <input-observateur
              [control]="inventaireForm.controls['observateur']"
              [observateurs]="pageModel.observateurs"
            >
            </input-observateur>

            <!-- ASSOCIES -->
            <input-observateurs-associes
              *ngIf="pageModel.areAssociesDisplayed"
              [control]="inventaireForm.controls['observateursAssocies']"
              [observateurs]="pageModel.observateurs"
            >
            </input-observateurs-associes>
          </mat-card>
          <!-- END CARD OBSERVATEUR + ASSOCIES -->

          <!-- CARD DATE + HEURE + DUREE -->
          <mat-card class="mat-card-override lco-creation-date">
            <!-- DATE -->
            <input-date
              [control]="inventaireForm.controls['date']"
            ></input-date>

            <!-- HEURE -->
            <input-time
              [control]="inventaireForm.controls['heure']"
              id="heure"
              label="Heure"
            ></input-time>

            <!-- DUREE -->
            <input-time
              [control]="inventaireForm.controls['duree']"
              id="duree"
              label="Durée"
            ></input-time>
          </mat-card>
          <!-- END CARD DATE + HEURE + DUREE -->

          <!-- CARD DEPARTEMENT + COMMUNE + LIEUDIT + ALTITUDE + LONGITUDE + LATITUDE -->
          <mat-card class="mat-card-override">
            <input-lieudit
              formGroupName="lieu"
              [controlGroup]="inventaireForm.controls['lieu']"
              [departements]="pageModel.departements"
              [communes]="pageModel.communes"
              [lieuxdits]="pageModel.lieudits"
            >
            </input-lieudit>
          </mat-card>
          <!-- END CARD DEPARTEMENT + COMMUNE + LIEUDIT + ALTITUDE + LONGITUDE + LATITUDE -->

          <!-- CARD TEMPERATURE + METEO -->
          <mat-card
            class="mat-card-override lco-creation-meteo"
            *ngIf="pageModel.isMeteoDisplayed"
          >
            <!-- TEMPERATURE -->
            <input-temperature
              [control]="inventaireForm.controls['temperature']"
            ></input-temperature>

            <!-- METEOS -->
            <input-meteos
              [meteos]="pageModel.meteos"
              [control]="inventaireForm.controls['meteos']"
            ></input-meteos>
          </mat-card>
          <!-- END CARD TEMPERATURE + METEO -->
        </div>
        <!-- END FICHE INVENTAIRE -->
      </form>
    </div>

    <!-- FICHE ESPECE  -->
    <div>
      <h2>
        Fiche espèce
        <span *ngIf="navigationService.currentDonneeIndex"
          >n°{{ navigationService.currentDonneeIndex }} (ID={{
            donneeToSave.id
          }})</span
        >
      </h2>

      <div class="espece-form">
        <form [formGroup]="donneeForm">
          <!-- CARD CLASSE + CODE ESPECE + NOM FRANCAIS -->
          <mat-card class="mat-card-override lco-creation-quoi">
            <input-espece
              formGroupName="especeGroup"
              [controlGroup]="donneeForm.controls['especeGroup']"
              [classes]="pageModel.classes"
              [especes]="pageModel.especes"
            ></input-espece>
          </mat-card>
          <!-- END CARD CLASSE + CODE ESPECE + NOM FRANCAIS -->

          <!-- CARD NOMBRE + ESTIMATION DU NOMBRE + SEXE + AGE -->
          <mat-card class="mat-card-override">
            <div class="combien-de-container">
              <input-nombre
                [controlGroup]="donneeForm.controls['nombreGroup']"
                [defaultNombre]="pageModel.defaultNombre"
                [estimationsNombre]="pageModel.estimationsNombre"
                formGroupName="nombreGroup"
              >
              </input-nombre>

              <!-- SEXE -->
              <input-sexe
                [control]="donneeForm.controls['sexe']"
                [sexes]="pageModel.sexes"
              ></input-sexe>

              <!-- AGE 
            <mat-form-field class="age-espece">
              <mat-select
                placeholder="Age"
                id="input-age"
                name="age"
                [(ngModel)]="donneeToSave.age"
                [disabled]="isDonneeDisabled"
                [required]="!isDonneeDisabled"
              >
                <mat-option *ngFor="let age of pageModel.ages" [value]="age">
                  {{ age.libelle }}
                </mat-option>
              </mat-select>
            </mat-form-field>-->
            </div>

            <!-- DISTANCE AND ESTIMATION DISTANCE 
          <div
            *ngIf="
              pageModel.isDistanceDisplayed || pageModel.isRegroupementDisplayed
            "
            class="distance-regroupement-container"
          >
            <ng-container *ngIf="pageModel.isDistanceDisplayed">
              <span class="distance-container">-->
            <!-- ESTIMATION DISTANCE 
                <mat-form-field class="estimation-distance-container">
                  <mat-select
                    placeholder="Estimation de la distance"
                    id="input-estimation-distance"
                    name="estimation-distance"
                    [(ngModel)]="donneeToSave.estimationDistance"
                    [disabled]="isDonneeDisabled"
                    [required]="
                      !!donneeToSave.distance || donneeToSave.distance == 0
                    "
                  >
                    <mat-option></mat-option>
                    <mat-option
                      *ngFor="
                        let estimDistance of pageModel.estimationsDistance
                      "
                      [value]="estimDistance"
                    >
                      {{ estimDistance.libelle }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>-->

            <!-- DISTANCE 
                <mat-form-field class="distance-container">
                  <input
                    matInput
                    placeholder="Distance (m)"
                    id="input-distance"
                    min="0"
                    name="distance"
                    type="number"
                    [(ngModel)]="donneeToSave.distance"
                    [disabled]="
                      isDonneeDisabled || !!!donneeToSave.estimationDistance
                    "
                    [required]="!!donneeToSave.estimationDistance"
                  />
                </mat-form-field>
              </span>
            </ng-container>-->

            <!-- REGROUPEMENT
            <mat-form-field
              *ngIf="pageModel.isRegroupementDisplayed"
              class="regroupement-container"
            >
              <input
                matInput
                placeholder="Regroupement"
                id="input-regroupement"
                name="regroupement"
                type="number"
                min="1"
                [(ngModel)]="donneeToSave.regroupement"
                [disabled]="isDonneeDisabled"
              />
              <button
                matSuffix
                mat-icon-button
                [disabled]="isDonneeDisabled"
                (click)="displayNextRegroupement()"
              >
                <mat-icon>add_box</mat-icon>
              </button>
            </mat-form-field> 
          </div>-->
          </mat-card>
          <!-- END CARD NOMBRE + ESTIMATION DU NOMBRE + SEXE + AGE -->
        </form>
        <!-- CARD COMPORTEMENT x6 -->
        <mat-card class="mat-card-override">
          <mat-card-content class="comportements-container">
            <ng-container *ngIf="pageModel && pageModel.comportements">
              <input-code-libelle
                [isDisabled]="isDonneeDisabled"
                [type]="'Comportement 1'"
                [values]="pageModel.comportements"
                [selectedValue]="selectedComportements[0]"
                (onValueChanged)="addComportement($event, 0)"
              >
              </input-code-libelle>
              <input-code-libelle
                [isDisabled]="isComportementDisabled(2)"
                [type]="'Comportement 2'"
                [values]="pageModel.comportements"
                [selectedValue]="selectedComportements[1]"
                (onValueChanged)="addComportement($event, 1)"
              >
              </input-code-libelle>
              <input-code-libelle
                [isDisabled]="isComportementDisabled(3)"
                [type]="'Comportement 3'"
                [values]="pageModel.comportements"
                [selectedValue]="selectedComportements[2]"
                (onValueChanged)="addComportement($event, 2)"
              >
              </input-code-libelle>
              <input-code-libelle
                [isDisabled]="isComportementDisabled(4)"
                [type]="'Comportement 4'"
                [values]="pageModel.comportements"
                [selectedValue]="selectedComportements[3]"
                (onValueChanged)="addComportement($event, 3)"
              >
              </input-code-libelle>
              <input-code-libelle
                [isDisabled]="isComportementDisabled(5)"
                [type]="'Comportement 5'"
                [values]="pageModel.comportements"
                [selectedValue]="selectedComportements[4]"
                (onValueChanged)="addComportement($event, 4)"
              >
              </input-code-libelle>
              <input-code-libelle
                [isDisabled]="isComportementDisabled(6)"
                [type]="'Comportement 6'"
                [values]="pageModel.comportements"
                [selectedValue]="selectedComportements[5]"
                (onValueChanged)="addComportement($event, 5)"
              >
              </input-code-libelle>
            </ng-container>
          </mat-card-content>
        </mat-card>
        <!-- END CARD COMPORTEMENT x6 -->

        <!-- CARD MILIEU x4 -->
        <mat-card class="mat-card-override">
          <mat-card-content class="milieux-container">
            <ng-container *ngIf="pageModel && pageModel.milieux">
              <input-code-libelle
                [isDisabled]="isDonneeDisabled"
                [type]="'Milieu 1'"
                [values]="pageModel.milieux"
                [selectedValue]="selectedMilieux[0]"
                (onValueChanged)="addMilieu($event, 0)"
              >
              </input-code-libelle>
              <input-code-libelle
                [isDisabled]="isMilieuDisabled(2)"
                [type]="'Milieu 2'"
                [values]="pageModel.milieux"
                [selectedValue]="selectedMilieux[1]"
                (onValueChanged)="addMilieu($event, 1)"
              >
              </input-code-libelle>
              <input-code-libelle
                [isDisabled]="isMilieuDisabled(3)"
                [type]="'Milieu 3'"
                [values]="pageModel.milieux"
                [selectedValue]="selectedMilieux[2]"
                (onValueChanged)="addMilieu($event, 2)"
              >
              </input-code-libelle>
              <input-code-libelle
                [isDisabled]="isMilieuDisabled(4)"
                [type]="'Milieu 4'"
                [values]="pageModel.milieux"
                [selectedValue]="selectedMilieux[3]"
                (onValueChanged)="addMilieu($event, 3)"
              >
              </input-code-libelle>
            </ng-container>
          </mat-card-content>
        </mat-card>
        <!-- END CARD MILIEU x4 -->

        <!-- CARD COMMENTAIRE -->
        <mat-card class="mat-card-override">
          <mat-card-content class="full-width-container">
            <!-- COMMENTAIRE -->
            <mat-form-field>
              <textarea
                matInput
                id="input-commentaire"
                placeholder="Commentaires"
                name="commentaire"
                rows="2"
                [disabled]="isDonneeDisabled"
                [(ngModel)]="donneeToSave.commentaire"
                (keypress)="commentaireKeyPress($event)"
              ></textarea>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
        <!-- END CARD COMMENTAIRE -->
      </div>
    </div>
  </div>

  <!-- BAR BOTTOM BUTTOM -->
  <div class="creation-footer">
    <span class="flex-spacer"></span>

    <button
      mat-raised-button
      color="primary"
      *ngIf="modeHelper.isInventaireMode(mode)"
      [disabled]="!inventaireForm.valid"
      (click)="saveInventaire()"
    >
      Enregistrer l'inventaire
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="modeHelper.isDonneeMode(mode)"
      (click)="saveDonnee()"
    >
      Enregistrer la donnée
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="modeHelper.isUpdateMode(mode)"
      (click)="saveInventaireAndDonnee()"
    >
      Mettre à jour la donnée
    </button>
  </div>
</div>

{{ inventaireForm.controls["observateur"].value | json }}
{{ inventaireForm.controls["observateursAssocies"].value | json }}
{{ inventaireForm.controls["date"].value | json }}
{{ inventaireForm.controls["heure"].value | json }}
{{ inventaireForm.controls["duree"].value | json }}
{{ inventaireForm.controls["lieu"].controls["departement"].value | json }}
{{ inventaireForm.controls["lieu"].controls["commune"].value | json }}
{{ inventaireForm.controls["lieu"].controls["lieudit"].value | json }}
{{ inventaireForm.controls["lieu"].controls["altitude"].value | json }}
{{ inventaireForm.controls["lieu"].controls["longitude"].value | json }}
{{ inventaireForm.controls["lieu"].controls["latitude"].value | json }}
{{ inventaireForm.controls["temperature"].value | json }}
{{ inventaireForm.controls["meteos"].value | json }}
