@use "~@angular/material/theming" as mat;

$main-color: mat.mat-color(mat.$mat-cyan, 800);
$main-light-color: mat.mat-color(mat.$mat-cyan, 50);
$accent-color: mat.mat-color(mat.$mat-pink, 400);
$light-grey-color: mat.mat-color(mat.$mat-grey, 100);
$dark-grey-color: mat.mat-color(mat.$mat-grey, 800);
$light-orange-color: mat.mat-color(mat.$mat-deep-orange, 50);
$light-purple-color: mat.mat-color(mat.$mat-deep-purple, 50);

$background-color: mat.mat-color(mat.$mat-grey, 50);
