@use '~@angular/material' as mat;

$main-color: mat.get-color-from-palette(mat.$cyan-palette, 800);
$main-light-color: mat.get-color-from-palette(mat.$cyan-palette, 50);
$accent-color: mat.get-color-from-palette(mat.$pink-palette, 400);
$accent-light-color: mat.get-color-from-palette(mat.$pink-palette, 50);
$light-grey-color: mat.get-color-from-palette(mat.$grey-palette, 100);
$dark-grey-color: mat.get-color-from-palette(mat.$grey-palette, 800);
$light-orange-color: mat.get-color-from-palette(mat.$deep-orange-palette, 50);
$light-purple-color: mat.get-color-from-palette(mat.$deep-purple-palette, 50);

$background-color: mat.get-color-from-palette(mat.$grey-palette, 50);

$page-padding: 50px;
