<div class="lco-entity-page">
  <top-buttons title="Météos"
    createButtonLibelle="Créer une météo"
    exportButtonLibelle="Exporter les météos"
    [areButtonsDisplayed]="modeHelper.isViewAllMode(mode)"
    (onClickNewObject)="newObject()"
    (onClickExportObjects)="exportObjects()"
    (onClickRefresh)="getAll()"></top-buttons>

  <hr *ngIf="modeHelper.isCreationMode(mode) || modeHelper.isEditionMode(mode) || modeHelper.isViewOneMode(mode) || modeHelper.isRemoveMode(mode)">

  <entity-messages [messages]="messages"
    [status]="status"></entity-messages>

  <meteo-table *ngIf="modeHelper.isViewAllMode(mode)"
    [objects]="objects"
    (delete)="deleteObject($event)"
    (edit)="editObject($event)"
    (view)="viewObject($event)">
  </meteo-table>

  <meteo-form *ngIf="modeHelper.isCreationMode(mode) || modeHelper.isEditionMode(mode)"
    [object]="objectToSave"
    [mode]="mode"
    (confirm)="saveObject()"
    (back)="cancelEdition()">
  </meteo-form>

  <meteo-details *ngIf="modeHelper.isViewOneMode(mode)"
    [objectToView]="objectToView"
    (back)="viewAll()">
  </meteo-details>

  <meteo-removal-confirmation *ngIf="modeHelper.isRemoveMode(mode)"
    [objectToRemove]="objectToRemove"
    (confirm)="confirmObjectRemoval($event)">
  </meteo-removal-confirmation>

</div>