<mat-form-field>
  <input
    [errorStateMatcher]="matcher"
    [formControl]="entityForm.controls['code']"
    id="input-code"
    matInput
    maxlength="6"
    name="code"
    placeholder="Code"
    type="text"
  />
  <mat-error *ngIf="entityForm.controls['code'].hasError('required')">
    Le champ "Code" ne peut pas être vide.
  </mat-error>
  <mat-error *ngIf="entityForm.hasError('alreadyExistingCode')">
    {{ entityForm.getError("alreadyExistingCode").message }}
  </mat-error>
</mat-form-field>

<mat-form-field>
  <input
    [errorStateMatcher]="matcher"
    [formControl]="entityForm.controls['libelle']"
    id="input-libelle"
    matInput
    maxlength="100"
    name="libelle"
    placeholder="Libellé"
    type="text"
  />

  <mat-error *ngIf="entityForm.controls['libelle'].hasError('required')">
    Le champ "Libellé" ne peut pas être vide.
  </mat-error>
  <mat-error *ngIf="entityForm.hasError('alreadyExistingLibelle')">
    {{ entityForm.getError("alreadyExistingLibelle").message }}
  </mat-error>
</mat-form-field>
