<div class="page-container">
  <top-buttons
    title="Départements"
    createButtonLibelle="Créer un département"
    exportButtonLibelle="Exporter les départements"
    [areButtonsDisplayed]="entityModeHelper.isViewAllMode()"
    (onClickNewObject)="newObject()"
    (onClickExportObjects)="exportObjects()"
    (onClickRefresh)="getAll()"
  ></top-buttons>

  <departement-table
    *ngIf="entityModeHelper.isViewAllMode()"
    [objects]="objects"
    (delete)="deleteObject($event)"
    (edit)="editObject($event)"
    (view)="viewObject($event)"
  >
  </departement-table>

  <entity-form
    *ngIf="
      entityModeHelper.isCreationMode() || entityModeHelper.isEditionMode()
    "
    [componentType]="getFormType()"
    creationTitle="Création d'un département"
    editionTitle="Édition d'un département"
    [entityForm]="form"
    [object]="objectToSave"
    (confirm)="saveObject($event)"
    (back)="cancelEdition()"
  ></entity-form>

  <entity-delete-confirmation
    *ngIf="entityModeHelper.isRemoveMode()"
    question="Êtes-vous certain de vouloir supprimer le département ?"
    details="Toutes les communes ({{
      currentObject.nbCommunes
    }}), tous les lieux-dits ({{
      currentObject.nbLieuxdits
    }}) et toutes les données ({{
      currentObject.nbDonnees
    }}) avec ce département seront supprimés."
    cancellationLabel="Non, annuler la suppression"
    confirmationLabel="Oui, supprimer le département"
    (confirm)="confirmObjectRemoval($event)"
  >
  </entity-delete-confirmation>

  <entity-details
    *ngIf="entityModeHelper.isViewOneMode() || entityModeHelper.isRemoveMode()"
    [detailsData]="getDetailsData()"
    detailsTitle="Détails du département"
    [isBackButtonDisplayed]="entityModeHelper.isViewOneMode()"
    (back)="viewAll()"
  >
  </entity-details>
</div>
