<span class="grid-container code-libelle-container">
  <mat-form-field class="first-column">
    <mat-select class="form-control"
      placeholder="'Code '+type+' '+num"
      [disabled]="isDisabled"
      [id]="'input-code-' + type + '-' + num"
      [name]="'code-' + type + '-' + num"
      [ngModel]="selectedValue"
      (ngModelChange)="updateValue($event)">
      <option></option>
      <option *ngFor="let value of values"
        [ngValue]="value">
        {{value.code}}
      </option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="second-column">
    <mat-select class="form-control"
      placeholder="'Libellé '+type+' '+num"
      [disabled]="isDisabled"
      [id]="'input-libelle-' + type + '-' + num"
      [name]="'libelle-' + type + '-' + num"
      [ngModel]="selectedValue"
      (ngModelChange)="updateValue($event)">
      <option></option>
      <option *ngFor="let value of values"
        [ngValue]="value">
        {{value.libelle}}
      </option>
    </mat-select>
  </mat-form-field>
</span>