<autocomplete-v2
  [displayFn]="displayMilieuFormat"
  [control]="$any(controlGroup.controls['milieu1'])"
  [type]="'Milieu 1'"
  [values]="matchingMilieuxPerInput$[0]"
>
</autocomplete-v2>
<autocomplete-v2
  [displayFn]="displayMilieuFormat"
  [control]="$any(controlGroup.controls['milieu2'])"
  [type]="'Milieu 2'"
  [values]="matchingMilieuxPerInput$[1]"
>
</autocomplete-v2>
<autocomplete-v2
  [displayFn]="displayMilieuFormat"
  [control]="$any(controlGroup.controls['milieu3'])"
  [type]="'Milieu 3'"
  [values]="matchingMilieuxPerInput$[2]"
>
</autocomplete-v2>
<autocomplete-v2
  [displayFn]="displayMilieuFormat"
  [control]="$any(controlGroup.controls['milieu4'])"
  [type]="'Milieu 4'"
  [values]="matchingMilieuxPerInput$[3]"
>
</autocomplete-v2>
