<autocomplete
  [attributesToFilter]="autocompleteAttributes"
  [displayFn]="displayMilieuFormat"
  [control]="controlGroup.controls['milieu1']"
  [type]="'Milieu 1'"
  [values]="milieux"
>
</autocomplete>
<autocomplete
  [attributesToFilter]="autocompleteAttributes"
  [displayFn]="displayMilieuFormat"
  [control]="controlGroup.controls['milieu2']"
  [type]="'Milieu 2'"
  [values]="milieux"
>
</autocomplete>
<autocomplete
  [attributesToFilter]="autocompleteAttributes"
  [displayFn]="displayMilieuFormat"
  [control]="controlGroup.controls['milieu3']"
  [type]="'Milieu 3'"
  [values]="milieux"
>
</autocomplete>
<autocomplete
  [attributesToFilter]="autocompleteAttributes"
  [displayFn]="displayMilieuFormat"
  [control]="controlGroup.controls['milieu4']"
  [type]="'Milieu 4'"
  [values]="milieux"
>
</autocomplete>
