<div class="page-container">
  <top-buttons
    title="Observateurs"
    createButtonLibelle="Créer un observateur"
    exportButtonLibelle="Exporter les observateurs"
    [areButtonsDisplayed]="entityModeHelper.isViewAllMode()"
    (onClickNewObject)="newObject()"
    (onClickExportObjects)="exportObjects()"
  ></top-buttons>

  <observateur-table
    *ngIf="entityModeHelper.isViewAllMode()"
    [objects]="entities$ | async"
    (delete)="deleteObject($event)"
    (edit)="editObject($event)"
    (view)="viewObject($event)"
  >
  </observateur-table>

  <entity-form
    *ngIf="
      entityModeHelper.isCreationMode() || entityModeHelper.isEditionMode()
    "
    [componentType]="getFormType()"
    creationTitle="Création d'un observateur"
    editionTitle="Édition d'un observateur"
    [entityForm]="form"
    [object]="objectToSave"
    (confirm)="saveObject($event)"
    (back)="cancelEdition()"
  ></entity-form>

  <entity-delete-confirmation
    *ngIf="entityModeHelper.isRemoveMode()"
    question="Êtes-vous certain de vouloir supprimer l'observateur ?"
    details="Toutes les données ({{
      currentObject.nbDonnees
    }}) avec cet observateur seront supprimées."
    cancellationLabel="Non, annuler la suppression"
    confirmationLabel="Oui, supprimer l'observateur"
    (confirm)="confirmObjectRemoval($event)"
  >
  </entity-delete-confirmation>
</div>
