mat-toolbar {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  height: auto;
  z-index: 1000;

  .icon-header {
    margin-bottom: -10px;
  }

  .title-header {
    font-family: Showcard Gothic;
    font-size: 26px;
    margin-left: 10px;
    vertical-align: bottom;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  }
}

.wrapper {
  height: 100vh;
  overflow: hidden;
}

.base-naturaliste-content {
  overflow-y: auto;
  margin-bottom: 10px;

  .base-naturaliste-body {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.mat-menu-item {
  line-height: 30px;
  height: 30px;
}
