<mat-card>
  <mat-card-title>
    <h2 *ngIf="isCreationMode()">{{creationTitle}}</h2>
    <h2 *ngIf="isEditionMode()">{{editionTitle}}</h2>
  </mat-card-title>

  <mat-card-content>
    <form (ngSubmit)="save()"
      #entiteSimpleForm="ngForm"
      class="entite-form">

      <!-- ID -->
      <mat-form-field *ngIf="isEditionMode()">
        <input matInput
          type="text"
          placeholder="ID"
          id="input-id"
          name="id"
          [(ngModel)]="object.id"
          #fieldId="ngModel"
          readonly/>
      </mat-form-field>

      <!-- Libelle -->
      <mat-form-field>
        <input matInput
          type="text"
          placeholder="Libellé"
          id="input-libelle"
          name="libelle"
          [(ngModel)]="object.libelle"
          #fieldId="ngModel"
          required/>
        <mat-error *ngIf="libelleFormControl.hasError('required')">
          Le Libellé ne peut pas être vide.
        </mat-error>
      </mat-form-field>

      <div class="cancel-submit-buttons">
        <button mat-raised-button
          color="accent"
          (click)="cancel()">
          <mat-icon>cancel</mat-icon>
          Annuler
        </button>
        <span class="button-spacer"></span>
        <button mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!entiteSimpleForm.form.valid">
          <mat-icon>save</mat-icon>
          Enregistrer
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>