<div>
  <div class="full-width-container">
    <!-- DEPARTEMENT -->
    <lco-autocomplete
      attributeToFilter="code"
      [disabled]="isDisabled"
      [required]="!isDisabled"
      [selectedValue]="selectedDepartement"
      [startWithMode]="true"
      type="Département"
      [values]="departements"
      (onValueChanged)="updateCommunes($event.value)"
    >
    </lco-autocomplete>
  </div>

  <div class="commune-container">
    <!-- CODE COMMUNE -->
    <mat-form-field class="code-commune">
      <mat-select
        placeholder="Code"
        id="input-code-commune"
        name="code-commune"
        [(ngModel)]="selectedCommune"
        [required]="!isDisabled"
        [disabled]="isDisabled"
        (selectionChange)="updateLieuxdits()"
      >
        <mat-option *ngFor="let commune of filteredCommunes" [value]="commune">
          {{ commune.code }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- NOM COMMUNE -->
    <mat-form-field class="nom-commune">
      <mat-select
        placeholder="Nom commune"
        id="input-nom-commune"
        name="nom-commune"
        [(ngModel)]="selectedCommune"
        [required]="!isDisabled"
        [disabled]="isDisabled"
        (selectionChange)="updateLieuxdits()"
      >
        <mat-option
          *ngFor="let commune of filteredCommunes"
          [value]="commune"
          [disabled]="isDisabled"
        >
          {{ commune.nom }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="full-width-container">
    <!-- LIEUDIT -->
    <mat-form-field>
      <mat-select
        placeholder="Lieu-dit"
        id="input-lieudit"
        name="lieudit"
        [(ngModel)]="selectedLieudit"
        [required]="!isDisabled"
        [disabled]="isDisabled"
        (selectionChange)="updateCoordinates()"
      >
        <mat-option *ngFor="let lieudit of filteredLieuxdits" [value]="lieudit">
          {{ lieudit.nom }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="coordonnees-form">
    <!-- ALTITUDE -->
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Altitude"
        id="input-altitude"
        name="altitude"
        [(ngModel)]="selectedAltitude"
        [required]="!isDisabled"
        [disabled]="isDisabled"
      />
    </mat-form-field>

    <!-- LONGITUDE -->
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Longitude"
        id="input-longitude"
        name="longitude"
        [(ngModel)]="selectedLongitude"
        [required]="!isDisabled"
        [disabled]="isDisabled"
      />
    </mat-form-field>

    <!-- LATITUDE -->
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Latitude"
        id="input-latitude"
        name="latitude"
        [(ngModel)]="selectedLatitude"
        [required]="!isDisabled"
        [disabled]="isDisabled"
      />
    </mat-form-field>
  </div>
</div>
