<table-topbar
  [selectedId]="selectedObjectId"
  (onClickEditObject)="editObject()"
  (onClickDeleteObject)="deleteObject()"
  (onFilterChange)="applyFilter($event)"
>
</table-topbar>

<div class="mat-elevation-z8">
  <table class="espece-table" mat-table [dataSource]="dataSource" matSort>
    <!-- Classe -->
    <ng-container matColumnDef="classe">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="classe">
        Classe
      </th>
      <td mat-cell *matCellDef="let row">{{ row.classe }}</td>
    </ng-container>

    <!-- Code -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="code">
        Code
      </th>
      <td mat-cell *matCellDef="let row">{{ row.code }}</td>
    </ng-container>

    <!-- Nom francais -->
    <ng-container matColumnDef="nomFrancais">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="nom-francais"
      >
        Nom français
      </th>
      <td mat-cell *matCellDef="let row">{{ row.nomFrancais }}</td>
    </ng-container>

    <!-- Nom latin -->
    <ng-container matColumnDef="nomLatin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="nom-latin">
        Nom latin
      </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color">
        {{ row.nomLatin }}
      </td>
    </ng-container>

    <!-- Nombre de fiches espèces -->
    <ng-container matColumnDef="nbDonnees">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="nb-donnees">
        Nombre de fiches espèces
      </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color">
        {{ row.nbDonnees }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="onRowClicked(row.id)"
      [ngClass]="{
        'selected-row': !!selectedObjectId && selectedObjectId == row.id
      }"
    ></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[50, 100, 150]"></mat-paginator>
</div>
