@use "src/styles/mixins";

table.espece-table {
  @include mixins.gestion-base-table;

  th.classe {
    width: 200px;
  }

  th.code {
    width: 200px;
  }

  th.nom-francais {
    width: 350px;
  }

  th.nom-latin {
    width: 350px;
  }
}
