<div class="lco-entity-page">
  <top-buttons title="Estimations de la distance"
    createButtonLibelle="Créer une estimation"
    exportButtonLibelle="Exporter les estimations"
    [areButtonsDisplayed]="isViewAllMode()"
    (onClickNewObject)="newObject()"
    (onClickExportObjects)="exportObjects()"
    (onClickRefresh)="getAll()"></top-buttons>

  <hr *ngIf="isCreationMode() || isEditionMode() || isViewOneMode() || isRemoveMode()">

  <entity-messages [messages]="messages"
    [status]="status"></entity-messages>

  <estimation-distance-table *ngIf="isViewAllMode()"
    [objects]="objects"
    (delete)="deleteObject($event)"
    (edit)="editObject($event)"
    (view)="viewObject($event)"></estimation-distance-table>

  <estimation-distance-form *ngIf="isCreationMode() || isEditionMode()"
    [object]="objectToSave"
    [mode]="mode"
    (confirm)="saveObject()"
    (back)="cancelEdition()"></estimation-distance-form>

  <estimation-distance-details *ngIf="isViewOneMode()"
    [objectToView]="objectToView"
    (back)="viewAll()"></estimation-distance-details>

  <estimation-distance-removal-confirmation *ngIf="isRemoveMode()"
    [objectToRemove]="objectToRemove"
    (confirm)="confirmObjectRemoval($event)">
  </estimation-distance-removal-confirmation>

</div>