<!-- Departement -->
<mat-form-field>
  <mat-select
    [errorStateMatcher]="matcher"
    [formControl]="entityForm.controls['departement']"
    id="input-departement"
    name="departement"
    placeholder="Département"
  >
    <mat-option *ngFor="let departement of departements" [value]="departement">
      {{ departement.code }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="entityForm.controls['departement'].hasError('required')">
    Le champ "Département" ne peut pas être vide.
  </mat-error>
</mat-form-field>

<!-- Code -->
<mat-form-field>
  <input
    [errorStateMatcher]="matcher"
    [formControl]="entityForm.controls['code']"
    id="input-code"
    matInput
    name="code"
    placeholder="Code de la commune"
    type="number"
  />

  <mat-error *ngIf="entityForm.controls['code'].hasError('required')">
    Le champ "Code de la commune" ne peut pas être vide.
  </mat-error>
  <mat-error *ngIf="entityForm.hasError('alreadyExistingCode')">
    {{ entityForm.getError("alreadyExistingCode").message }}
  </mat-error>
</mat-form-field>

<!-- Nom -->
<mat-form-field>
  <input
    [errorStateMatcher]="matcher"
    [formControl]="entityForm.controls['nom']"
    id="input-nom"
    matInput
    name="nom"
    placeholder="Nom de la commune"
    type="text"
  />

  <mat-error *ngIf="entityForm.controls['nom'].hasError('required')">
    Le champ "Nom de la commune" ne peut pas être vide.
  </mat-error>
  <mat-error *ngIf="entityForm.hasError('alreadyExistingNom')">
    {{ entityForm.getError("alreadyExistingNom").message }}
  </mat-error>
</mat-form-field>
