<!-- Departement -->
<bn-select
  [id]="'input-departement'"
  placeholder="Département"
  fieldForDisplay="code"
  [options]="departements"
>
</bn-select>

<!-- Code -->
<mat-form-field>
  <input
    matInput
    type="text"
    id="input-code"
    name="code"
    placeholder="Code"
    required
    [formControl]="codeFormControl"
  />
  <mat-error *ngIf="codeFormControl.hasError('required')">
    Le code de la commune ne peut pas être vide.
  </mat-error>
</mat-form-field>

<!-- Nom -->
<mat-form-field>
  <input
    matInput
    type="text"
    id="input-nom"
    name="nom"
    placeholder="Nom"
    required
    [formControl]="nomFormControl"
  />
  <mat-error *ngIf="nomFormControl.hasError('required')">
    Le nom de la commune ne peut pas être vide.
  </mat-error>
</mat-form-field>
