@use "src/styles/mixins";
@use "src/styles/variables";

table.lieudit-table {
  @include mixins.full-width-table;

  th.departement {
    width: 80px;
  }

  th.code-commune {
    width: 120px;
  }

  th.nom-commune {
    width: 250px;
  }

  th.nom-lieu-dit {
    width: 250px;
  }

  th.altitude,
  th.longitude,
  th.latitude {
    width: 100px;
  }

  th.coordinates-system {
    width: 100px;
  }

  .is-transformed-icon {
    height: 16px;
    font-size: 16px;
    color: variables.$main-color;
    vertical-align: text-top;
    padding-left: 5px;
  }
}
