<div class="view-table-container">
  <div>
    <mat-form-field class="view-table-filter">
      <input
        matInput
        type="text"
        placeholder="Filtre"
        id="input-filtre"
        name="filtre"
        #filterEspeceInput
      />
    </mat-form-field>
  </div>

  <table
    mat-table
    matSort
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    multiTemplateDataRows
  >
    <ng-container matColumnDef="nomClasse">
      <th mat-header-cell mat-sort-header *matHeaderCellDef class="classe">
        Classe
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.classe.libelle }}
      </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell mat-sort-header *matHeaderCellDef class="code">
        Code
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.code }}
      </td>
    </ng-container>

    <ng-container matColumnDef="nomFrancais">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="nom-francais"
      >
        Nom français
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.nomFrancais }}
      </td>
    </ng-container>

    <ng-container matColumnDef="nomLatin">
      <th mat-header-cell mat-sort-header *matHeaderCellDef class="nom-latin">
        Nom scientifique
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.nomLatin }}
      </td>
    </ng-container>

    <ng-container matColumnDef="nbDonnees">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>
        Nombre de fiches espèces
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.nbDonnees }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[50, 100, 200]"></mat-paginator>
</div>
