@use "src/styles/mixins";

.view-table-container {
  @include mixins.view-table-container;
}

table {
  @include mixins.full-width-table;

  min-width: 800px;

  th.classe {
    width: 200px;
  }

  th.code {
    width: 200px;
  }

  th.nom-francais {
    width: 350px;
  }

  th.nom-latin {
    width: 350px;
  }
}
