<div class="page-container">
  <div class="configuration-container-header">
    <h1>Configuration</h1>
    <span class="flex-spacer"></span>
    <ng-container *ngIf="getIsAllViewMode()">
      <span class="button-spacer"></span>
      <button mat-raised-button color="primary" (click)="editConfigurations()">
        <mat-icon>create</mat-icon>
        <span>Modifier la configuration</span>
      </button>
    </ng-container>
  </div>

  <configuration-form
    *ngIf="getIsEditionMode()"
    [model]="configurationToSave"
    [ages]="pageModel.ages"
    [departements]="pageModel.departements"
    [coordinatesSystems]="pageModel.coordinatesSystems"
    [estimationsNombre]="pageModel.estimationsNombre"
    [observateurs]="pageModel.observateurs"
    [sexes]="pageModel.sexes"
    (confirm)="saveAppConfiguration()"
    (back)="cancelEdition()"
  ></configuration-form>

  <div *ngIf="getIsAllViewMode()" class="table-responsive">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="label">
        <mat-header-cell *matHeaderCellDef> Propriété </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.label }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="value">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          Valeur
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          {{ element.value }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
