<!-- CLASSE -->
<autocomplete
  *ngIf="!isMultipleSelectMode"
  [attributesToFilter]="classeAutocompleteAttributes"
  type="Classe"
  [values]="classes$ | async"
  [control]="controlGroup.controls['classe']"
  [displayFn]="displayClasseFormat"
>
</autocomplete>

<multiple-select
  *ngIf="isMultipleSelectMode"
  [attributesToDisplay]="['libelle']"
  [control]="controlGroup.controls['classes']"
  [id]="'classes'"
  [options]="classes$ | async"
  [placeholder]="'Classes espèces'"
></multiple-select>

<!-- ESPECE -->
<autocomplete
  *ngIf="!isMultipleSelectMode"
  [attributesToFilter]="especeAutocompleteAttributes"
  type="Espèce"
  [values]="filteredEspeces$ | async"
  [control]="controlGroup.controls['espece']"
  [displayFn]="displayEspeceFormat"
>
</autocomplete>

<multiple-select
  *ngIf="isMultipleSelectMode"
  [attributesToDisplay]="['code', 'nomFrancais', 'nomLatin']"
  [control]="controlGroup.controls['especes']"
  [id]="'especes'"
  [options]="filteredEspeces$ | async"
  [placeholder]="'Espèces'"
></multiple-select>
