<!-- CLASSE -->
<autocomplete
  *ngIf="!isMultipleSelectMode"
  [attributesToFilter]="classeAutocompleteAttributes"
  type="Classe"
  [values]="classes$ | async"
  [control]="$any(controlGroup.controls['classe'])"
  [displayFn]="displayClasseFormat"
>
</autocomplete>

<multiple-select
  *ngIf="isMultipleSelectMode"
  [attributesToDisplay]="['libelle']"
  [control]="$any(controlGroup.controls['classes'])"
  [id]="'classes'"
  [options]="classes$ | async"
  [placeholder]="'Classes espèces'"
></multiple-select>

<!-- ESPECE -->
<autocomplete
  *ngIf="!isMultipleSelectMode"
  [attributesToFilter]="especeAutocompleteAttributes"
  type="Espèce"
  [valuesObs]="filteredEspeces$"
  [control]="$any(controlGroup.controls['espece'])"
  [maxDisplayedEntries]="50"
  [displayFn]="displayEspeceFormat"
>
</autocomplete>

<multiple-select
  *ngIf="isMultipleSelectMode"
  [attributesToDisplay]="['code', 'nomFrancais', 'nomLatin']"
  [control]="$any(controlGroup.controls['especes'])"
  [id]="'especes'"
  [options]="filteredEspeces$ | async"
  [placeholder]="'Espèces'"
></multiple-select>
