<!-- CLASSE -->
<autocomplete
  [attributesToFilter]="classeAutocompleteAttributes"
  type="Classe"
  [valuesObs]="classes$"
  [control]="$any(controlGroup.controls['classe'])"
  [displayFn]="displayClasseFormat"
>
</autocomplete>

<!-- ESPECE -->
<autocomplete
  [attributesToFilter]="especeAutocompleteAttributes"
  type="Espèce"
  [valuesObs]="filteredEspeces$"
  [control]="$any(controlGroup.controls['espece'])"
  [maxDisplayedEntries]="50"
  [displayFn]="displayEspeceFormat"
>
</autocomplete>
