<!-- Classe -->
<bn-select
  [id]="'input-classe'"
  [placeholder]="'Classe espèce'"
  [fieldForDisplay]="'libelle'"
  [options]="classes"
>
</bn-select>

<!-- Code espece -->
<mat-form-field>
  <input
    matInput
    type="text"
    placeholder="Code"
    id="input-code"
    name="code"
    required
  />
  <mat-error *ngIf="codeFormControl.hasError('required')">
    Le code de l'espèce ne peut pas être vide.
  </mat-error>
</mat-form-field>

<!-- Nom francais -->
<mat-form-field>
  <input
    matInput
    type="text"
    placeholder="Nom français"
    id="input-nom-francais"
    name="nom-francais"
    required
  />
  <mat-error *ngIf="nomFrancaisFormControl.hasError('required')">
    Le nom français de l'espèce ne peut pas être vide.
  </mat-error>
</mat-form-field>

<!-- Nom latin -->
<mat-form-field>
  <input
    matInput
    type="text"
    placeholder="Nom latin"
    id="input-nom-latin"
    name="nom-latin"
    required
  />
  <mat-error *ngIf="nomLatinFormControl.hasError('required')">
    Le nom latin de l'espèce ne peut pas être vide.
  </mat-error>
</mat-form-field>
