<!-- Classe -->
<mat-form-field>
  <mat-select
    [formControl]="$any(entityForm.controls['classe'])"
    id="input-classe"
    name="classe"
    placeholder="Classe de l'espèce"
  >
    <mat-option *ngFor="let classe of classes$ | async" [value]="classe">
      {{ classe.libelle }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="entityForm.controls['classe'].hasError('required')">
    Le champ "Classe de l'espèce" ne peut pas être vide.
  </mat-error>
</mat-form-field>

<!-- Code espece -->
<mat-form-field>
  <input
    [errorStateMatcher]="especeCodeErrorStateMatcher"
    [formControl]="$any(entityForm.controls['code'])"
    id="input-code"
    matInput
    maxlength="20"
    name="code"
    placeholder="Code de l'espèce"
    type="text"
  />

  <mat-error *ngIf="entityForm.controls['code'].hasError('required')">
    Le champ "Code de l'espèce" ne peut pas être vide.
  </mat-error>
  <mat-error *ngIf="entityForm.hasError('alreadyExistingCode')">
    {{ entityForm.getError("alreadyExistingCode").message }}
  </mat-error>
</mat-form-field>

<!-- Nom francais -->
<mat-form-field>
  <input
    [errorStateMatcher]="especeNomFrancaisErrorStateMatcher"
    [formControl]="$any(entityForm.controls['nomFrancais'])"
    id="input-nom-francais"
    matInput
    maxlength="100"
    name="nom-francais"
    placeholder="Nom français"
    type="text"
  />

  <mat-error *ngIf="entityForm.controls['nomFrancais'].hasError('required')">
    Le champ "Nom français" ne peut pas être vide.
  </mat-error>
  <mat-error *ngIf="entityForm.hasError('alreadyExistingNomFrancais')">
    {{ entityForm.getError("alreadyExistingNomFrancais").message }}
  </mat-error>
</mat-form-field>

<!-- Nom scientifique -->
<mat-form-field>
  <input
    [errorStateMatcher]="especeNomLatinErrorStateMatcher"
    [formControl]="$any(entityForm.controls['nomLatin'])"
    id="input-nom-latin"
    matInput
    maxlength="100"
    name="nom-latin"
    placeholder="Nom scientifique"
    type="text"
  />

  <mat-error *ngIf="entityForm.controls['nomLatin'].hasError('required')">
    Le champ "Nom scientifique" ne peut pas être vide.
  </mat-error>
  <mat-error *ngIf="entityForm.hasError('alreadyExistingNomLatin')">
    {{ entityForm.getError("alreadyExistingNomLatin").message }}
  </mat-error>
</mat-form-field>
