<span>
  <mat-form-field>
    <input
      autocomplete-active-selection
      type="text"
      matInput
      [placeholder]="type"
      [id]="'input-' + type"
      [name]="type"
      [formControl]="control"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      [displayWith]="displayFn"
    >
      <mat-option *ngFor="let value of filteredValues | async" [value]="value">
        {{ getDisplayedValue(value) }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</span>
