<div style="max-width: 500px;">
  <table-filter-field
    (onFilterChange)="applyFilter($event)"
  >
  </table-filter-field>
</div>

<div class="mat-elevation-z8">
  <table
    class="entite-avec-libelle-et-code-table"
    mat-table
    [dataSource]="dataSource"
    matSort
  >
    <!-- Code -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="code">
        Code
      </th>
      <td mat-cell *matCellDef="let row">{{ row.code }}</td>
    </ng-container>

    <!-- Libelle -->
    <ng-container matColumnDef="libelle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="libelle">
        Libellé
      </th>
      <td mat-cell *matCellDef="let row">{{ row.libelle }}</td>
    </ng-container>

    <!-- Nombre de fiches espèces -->
    <ng-container matColumnDef="nbDonnees">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="nb-donnees">
        Nombre de fiches espèces
      </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color">
        {{ row.nbDonnees }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell  *matHeaderCellDef class="actions">Actions</th>
      <td mat-cell *matCellDef="let row" >
        <button
          mat-icon-button
          aria-label="Éditer"
          type="button"
          color="primary"
          (click)="editObject(row.id)"
          class="action-button"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Supprimer"
          type="button"
          color="primary"
          (click)="deleteObject(row)"
          class="action-button"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>

  <mat-card *ngIf="dataSource.isLoading$ | async" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner 
      color="primary" 
      mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>

  <mat-paginator [pageSizeOptions]="[50, 100, 150]"></mat-paginator>
</div>
