<div class="view-table-container">
  <!-- TABLE FILTER -->
  <mat-form-field class="view-table-filter">
    <input
      matInput
      type="text"
      placeholder="Filtre"
      id="input-filtre"
      name="filtre"
      [(ngModel)]="filterValue"
    />
  </mat-form-field>
  <button
    mat-raised-button
    type="button"
    color="primary"
    (click)="applyFilter()"
  >
    Filtrer les résultats
  </button>

  <div class="mat-elevation-z8 overflow">
    <table
      mat-table
      matSort
      [dataSource]="dataSource"
      class="view-table"
      multiTemplateDataRows
    >
      <!-- COLUMN OBSERVATEUR -->
      <ng-container matColumnDef="observateur">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-observateur"
        >
          Observateur
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.observateur }}
        </td>
      </ng-container>

      <!-- COLUMN DATE -->
      <ng-container matColumnDef="date">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-date"
        >
          Date
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.date | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <!-- COLUMN HEURE -->
      <ng-container matColumnDef="heure">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-heure"
        >
          Heure
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.heure }}
        </td>
      </ng-container>

      <!-- COLUMN DUREE -->
      <ng-container matColumnDef="duree">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-duree"
        >
          Durée
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.duree }}
        </td>
      </ng-container>

      <!-- COLUMN DEPARTEMENT -->
      <ng-container matColumnDef="departement">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-departement"
        >
          Département
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.departement }}
        </td>
      </ng-container>

      <!-- COLUMN CODE COMMUNE -->
      <ng-container matColumnDef="codeCommune">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-code-commune"
        >
          Code commune
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.codeCommune }}
        </td>
      </ng-container>

      <!-- COLUMN NOM COMMUNE -->
      <ng-container matColumnDef="nomCommune">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-nom-commune"
        >
          Nom commune
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.nomCommune }}
        </td>
      </ng-container>

      <!-- COLUMN LIEUDIT -->
      <ng-container matColumnDef="lieudit">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-lieudit"
        >
          Lieu-dit
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.lieudit }}
        </td>
      </ng-container>

      <!-- COLUMN CODE ESPECE -->
      <ng-container matColumnDef="codeEspece">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-code-espece"
        >
          Code espèce
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.codeEspece }}
        </td>
      </ng-container>

      <!-- COLUMN NOM FRANCAIS -->
      <ng-container matColumnDef="nomFrancais">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-nom-francais"
        >
          Nom français
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.nomFrancais }}
        </td>
      </ng-container>

      <!-- COLUMN NOMBRE -->
      <ng-container matColumnDef="nombre">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-nombre"
        >
          Nombre
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.nombre }}
        </td>
      </ng-container>

      <!-- COLUMN SEXE -->
      <ng-container matColumnDef="sexe">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-sexe"
        >
          Sexe
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.sexe }}
        </td>
      </ng-container>

      <!-- COLUMN AGE -->
      <ng-container matColumnDef="age">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-age"
        >
          Âge
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.age }}
        </td>
      </ng-container>

      <!-- EXPANDED DONNEE -->
      <ng-container matColumnDef="expandedDonnee">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="displayedColumns.length"
        >
          <div class="donnee-detail" [@detailExpand]="getRowState(element)">
            <div class="donnee-details-panel">
              <!-- FIRST COLUMN -->
              <div>
                <button
                  mat-raised-button
                  color="basic"
                  (click)="editDonnee(element.id)"
                >
                  <mat-icon>open_in_browser</mat-icon> Ouvrir la donnée
                </button>
                
                <ul class="donnee-details-list">
                  <li><b>ID:</b> {{ element.id }}</li>

                  <li><b>Observateur:</b> {{ element.observateur }}</li>

                  <li *ngIf="element.associes"><b>Observateurs associés:</b> {{ element.associes }}</li>

                  <li><b>Date:</b> {{ element.date | date: "dd/MM/yyyy" }}</li>

                  <li *ngIf="element.heure"><b>Heure:</b> {{ element.heure }}</li>

                  <li *ngIf="element.duree"><b>Durée:</b> {{ element.duree }}</li>

                  <li *ngIf="element.temperature"><b>Température:</b> {{ element.temperature }} °C</li>

                  <li *ngIf="element.meteos.length > 0"><b>Météos:</b> {{ element.meteos }}</li>
                </ul>
              </div>

              <!-- SECOND COLUMN -->
              <div>
                <ul class="donnee-details-list">
                  <li><b>Département:</b> {{ element.departement }}</li>

                  <li><b>Code commune:</b> {{ element.codeCommune }}</li>

                  <li><b>Nom commune:</b> {{ element.nomCommune }}</li>

                  <li><b>Lieu-dit:</b> {{ element.lieudit }}</li>

                  <li><b>Latitude:</b> {{ getLatitude(element) }}</li>

                  <li><b>Longitude:</b> {{ getLongitude(element) }}</li>

                  <li><b>Altitude:</b> {{ element.altitude }} mètres</li>
                </ul>
              </div>

              <!-- THIRD COLUMN -->
              <div>
                <ul class="donnee-details-list">
                  <li><b>Classe:</b> {{ element.classe }}</li>

                  <li><b>Code espèce:</b> {{ element.codeEspece }}</li>

                  <li><b>Nom français:</b> {{ element.nomFrancais }}</li>

                  <li><b>Nom scientifique:</b> {{ element.nomLatin }}</li>

                  <li>
                    <b>Nombre:</b> 
                    <span *ngIf="element.nombre"> {{ element.nombre }} ({{ element.estimationNombre }})</span>
                    <span *ngIf="!element.nombre"> {{ element.estimationNombre }}</span>
                  </li>

                  <li><b>Sexe:</b> {{ element.sexe }}</li>

                  <li><b>Âge:</b> {{ element.age }}</li>

                  <li *ngIf="element.distance || element.estimationDistance">
                    <b>Distance:</b> 
                    <span *ngIf="element.estimationDistance"> {{ element.estimationDistance }}</span>
                    <span *ngIf="element.distance || element.distance === 0"> {{ element.distance }} mètres</span>
                  </li>

                  <li *ngIf="element.regroupement"><b>Regroupement:</b> {{ element.regroupement }}</li>
                </ul>
              </div>

              <!-- FOURTH COLUMN -->
              <div>
                <ul class="donnee-details-list">
                  <li><b>Nicheur:</b> {{ !element.nicheur ? "Non" : element.nicheur }}</li>

                  <li *ngIf="element.comportements.length > 0">
                    <b>Comportements:</b>
                    <ul>
                      <li *ngFor="let c of element.comportements; last as last">{{ c.code }} - {{ c.libelle }}</li>
                    </ul>
                  </li>

                  <li *ngIf="element.milieux.length > 0">
                    <b>Milieux:</b>
                    <ul>
                      <li *ngFor="let m of element.milieux; last as last">{{ m.code }} - {{ m.libelle }}</li>
                    </ul>
                  </li>

                  <li *ngIf="element.commentaire"><b>Commentaires:</b> {{ element.commentaire }}</li>
                </ul>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- HEADER TABLE DONNEE -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <!-- LINE FOR A DONNEE -->
      <tr
        mat-row
        matRipple
        *matRowDef="let row; columns: displayedColumns"
        class="donnee-row"
        [class.selected-row]="!!selectedDonnee && selectedDonnee.id === row.id"
        (click)="onRowClicked(row)"
      ></tr>

      <!-- LINE FOR THE EXPANDED DONNEE -->
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDonnee']"
        class="donnee-detail-row"
      ></tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[50, 100, 200]"></mat-paginator>
</div>
