<div>
  <div *ngIf="filteringOnGoing">Veuillez patienter...</div>

  <div *ngIf="!filteringOnGoing">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Filtre"
        id="input-filtre"
        name="filtre"
        [(ngModel)]="filterValue"
      />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="applyFilter()">
      Appliquer le filtre
    </button>
  </div>

  <mat-paginator [pageSizeOptions]="[50, 100, 200]"></mat-paginator>
  <table
    mat-table
    matSort
    [dataSource]="dataSource"
    class="bn-table-view mat-elevation-z8"
    multiTemplateDataRows
  >
    <ng-container matColumnDef="id">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bn-table-view-id"
      >
        ID
      </th>
      <td mat-cell *matCellDef="let element" class="bn-table-view-id">
        {{ element.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="observateur" class="bn-table-view-id">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-observateur"
      >
        Observateur
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.observateur }}
      </td>
    </ng-container>

    <ng-container matColumnDef="associes">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-associes"
      >
        Observateurs associés
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.associes }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-date"
      >
        Date
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.date | date: "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="heure">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-heure"
      >
        Heure
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.heure }}
      </td>
    </ng-container>

    <ng-container matColumnDef="duree">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-duree"
      >
        Durée
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.duree }}
      </td>
    </ng-container>

    <ng-container matColumnDef="departement">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-departement"
      >
        Département
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.departement }}
      </td>
    </ng-container>

    <ng-container matColumnDef="code_commune">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-code-commune"
      >
        Code commune
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.codeCommune }}
      </td>
    </ng-container>

    <ng-container matColumnDef="nom_commune">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-nom-commune"
      >
        Nom commune
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.nomCommune }}
      </td>
    </ng-container>

    <ng-container matColumnDef="lieudit">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-lieudit"
      >
        Lieu-dit
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.lieudit }}
      </td>
    </ng-container>

    <ng-container matColumnDef="altitude">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-altitude"
      >
        Altitude
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.altitude }}
      </td>
    </ng-container>

    <ng-container matColumnDef="longitude">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-longitude"
      >
        Longitude
      </th>
      <td mat-cell *matCellDef="let element">
        {{
          !!element.customizedLongitude
            ? element.customizedLongitude
            : element.longitude
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="latitude">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-latitude"
      >
        Latitude
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.latitude }}
      </td>
    </ng-container>

    <ng-container matColumnDef="temperature">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-temperature"
      >
        Température
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.temperature }}
      </td>
    </ng-container>

    <ng-container matColumnDef="meteos">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-meteos"
      >
        Météos
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.meteos }}
      </td>
    </ng-container>

    <ng-container matColumnDef="classe">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-classe"
      >
        Classe espèce
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.classe }}
      </td>
    </ng-container>

    <ng-container matColumnDef="code_espece">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-code-espece"
      >
        Code espèce
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.codeEspece }}
      </td>
    </ng-container>

    <ng-container matColumnDef="nom_francais">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-nom-francais"
      >
        Nom français
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.nomFrancais }}
      </td>
    </ng-container>

    <ng-container matColumnDef="nom_latin">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-nom-latin"
      >
        Nom latin
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.nomLatin }}
      </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-nombre"
      >
        Nombre
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.nombre }}
      </td>
    </ng-container>

    <ng-container matColumnDef="estimation_nombre">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-estimation-nombre"
      >
        Estimation du nombre
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.estimationNombre }}
      </td>
    </ng-container>

    <ng-container matColumnDef="sexe">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-sexe"
      >
        Sexe
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.sexe }}
      </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-age"
      >
        Âge
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.age }}
      </td>
    </ng-container>

    <ng-container matColumnDef="estimation_distance">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-estimation-distance"
      >
        Estimation de la distance
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.estimationDistance }}
      </td>
    </ng-container>

    <ng-container matColumnDef="distance">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-distance"
      >
        Distance (m)
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.distance }}
      </td>
    </ng-container>

    <ng-container matColumnDef="regroupement">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-regroupement"
      >
        Regroupement
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.regroupement }}
      </td>
    </ng-container>

    <ng-container *ngFor="let index of COMPORTEMENTS_INDEXES">
      <ng-container matColumnDef="code_comportement_{{ index }}">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="bn-table-view-code-comportement"
        >
          Code comportement {{ index }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{
            element.comportements.length >= index
              ? element.comportements[index - 1].code
              : ""
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="libelle_comportement_{{ index }}">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="bn-table-view-libelle-comportement"
        >
          Libellé comportement {{ index }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{
            element.comportements.length >= index
              ? element.comportements[index - 1].libelle
              : ""
          }}
        </td>
      </ng-container>
    </ng-container>

    <ng-container *ngFor="let index of MILIEUX_INDEXES">
      <ng-container matColumnDef="code_milieu_{{ index }}">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="bn-table-view-code-milieu"
        >
          Code milieu {{ index }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{
            element.milieux.length >= index
              ? element.milieux[index - 1].code
              : ""
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="libelle_milieu_{{ index }}">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="bn-table-view-libelle-milieu"
        >
          Libellé milieu {{ index }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{
            element.milieux.length >= index
              ? element.milieux[index - 1].libelle
              : ""
          }}
        </td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="commentaire">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bn-table-view-commentaire"
      >
        Commentaires
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.commentaire }}
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDonnee">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="displayedColumns.length"
      >
        <div
          class="donnee-detail"
          [@detailExpand]="
            !!selectedDonnee && element.id === selectedDonnee.id
              ? 'expanded'
              : 'collapsed'
          "
        >
          <div class="donnee-details-panel">
            <div>
              <strong>ID:</strong> {{ element.id }}
              <br />
              <strong>Observateur:</strong> {{ element.observateur }}
              <br />
              <span
                ><strong>Observateurs associés:</strong>
                <span *ngFor="let a of element.associes; last as last">
                  {{ a.libelle }}
                  <span *ngIf="!last"> / </span>
                </span>
              </span>
              <br />
              <strong>Date:</strong> {{ element.date | date: "dd/MM/yyyy" }}
              <br />
              <strong>Heure:</strong> {{ element.heure }}
              <br />
              <strong>Durée:</strong> {{ element.duree }}
              <br />
              <strong>Température:</strong> {{ element.temperature }}
              <br />
              <strong>Météos:</strong>
              <span *ngFor="let m of element.meteos; last as last">
                {{ m.libelle }}
                <span *ngIf="!last"> / </span>
              </span>
            </div>
            <div>
              <strong>Département:</strong> {{ element.departement }}
              <br />
              <strong>Code commune:</strong> {{ element.codeCommune }}
              <br />
              <strong>Nom commune:</strong> {{ element.nomCommune }}
              <br />
              <strong>Lieu-dit:</strong> {{ element.lieudit }}
              <br />
              <strong>Altitude:</strong>
              {{
                !!element.customizedAltitude
                  ? element.customizedAltitude
                  : element.altitude
              }}
              <br />
              <strong>Longitude:</strong>
              {{
                !!element.customizedLongitude
                  ? element.customizedLongitude
                  : element.longitude
              }}
              <br />
              <strong>Latitude:</strong>
              {{
                !!element.customizedLatitude
                  ? element.customizedLatitude
                  : element.latitude
              }}
            </div>
            <div>
              <strong>Classe:</strong> {{ element.classe }}
              <br />
              <strong>Code espèce:</strong> {{ element.codeEspece }}
              <br />
              <strong>Nom français:</strong> {{ element.nomFrancais }}
              <br />
              <strong>Nom latin:</strong> {{ element.nomLatin }}
              <br />
              <strong>Nombre:</strong> {{ element.nombre }} -
              {{ element.estimationNombre }}
              <br />
              <strong>Sexe:</strong> {{ element.sexe }}
              <br />
              <strong>Âge:</strong> {{ element.age }}
              <br />
              <strong>Distance:</strong> {{ element.estimationDistance }} -
              {{ element.distance }}
              <br />
              <strong>Regroupement:</strong> {{ element.regroupement }}
              <br />
            </div>
            <div>
              <strong>Comportements:</strong>
              <span *ngFor="let c of element.comportements; last as last">
                {{ c.code }} - {{ c.libelle }}
                <span *ngIf="!last"> / </span>
              </span>
              <br />
              <strong>Milieux:</strong>
              <span *ngFor="let m of element.milieux; last as last">
                {{ m.code }} - {{ m.libelle }}
                <span *ngIf="!last"> / </span>
              </span>
              <br />
              <strong>Commentaires:</strong> {{ element.commentaire }}
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="donnee-row"
      [class.donnee-expanded-row]="
        !!selectedDonnee && selectedDonnee.id === row.id
      "
      (click)="onRowClicked(row)"
    ></tr>

    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDonnee']"
      class="donnee-detail-row"
    ></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[50, 100, 200]"></mat-paginator>
</div>
