<div class="view-table-container">

  <div class="mat-elevation-z8 overflow">
    <table
      mat-table
      matSort
      [dataSource]="dataSource"
      class="view-table"
      multiTemplateDataRows
    >
      <!-- COLUMN OBSERVATEUR -->
      <ng-container matColumnDef="observateur">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-observateur"
        >
          Observateur
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.inventaire?.observateur?.libelle }}
        </td>
      </ng-container>

      <!-- COLUMN DATE -->
      <ng-container matColumnDef="date">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-date"
        >
          Date
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.inventaire?.date | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <!-- COLUMN HEURE -->
      <ng-container matColumnDef="heure">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-heure"
        >
          Heure
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.inventaire?.heure }}
        </td>
      </ng-container>

      <!-- COLUMN DUREE -->
      <ng-container matColumnDef="duree">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-duree"
        >
          Durée
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.inventaire?.duree }}
        </td>
      </ng-container>

      <!-- COLUMN DEPARTEMENT -->
      <ng-container matColumnDef="departement">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-departement"
        >
          Département
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.inventaire?.lieuDit?.commune?.departement?.code }}
        </td>
      </ng-container>

      <!-- COLUMN CODE COMMUNE -->
      <ng-container matColumnDef="codeCommune">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-code-commune"
        >
          Code commune
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.inventaire?.lieuDit?.commune?.code }}
        </td>
      </ng-container>

      <!-- COLUMN NOM COMMUNE -->
      <ng-container matColumnDef="nomCommune">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-nom-commune"
        >
          Nom commune
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.inventaire?.lieuDit?.commune?.nom }}
        </td>
      </ng-container>

      <!-- COLUMN LIEUDIT -->
      <ng-container matColumnDef="lieuDit">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-lieudit"
        >
          Lieu-dit
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.inventaire?.lieuDit?.nom }}
        </td>
      </ng-container>

      <!-- COLUMN CODE ESPECE -->
      <ng-container matColumnDef="codeEspece">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-code-espece"
        >
          Code espèce
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.espece?.code }}
        </td>
      </ng-container>

      <!-- COLUMN NOM FRANCAIS -->
      <ng-container matColumnDef="nomFrancais">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-nom-francais"
        >
          Nom français
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.espece?.nomFrancais }}
        </td>
      </ng-container>

      <!-- COLUMN NOMBRE -->
      <ng-container matColumnDef="nombre">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-nombre"
        >
          Nombre
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.nombre }}
        </td>
      </ng-container>

      <!-- COLUMN SEXE -->
      <ng-container matColumnDef="sexe">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-sexe"
        >
          Sexe
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.sexe?.libelle }}
        </td>
      </ng-container>

      <!-- COLUMN AGE -->
      <ng-container matColumnDef="age">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-donnee-column-age"
        >
          Âge
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.age?.libelle }}
        </td>
      </ng-container>

      <!-- EXPANDED DONNEE -->
      <ng-container matColumnDef="expandedDonnee">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="displayedColumns.length"
        >
          <div class="donnee-detail" [@detailExpand]="getRowState(element)">
            <div class="donnee-details-panel">
              <!-- FIRST COLUMN -->
              <div>
                <button
                  mat-raised-button
                  color="basic"
                  (click)="editDonnee(element.id)"
                >
                  <mat-icon>open_in_browser</mat-icon>
                  <span>Ouvrir la donnée</span>
                </button>
                
                <ul class="donnee-details-list">
                  <li><b>ID:</b> {{ element.id }}</li>

                  <li><b>Observateur:</b> {{ element.inventaire?.observateur?.libelle }}</li>

                  <li *ngIf="element.inventaire?.associes"><b>Observateurs associés:</b> {{ getAssocies(element.inventaire?.associes) }}</li>

                  <li><b>Date:</b> {{ element.inventaire?.date | date: "dd/MM/yyyy" }}</li>

                  <li *ngIf="element.inventaire?.heure"><b>Heure:</b> {{ element.inventaire?.heure }}</li>

                  <li *ngIf="element.inventaire?.duree"><b>Durée:</b> {{ element.inventaire?.duree }}</li>

                  <li *ngIf="element.inventaire?.temperature"><b>Température:</b> {{ element.inventaire?.temperature }} °C</li>

                  <li *ngIf="element.inventaire?.meteos?.length"><b>Météos:</b> {{ getMeteos(element.inventaire?.meteos) }}</li>
                </ul>
              </div>

              <!-- SECOND COLUMN -->
              <div>
                <ul class="donnee-details-list">
                  <li><b>Département:</b> {{ element.inventaire?.lieuDit?.commune?.departement?.code }}</li>

                  <li><b>Code commune:</b> {{ element.inventaire?.lieuDit?.commune?.code }}</li>

                  <li><b>Nom commune:</b> {{ element.inventaire?.lieuDit?.commune?.nom }}</li>

                  <li><b>Lieu-dit:</b> {{ element.inventaire?.lieuDit?.nom }}</li>

                  <li><b>Latitude:</b> {{ getLatitude(element.inventaire) }}</li>

                  <li><b>Longitude:</b> {{ getLongitude(element.inventaire) }}</li>

                  <li><b>Altitude:</b> {{ getAltitude(element.inventaire) }} mètres</li>
                </ul>
              </div>

              <!-- THIRD COLUMN -->
              <div>
                <ul class="donnee-details-list">
                  <li><b>Classe:</b> {{ element.espece?.classe?.libelle }}</li>

                  <li><b>Code espèce:</b> {{ element.espece?.code }}</li>

                  <li><b>Nom français:</b> {{ element.espece?.nomFrancais }}</li>

                  <li><b>Nom scientifique:</b> {{ element.espece?.nomLatin }}</li>

                  <li>
                    <b>Nombre:</b> 
                    <span *ngIf="element.nombre"> {{ element.nombre }} ({{ element.estimationNombre?.libelle }})</span>
                    <span *ngIf="!element.nombre"> {{ element.estimationNombre?.libelle }}</span>
                  </li>

                  <li><b>Sexe:</b> {{ element.sexe?.libelle }}</li>

                  <li><b>Âge:</b> {{ element.age?.libelle }}</li>

                  <li *ngIf="element.distance || element.estimationDistance">
                    <b>Distance:</b> 
                    <span *ngIf="element.estimationDistance"> {{ element.estimationDistance?.libelle }}</span>
                    <span *ngIf="element.distance || element.distance === 0"> {{ element.distance }} mètres</span>
                  </li>

                  <li *ngIf="element.regroupement"><b>Regroupement:</b> {{ element.regroupement }}</li>
                </ul>
              </div>

              <!-- FOURTH COLUMN -->
              <div>
                <ul class="donnee-details-list">
                  <li><b>Nicheur:</b> {{ getNicheurStatusToDisplay(element.comportements) }}</li>

                  <li *ngIf="element.comportements.length > 0">
                    <b>Comportements:</b>
                    <ul>
                      <li *ngFor="let c of element.comportements; last as last">{{ c.code }} - {{ c.libelle }}</li>
                    </ul>
                  </li>

                  <li *ngIf="element.milieux.length > 0">
                    <b>Milieux:</b>
                    <ul>
                      <li *ngFor="let m of element.milieux; last as last">{{ m.code }} - {{ m.libelle }}</li>
                    </ul>
                  </li>

                  <li *ngIf="element.commentaire"><b>Commentaires:</b> {{ element.commentaire }}</li>
                </ul>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- HEADER TABLE DONNEE -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <!-- LINE FOR A DONNEE -->
      <tr
        mat-row
        matRipple
        *matRowDef="let row; columns: displayedColumns"
        class="donnee-row"
        [class.selected-row]="!!selectedDonnee && selectedDonnee.id === row.id"
        (click)="onRowClicked(row)"
      ></tr>

      <!-- LINE FOR THE EXPANDED DONNEE -->
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDonnee']"
        class="donnee-detail-row"
      ></tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[50, 100, 200]"></mat-paginator>
</div>
