<div class="lco-entity-form lco-entite-simple-form">
    <form (ngSubmit)="save()"
        #entiteSimpleForm="ngForm">
        <div>
            <h2 *ngIf="isCreationMode()">{{creationTitle}}</h2>
            <h2 *ngIf="isEditionMode()">{{editionTitle}}</h2>
        </div>
        <div>
            <div *ngIf="isEditionMode()"
                class="form-group">
                <label for="fieldId">ID</label>
                <input type="text"
                    class="form-control"
                    id="fieldId"
                    name="fieldId"
                    [(ngModel)]="object.id"
                    #fieldId="ngModel"
                    readonly/>
            </div>

            <div class="form-group">
                <label class="control-label"
                    for="input-departement">Département</label>
                <mat-select class="form-control"
                    id="input-departement"
                    name="input-departement"
                    [(ngModel)]="object.departement"
                    required>
                    <option *ngFor="let dept of departements"
                        [value]="dept">
                        {{dept.code}}
                    </option>
                </mat-select>
            </div>

            <!-- Code -->
            <div class="form-group">
                <label class="control-label"
                    for="input-code">Code</label>
                <input type="text"
                    class="form-control"
                    name="input-code"
                    id="input-code"
                    [(ngModel)]="object.code"
                    #inputCode="ngModel"
                    required/>

                <div [hidden]="inputCode.valid || inputCode.pristine">
                    <p class="help-block"
                        [hidden]="inputCode.valid.required">
                        Le code de la commune ne peut pas être vide.
                    </p>
                </div>

            </div>

            <!-- Nom -->
            <div class="form-group">
                <label class="control-label"
                    for="input-nom">Nom</label>
                <input type="text"
                    class="form-control"
                    name="input-nom"
                    id="input-nom"
                    [(ngModel)]="object.nom"
                    #inputNom="ngModel"
                    required/>

                <div [hidden]="inputNom.valid || inputNom.pristine">
                    <p class="help-block"
                        [hidden]="inputNom.valid.required">
                        Le nom de la commune ne peut pas être vide.
                    </p>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 text-right ">
                <button mat-raised-button
                    color="accent"
                    (click)="cancel()">
                    <mat-icon>cancel</mat-icon>
                    <span>Annuler</span>
                </button>
                <button mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="!entiteSimpleForm.form.valid">
                    <mat-icon>save</mat-icon>
                    <span>Enregistrer</span>
                </button>
            </div>
        </div>
    </form>

</div>