<div class="lco-entity-page lco-commune-page">
    <top-buttons title="Communes"
        createButtonLibelle="Créer une commune"
        exportButtonLibelle="Exporter les communes"
        [areButtonsDisplayed]="isViewAllMode()"
        (onClickNewObject)="newObject()"
        (onClickExportObjects)="exportObjects()"
        (onClickRefresh)="getAll()"></top-buttons>

    <hr *ngIf="isCreationMode() || isEditionMode() || isViewOneMode() || isRemoveMode()">

    <entity-messages [messages]="messages"
        [status]="status"></entity-messages>

    <commune-table *ngIf="isViewAllMode()"
        [objects]="objects"
        (delete)="deleteObject($event)"
        (edit)="editObject($event)"
        (view)="viewObject($event)">
    </commune-table>

    <commune-form *ngIf="isCreationMode() || isEditionMode()"
        [object]="objectToSave"
        [mode]="mode"
        (confirm)="saveObject()"
        (back)="cancelEdition()">
    </commune-form>

    <entite-delete-confirmation *ngIf="isRemoveMode()"
        question="Êtes-vous certain de vouloir supprimer la commune ?"
        details="Tous les lieux-dits ({{currentObject.nbLieuxdits}}) et toutes les données ({{currentObject.nbDonnees}}) avec cette communes seront supprimés."

        cancellationLabel="Non, annuler la suppression"
        confirmationLabel="Oui, supprimer la commune"
        (confirm)="confirmObjectRemoval($event)">
    </entite-delete-confirmation>

    <entite-details *ngIf="isViewOneMode() || isRemoveMode()"
        [detailsData]="getDetailsData()"
        detailsTitle="Détails de la commune"
        [isBackButtonDisplayed]="isViewOneMode()"
        (back)="viewAll()">
    </entite-details>

</div>