<div class="lco-entity-page lco-commune-page">
    <top-buttons title="Communes"
        createButtonLibelle="Créer une commune"
        exportButtonLibelle="Exporter les communes"
        [areButtonsDisplayed]="isViewAllMode()"
        (onClickNewObject)="newObject()"
        (onClickExportObjects)="exportObjects()"
        (onClickRefresh)="getAll()"></top-buttons>

    <hr *ngIf="isCreationMode() || isEditionMode() || isViewOneMode() || isRemoveMode()">

    <entity-messages [messages]="messages"
        [status]="status"></entity-messages>

    <commune-table *ngIf="isViewAllMode()"
        [objects]="objects"
        (delete)="deleteObject($event)"
        (edit)="editObject($event)"
        (view)="viewObject($event)">
    </commune-table>

    <commune-form *ngIf="isCreationMode() || isEditionMode()"
        [object]="objectToSave"
        [mode]="mode"
        (confirm)="saveObject()"
        (back)="cancelEdition()">
    </commune-form>

    <commune-details *ngIf="isViewOneMode()"
        [objectToView]="objectToView"
        (back)="viewAll()">
    </commune-details>

    <commune-removal-confirmation *ngIf="isRemoveMode()"
        [objectToRemove]="objectToRemove"
        (confirm)="confirmObjectRemoval($event)">
    </commune-removal-confirmation>

</div>