<div class="bn-creation-body">
  <!-- Row containing the messages -->
  <div class="bn-creation-messages">
    <div [ngSwitch]="getPageStatus()">
      <div *ngSwitchCase="pageStatusEnum.ERROR" class="error-message">
        <!--<mat-icon>error</mat-icon>-->{{ getMessage() }}
      </div>
      <div *ngSwitchCase="pageStatusEnum.SUCCESS" class="success-message">
        <!--<mat-icon>check_circle</mat-icon>-->{{ getMessage() }}
      </div>
      <div *ngSwitchDefault class="default-message">
        <!--<mat-icon>not_interested</mat-icon>-->Aucun message
      </div>
    </div>
  </div>

  <!-- Row containing the top buttons -->
  <div class="bn-creation-buttons">
    <!-- Top left buttons -->
    <span class="top-left-creation-buttons">
      <button
        class="no-text-button"
        mat-raised-button
        matTooltip="Donnée précédente"
        matTooltipClass="default-tooltip"
        color="primary"
        [disabled]="!isPreviousDonneeBtnDisplayed()"
        (click)="onPreviousDonneeBtnClicked()"
      >
        <mat-icon>navigate_before</mat-icon>
      </button>

      <button
        class="no-text-button"
        mat-raised-button
        matTooltip="Donnée suivante"
        matTooltipClass="default-tooltip"
        color="primary"
        [disabled]="!isNextDonneeBtnDisplayed()"
        (click)="onNextDonneeBtnClicked()"
      >
        <mat-icon>navigate_next</mat-icon>
      </button>

      <button
        class="no-text-button"
        mat-raised-button
        matTooltip="Recherche par ID"
        matTooltipClass="default-tooltip"
        color="primary"
        (click)="onSearchByIdBtnClicked()"
      >
        <mat-icon>search</mat-icon>
      </button>

      <button
        class="no-text-button"
        mat-raised-button
        matTooltip="Nouvelle donnée"
        matTooltipClass="default-tooltip"
        color="primary"
        *ngIf="isNewDonneeBtnDisplayed()"
        (click)="onNewDonneeBtnClicked()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </span>

    <span class="flex-spacer"></span>

    <!-- Top right buttons -->
    <span class="top-right-creation-buttons">
      <button
        class="no-text-button"
        mat-raised-button
        color="primary"
        matTooltip="Enregistrer la fiche inventaire"
        matTooltipClass="default-tooltip"
        *ngIf="isSaveInventaireBtnDisplayed()"
        [disabled]="!inventaireForm.valid"
        (click)="onSaveInventaireButtonClicked()"
      >
        <mat-icon>save</mat-icon>
      </button>
      <button
        class="no-text-button"
        mat-raised-button
        matTooltip="Enregistrer la fiche espèce"
        matTooltipClass="default-tooltip"
        color="primary"
        *ngIf="isSaveDonneeBtnDisplayed()"
        [disabled]="!donneeForm.valid"
        (click)="onSaveDonneeButtonClicked()"
      >
        <mat-icon>save</mat-icon>
      </button>
      <button
        class="no-text-button"
        *ngIf="isUpdateDonneeBtnDisplayed()"
        mat-raised-button
        matTooltip="Mettre à jour les fiches inventaire et espèce"
        matTooltipClass="default-tooltip"
        color="primary"
        (click)="saveInventaireAndDonnee()"
        [disabled]="!inventaireForm.valid || !donneeForm.valid"
      >
        <mat-icon>save</mat-icon>
      </button>
      <button
        class="no-text-button"
        mat-raised-button
        matTooltip="Supprimer la fiche espèce"
        matTooltipClass="default-tooltip"
        color="primary"
        *ngIf="isDeleteDonneeBtnDisplayed()"
        (click)="onDeleteDonneeBtnClicked()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </span>
  </div>

  <!-- FORM TO CREATE DONNEES -->
  <div class="bn-creation-form">
    <div>
      <div class="creation-inventaire-titre">
        <h2>
          Fiche inventaire
          <span *ngIf="getDisplayedInventaireId()"
            >(ID={{ getDisplayedInventaireId() }})</span
          >
        </h2>
        <span class="flex-spacer"></span>
        <button
          mat-button
          color="primary"
          *ngIf="isNewInventaireBtnDisplayed()"
          (click)="onNewInventaireBtnClicked()"
        >
          Nouveau
        </button>
        <button
          mat-button
          color="primary"
          *ngIf="isUpdateInventaireBtnDisplayed()"
          (click)="onEditInventaireBtnClicked()"
        >
          Modifier
        </button>
      </div>

      <form [formGroup]="inventaireForm">
        <div class="inventaire-form">
          <!-- CARD OBSERVATEUR + ASSOCIES -->
          <mat-card class="mat-card-override full-width-container">
            <!-- OBSERVATEUR -->
            <div>
              <input-observateur
                [control]="inventaireForm.controls['observateur']"
                [observateurs]="pageModel.observateurs"
              >
              </input-observateur>
            </div>

            <!-- ASSOCIES -->
            <div *ngIf="pageModel.areAssociesDisplayed">
              <input-observateurs-associes
                [control]="inventaireForm.controls['observateursAssocies']"
                [observateurs]="pageModel.observateurs"
              >
              </input-observateurs-associes>
            </div>
          </mat-card>
          <!-- END CARD OBSERVATEUR + ASSOCIES -->

          <!-- CARD DATE + HEURE + DUREE -->
          <mat-card class="mat-card-override bn-creation-date">
            <!-- DATE -->
            <input-date
              [control]="inventaireForm.controls['date']"
            ></input-date>

            <!-- HEURE -->
            <input-time
              [control]="inventaireForm.controls['heure']"
              id="heure"
              label="Heure"
            ></input-time>

            <!-- DUREE -->
            <input-time
              [control]="inventaireForm.controls['duree']"
              id="duree"
              label="Durée"
            ></input-time>
          </mat-card>
          <!-- END CARD DATE + HEURE + DUREE -->

          <!-- CARD DEPARTEMENT + COMMUNE + LIEUDIT + ALTITUDE + LONGITUDE + LATITUDE -->
          <mat-card class="mat-card-override">
            <input-lieudit
              formGroupName="lieu"
              [controlGroup]="inventaireForm.controls['lieu']"
              [departements]="departements$"
              [communes]="communes$"
              [lieuxdits]="lieuxdits$"
            >
            </input-lieudit>
          </mat-card>
          <!-- END CARD DEPARTEMENT + COMMUNE + LIEUDIT + ALTITUDE + LONGITUDE + LATITUDE -->

          <!-- CARD TEMPERATURE + METEO -->
          <mat-card
            class="mat-card-override bn-creation-meteo"
            *ngIf="pageModel.isMeteoDisplayed"
          >
            <!-- TEMPERATURE -->
            <span class="temperature-container">
              <input-temperature
                [control]="inventaireForm.controls['temperature']"
              ></input-temperature>
            </span>

            <!-- METEOS -->
            <span class="meteo-container">
              <input-meteos
                [meteos]="pageModel.meteos"
                [control]="inventaireForm.controls['meteos']"
              ></input-meteos>
            </span>
          </mat-card>
          <!-- END CARD TEMPERATURE + METEO -->
        </div>
        <!-- END FICHE INVENTAIRE -->
      </form>
    </div>

    <!-- FICHE ESPECE  -->
    <div>
      <h2>
        Fiche espèce
        <span *ngIf="getCurrentDonneeIndex()"
          >n°{{ getCurrentDonneeIndex() }} (ID={{
            getDisplayedDonneeId()
          }})</span
        >
      </h2>

      <div class="espece-form">
        <form [formGroup]="donneeForm">
          <!-- CARD CLASSE + CODE ESPECE + NOM FRANCAIS -->
          <mat-card
            class="mat-card-override bn-creation-quoi full-width-container"
          >
            <input-espece
              class="card-espece"
              formGroupName="especeGroup"
              [controlGroup]="donneeForm.controls['especeGroup']"
              [classes]="classes$"
              [especes]="especes$"
            ></input-espece>
          </mat-card>
          <!-- END CARD CLASSE + CODE ESPECE + NOM FRANCAIS -->

          <!-- CARD NOMBRE + ESTIMATION DU NOMBRE + SEXE + AGE -->
          <mat-card class="mat-card-override">
            <div class="combien-de-container">
              <input-nombre
                class="estimation-nombre-espece"
                [controlGroup]="donneeForm.controls['nombreGroup']"
                [defaultNombre]="pageModel.defaultNombre"
                [estimationsNombre]="pageModel.estimationsNombre"
                formGroupName="nombreGroup"
              >
              </input-nombre>

              <!-- SEXE -->
              <input-sexe
                class="sexe-espece"
                [control]="donneeForm.controls['sexe']"
                [sexes]="pageModel.sexes"
              ></input-sexe>

              <!-- AGE  -->
              <input-age
                class="age-espece"
                [control]="donneeForm.controls['age']"
                [ages]="pageModel.ages"
              ></input-age>
            </div>

            <!-- DISTANCE AND ESTIMATION DISTANCE -->
            <div
              *ngIf="
                pageModel.isDistanceDisplayed ||
                pageModel.isRegroupementDisplayed
              "
              class="distance-regroupement-container"
            >
              <ng-container *ngIf="pageModel.isDistanceDisplayed">
                <span class="distance-container">
                  <!-- ESTIMATION DISTANCE -->
                  <input-distance
                    [controlGroup]="donneeForm.controls['distanceGroup']"
                    [estimationsDistance]="pageModel.estimationsDistance"
                    formGroupName="distanceGroup"
                  >
                  </input-distance>
                </span>
              </ng-container>

              <span
                *ngIf="
                  pageModel.isDistanceDisplayed &&
                  pageModel.isRegroupementDisplayed
                "
                class="distance-regroupement-separator"
              >
              </span>

              <!-- REGROUPEMENT-->
              <ng-container *ngIf="pageModel.isRegroupementDisplayed">
                <input-regroupement
                  [control]="donneeForm.controls['regroupement']"
                  [nextRegroupement]="nextRegroupement"
                ></input-regroupement>
              </ng-container>
            </div>
          </mat-card>
          <!-- END CARD NOMBRE + ESTIMATION DU NOMBRE + SEXE + AGE -->

          <!-- CARD COMPORTEMENT x6 -->
          <mat-card class="mat-card-override">
            <mat-card-content
              class="comportements-container full-width-container"
            >
              <input-comportements
                formGroupName="comportementsGroup"
                [donneeForm]="donneeForm"
                [controlGroup]="donneeForm.controls['comportementsGroup']"
                [comportements]="pageModel.comportements"
              ></input-comportements>
            </mat-card-content>
          </mat-card>
          <!-- END CARD COMPORTEMENT x6 -->

          <!-- CARD MILIEU x4 -->
          <mat-card class="mat-card-override">
            <mat-card-content class="milieux-container full-width-container">
              <input-milieux
                formGroupName="milieuxGroup"
                [donneeForm]="donneeForm"
                [controlGroup]="donneeForm.controls['milieuxGroup']"
                [milieux]="pageModel.milieux"
              ></input-milieux>
            </mat-card-content>
          </mat-card>
          <!-- END CARD MILIEU x4 -->

          <!-- CARD COMMENTAIRE -->
          <mat-card class="mat-card-override">
            <mat-card-content class="full-width-container">
              <!-- COMMENTAIRE -->
              <input-commentaire
                [control]="donneeForm.controls['commentaire']"
              ></input-commentaire>
            </mat-card-content>
          </mat-card>
          <!-- END CARD COMMENTAIRE -->
        </form>
      </div>
    </div>
  </div>

  <!-- BAR BOTTOM BUTTOM -->
  <div class="bn-creation-buttons">
    <span class="flex-spacer"></span>
    <span class="top-right-creation-buttons">
      <button
        class="no-text-button"
        mat-raised-button
        matTooltip="Enregistrer la fiche inventaire"
        matTooltipClass="default-tooltip"
        color="primary"
        *ngIf="isSaveInventaireBtnDisplayed()"
        [disabled]="!inventaireForm.valid"
        (click)="onSaveInventaireButtonClicked()"
      >
        <mat-icon>save</mat-icon>
      </button>
      <button
        class="no-text-button"
        mat-raised-button
        matTooltip="Enregistrer la fiche espèce"
        matTooltipClass="default-tooltip"
        color="primary"
        *ngIf="isSaveDonneeBtnDisplayed()"
        [disabled]="!donneeForm.valid"
        (click)="onSaveDonneeButtonClicked()"
      >
        <mat-icon>save</mat-icon>
      </button>
      <button
        class="no-text-button"
        mat-raised-button
        matTooltip="Mettre à jour les fiches inventaire et espèce"
        matTooltipClass="default-tooltip"
        color="primary"
        *ngIf="isUpdateDonneeBtnDisplayed()"
        (click)="saveInventaireAndDonnee()"
        [disabled]="!inventaireForm.valid || !donneeForm.valid"
      >
        <mat-icon>save</mat-icon>
      </button>
      <button
        class="no-text-button"
        mat-raised-button
        matTooltip="Supprimer la fiche espèce"
        matTooltipClass="default-tooltip"
        color="primary"
        *ngIf="isDeleteDonneeBtnDisplayed()"
        (click)="onDeleteDonneeBtnClicked()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </span>
  </div>
</div>
