<div class="creation-page">
  <!-- Row containing the top buttons -->
  <div class="creation-page-header">
    <div class="creation-page-header-content max-width-limited">
      <!-- Top left buttons -->
      <span class="creation-page-left-buttons">
        <button
          mat-raised-button
          type="button"
          matTooltip="Donnée précédente"
          matTooltipClass="default-tooltip"
          color="accent"
          [disabled]="!(isPreviousDonneeBtnDisplayed$() | async)"
          (click)="onPreviousDonneeBtnClicked()"
        >
          <mat-icon>navigate_before</mat-icon>
        </button>
  
        <button
          mat-raised-button
          type="button"
          matTooltip="Donnée suivante"
          matTooltipClass="default-tooltip"
          color="accent"
          [disabled]="!(isNextDonneeBtnDisplayed$() | async)"
          (click)="onNextDonneeBtnClicked()"
        >
          <mat-icon>navigate_next</mat-icon>
        </button>
  
        <button
          mat-raised-button
          type="button"
          matTooltip="Recherche par ID"
          matTooltipClass="default-tooltip"
          [disabled]="!(isInitializationCompleted$ | async)"
          (click)="onSearchByIdBtnClicked()"
        >
          <mat-icon>search</mat-icon>
        </button>
  
        <button
          mat-raised-button
          type="button"
          matTooltip="Retour à l'édition de la donnée courante"
          matTooltipClass="default-tooltip"
          *ngIf="isCurrentDonneeAnExistingOne$() | async"
          (click)="onBackToCurrentEditionButtonClicked()"
        >
          <mat-icon>redo</mat-icon>
        </button>
  
        <button
          color="warn"
          mat-raised-button
          type="button"
          matTooltip="Réinitialiser le formulaire"
          matTooltipClass="default-tooltip"
          *ngIf="!(isCurrentDonneeAnExistingOne$() | async)"
          [disabled]="!(isInitializationCompleted$ | async)"
          (click)="onClearFormButtonClicked()"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </span>
  
      <span class="flex-spacer"></span>
    </div>
  </div>

  <!-- FORM TO CREATE DONNEES -->
  <div class="creation-page-form max-width-limited" style="position: relative;">
    <div fxLayout="row" fxLayoutGap="50px">
      <div fxFlex="33">
        <div class="creation-page-inventaire-header">
          <h2>
            Fiche inventaire
            <button
              *ngIf="isEditingDonneeOnly()"
              mat-icon-button
              type="button"
              class="update-fiche-inventaire-button"
              matTooltip="Corriger la fiche inventaire actuelle"
              matTooltipClass="default-tooltip"
              (click)="onEditInventaireBtnClicked()"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </h2>
          <span class="flex-spacer"></span>
          <button
            *ngIf="isEditingDonneeOnly()"
            mat-icon-button
            type="button"
            color="primary"
            class="new-fiche-inventaire-button"
            matTooltip="Créer une nouvelle fiche inventaire"
            matTooltipClass="default-tooltip"
            (click)="onNewInventaireBtnClicked()"
          >
            <mat-icon>add_to_photos</mat-icon>
          </button>
          <button
            *ngIf="isCurrentDonneeAnExistingOne$() | async"
            mat-icon-button
            type="button"
            color="primary"
            class="new-fiche-inventaire-button"
            matTooltip="Ajouter une nouvelle fiche espèce à cet inventaire"
            matTooltipClass="default-tooltip"
            (click)="onAddADonneeToThisInventaireButtonClicked()"
          >
            <mat-icon>note_add</mat-icon>
          </button>
        </div>

        <form [formGroup]="inventaireForm">
          <div class="inventaire-form">
            <!-- CARD OBSERVATEUR + ASSOCIES -->
            <mat-card class="mat-card-override full-width-container">
              <!-- OBSERVATEUR -->
              <div>
                <input-observateur
                  [control]="$any(inventaireForm.controls['observateur'])"
                  [observateurs]="observateurs$"
                >
                </input-observateur>
              </div>

              <!-- ASSOCIES -->
              <div *ngIf="(appConfiguration$ | async)?.areAssociesDisplayed">
                <input-observateurs-associes
                  [control]="$any(inventaireForm.controls['observateursAssocies'])"
                  [observateurs]="observateurs$ | async"
                >
                </input-observateurs-associes>
              </div>
            </mat-card>
            <!-- END CARD OBSERVATEUR + ASSOCIES -->

            <!-- CARD DATE + HEURE + DUREE -->
            <mat-card
              fxLayout="row wrap"
              fxLayoutGap="20px"
              class="mat-card-override"
            >
              <!-- DATE -->
              <input-date
                fxFlex="2 0 100px"
                [control]="$any(inventaireForm.controls['date'])"
              ></input-date>

              <!-- HEURE -->
              <input-time
                fxFlex="1 0 70px"
                [control]="$any(inventaireForm.controls['heure'])"
                id="heure"
                label="Heure"
              ></input-time>

              <!-- DUREE -->
              <input-duration
                fxFlex="1 0 70px"
                [control]="$any(inventaireForm.controls['duree'])"
                id="duree"
                label="Durée"
              ></input-duration>
            </mat-card>
            <!-- END CARD DATE + HEURE + DUREE -->

            <!-- CARD DEPARTEMENT + COMMUNE + LIEUDIT + ALTITUDE + LONGITUDE + LATITUDE -->
            <mat-card class="mat-card-override">
              <input-lieudit
                formGroupName="lieu"
                [controlGroup]="$any(inventaireForm.controls['lieu'])"
                (searchInMapClick)="toggleSearchInMap()"
              >
              </input-lieudit>
            </mat-card>
            <!-- END CARD DEPARTEMENT + COMMUNE + LIEUDIT + ALTITUDE + LONGITUDE + LATITUDE -->

            <!-- CARD TEMPERATURE + METEO -->
            <mat-card
              class="mat-card-override"
              *ngIf="(appConfiguration$ | async)?.isMeteoDisplayed"
            >
              <div fxLayout="row wrap" fxLayoutGap="20px">
                <!-- TEMPERATURE -->
                <input-temperature
                  fxFlex="100px"
                  [control]="$any(inventaireForm.controls['temperature'])"
                ></input-temperature>

                <!-- METEOS -->
                <input-meteos
                  fxFlex="1 0 120px"
                  [meteos]="meteos$ | async"
                  [control]="$any(inventaireForm.controls['meteos'])"
                ></input-meteos>
              </div>

              <mat-error
                *ngIf="
                  inventaireForm.controls['temperature'].hasError(
                    'forbiddenValue'
                  )
                "
                class="creation-page-error"
              >
                La température doit être un nombre entier compris entre -128 et
                127.
              </mat-error>
            </mat-card>
            <!-- END CARD TEMPERATURE + METEO -->
          </div>
          <!-- END FICHE INVENTAIRE -->
        </form>
      </div>

      <!-- FICHE ESPECE  -->
      <div fxFlex="67">

        <mat-card *ngIf="isLieuditMapDisplayed$ | async" class="mat-card-override lieudit-map">
          <mat-card-content>
            <creation-map >
            </creation-map>
          </mat-card-content>
        </mat-card>

        <ng-container *ngIf="!(isLieuditMapDisplayed$ | async)">
          <h2>
            Fiche espèce

            <span
              *ngIf="getCurrentDonneeIndex$() | async"
            >
              n°{{ getCurrentDonneeIndex$() | async }}
            </span>

            <span *ngIf="!(getCurrentDonneeIndex$() | async)"
                 class="tag-new">
                 NOUVEAU
            </span>

            <span *ngIf="getCurrentDonneeIndex$() | async"
                  class="tag-id">
                  ID {{ getDisplayedDonneeId$() | async }}
            </span>
          </h2>
  
          <div class="espece-form">
            <form [formGroup]="donneeForm">
              <!-- CARD CLASSE + CODE ESPECE + NOM FRANCAIS -->
              <mat-card
                class="mat-card-override creation-espece-card full-width-container"
              >
                <input-espece
                  #especeInput
                  class="card-espece"
                  formGroupName="especeGroup"
                  [controlGroup]="$any(donneeForm.controls['especeGroup'])"
                ></input-espece>
              </mat-card>
              <!-- END CARD CLASSE + CODE ESPECE + NOM FRANCAIS -->
  
              <!-- CARD NOMBRE + ESTIMATION DU NOMBRE + SEXE + AGE -->
              <mat-card class="mat-card-override">
                <div fxLayout="row wrap" fxLayoutGap="10%">
                  <input-nombre
                    fxFlex="auto"
                    fxLayout="row"
                    fxLayoutGap="20px"
                    [controlGroup]="$any(donneeForm.controls['nombreGroup'])"
                    [defaultNombre]="(appConfiguration$ | async)?.defaultNombre"
                    [estimationsNombre]="estimationsNombre$ | async"
                    formGroupName="nombreGroup"
                  >
                  </input-nombre>
  
                  <!-- SEXE -->
                  <input-sexe
                    fxFlex="1 0 120px"
                    [control]="$any(donneeForm.controls['sexe'])"
                    [sexes]="sexes$ | async"
                  ></input-sexe>
  
                  <!-- AGE  -->
                  <input-age
                    fxFlex="1 0 120px"
                    [control]="$any(donneeForm.controls['age'])"
                    [ages]="ages$ | async"
                  ></input-age>
                </div>
                <div>
                  <mat-error
                    *ngIf="isNombreFieldInvalid()"
                    class="creation-page-error"
                  >
                    Le nombre doit être un nombre entier compris entre 1 et 65535.
                  </mat-error>
                </div>
  
                <!-- DISTANCE AND ESTIMATION DISTANCE -->
                <div
                  *ngIf="
                    (appConfiguration$ | async)?.isDistanceDisplayed ||
                    (appConfiguration$ | async)?.isRegroupementDisplayed
                  "
                  fxLayout="row wrap"
                  fxLayoutGap="10%"
                >
                  <!-- ESTIMATION DISTANCE -->
                  <input-distance
                    *ngIf="(appConfiguration$ | async)?.isDistanceDisplayed"
                    [fxFlex]="getFxDistance$() | async"
                    fxLayout="row"
                    fxLayoutGap="20px"
                    [controlGroup]="$any(donneeForm.controls['distanceGroup'])"
                    [estimationsDistance]="estimationsDistance$ | async"
                    formGroupName="distanceGroup"
                  >
                  </input-distance>
  
                  <!-- REGROUPEMENT-->
                  <input-regroupement
                    *ngIf="(appConfiguration$ | async)?.isRegroupementDisplayed"
                    [fxFlex]="getFxRegroupement$() | async"
                    [control]="$any(donneeForm.controls['regroupement'])"
                  ></input-regroupement>
  
                  <mat-error
                    *ngIf="isDistanceFieldInvalid()"
                    class="creation-page-error"
                  >
                    La distance doit être un nombre entier compris entre 0 et
                    65535.
                  </mat-error>
                </div>
              </mat-card>
              <!-- END CARD NOMBRE + ESTIMATION DU NOMBRE + SEXE + AGE -->
  
              <!-- CARD COMPORTEMENT x6 -->
              <mat-card class="mat-card-override">
                <mat-card-content
                  class="comportements-container full-width-container"
                >
                  <input-comportements
                    formGroupName="comportementsGroup"
                    [donneeForm]="donneeForm"
                    [controlGroup]="$any(donneeForm.controls['comportementsGroup'])"
                    [comportements]="comportements$ | async"
                  ></input-comportements>
                </mat-card-content>
              </mat-card>
              <!-- END CARD COMPORTEMENT x6 -->
  
              <!-- CARD MILIEU x4 -->
              <mat-card class="mat-card-override">
                <mat-card-content class="milieux-container full-width-container">
                  <input-milieux
                    formGroupName="milieuxGroup"
                    [donneeForm]="donneeForm"
                    [controlGroup]="$any(donneeForm.controls['milieuxGroup'])"
                    [milieux]="milieux$ | async"
                  ></input-milieux>
                </mat-card-content>
              </mat-card>
              <!-- END CARD MILIEU x4 -->
  
              <!-- CARD COMMENTAIRE -->
              <mat-card class="mat-card-override">
                <mat-card-content class="full-width-container">
                  <!-- COMMENTAIRE -->
                  <input-commentaire
                    [control]="$any(donneeForm.controls['commentaire'])"
                  ></input-commentaire>
                </mat-card-content>
              </mat-card>
              <!-- END CARD COMMENTAIRE -->
            </form>
          </div>
        </ng-container>

      </div>
    </div>
    <div class="save-button-container">
      <button
        class="save-button"
        mat-fab
        type="button"
        [matTooltip]="getSaveButtonTooltip()"
        matTooltipClass="default-tooltip"
        color="primary"
        (click)="onSaveButtonClicked()"
        [disabled]="isSaveButtonDisabled()"
      >
        <mat-icon>save</mat-icon>
      </button>

      <button
        class="delete-button"
        mat-fab
        matTooltip="Supprimer la fiche espèce"
        matTooltipClass="default-tooltip"
        color="warn"
        *ngIf="isCurrentDonneeAnExistingOne$() | async"
        (click)="onDeleteDonneeBtnClicked()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
