<h1 class="mat-display-1" style="display: none">Création des données</h1>

<div class="lco-creation-body">
  <!-- Bar containing the messages -->
  <div class="lco-creation-messages">
    <div [ngSwitch]="getPageStatus()">
      <div *ngSwitchCase="pageStatusEnum.ERROR">{{ getMessage() }}</div>
      <div *ngSwitchCase="pageStatusEnum.SUCCESS">{{ getMessage() }}</div>
      <div *ngSwitchDefault>
        <strong>Aucun message</strong>
      </div>
    </div>
  </div>

  <!-- Bar containing the top buttons -->
  <div class="lco-creation-buttons">
    <!-- Top left buttons -->
    <span class="top-left-creation-buttons">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!isPreviousDonneeBtnDisplayed()"
        (click)="onPreviousDonneeBtnClicked()"
      >
        Donnée précédente
      </button>

      <button
        mat-raised-button
        color="primary"
        [disabled]="!isNextDonneeBtnDisplayed()"
        (click)="onNextDonneeBtnClicked()"
      >
        Donnée suivante
      </button>

      <button
        mat-raised-button
        color="primary"
        (click)="onSearchByIdBtnClicked()"
      >
        Recherche par ID
      </button>

      <button
        mat-raised-button
        color="primary"
        *ngIf="isNewDonneeBtnDisplayed()"
        (click)="onNewDonneeBtnClicked()"
      >
        Nouvelle donnée
      </button>
    </span>

    <span class="flex-spacer"></span>

    <!-- Top right buttons -->
    <span class="top-right-creation-buttons">
      <button
        mat-raised-button
        color="primary"
        *ngIf="isSaveInventaireBtnDisplayed()"
        [disabled]="!inventaireForm.valid"
        (click)="saveInventaire()"
      >
        Enregistrer la fiche inventaire
      </button>
      <button
        mat-raised-button
        color="primary"
        *ngIf="isSaveDonneeBtnDisplayed()"
        [disabled]="!donneeForm.valid"
        (click)="saveDonnee()"
      >
        Enregistrer la fiche espèce
      </button>
      <button
        *ngIf="isUpdateDonneeBtnDisplayed()"
        mat-raised-button
        color="primary"
        (click)="saveInventaireAndDonnee()"
      >
        Mettre à jour les fiches inventaire et espèce
      </button>
      <button
        mat-raised-button
        color="primary"
        *ngIf="isDeleteDonneeBtnDisplayed()"
        (click)="onDeleteDonneeBtnClicked()"
      >
        Supprimer la donnée
      </button>
    </span>
  </div>

  <!-- FORM TO CREATE DONNEES -->
  <div class="lco-creation-form">
    <div>
      <div class="creation-inventaire-titre flex-container">
        <h2>
          Fiche inventaire
          <span *ngIf="getDisplayedInventaireId()"
            >(ID={{ getDisplayedInventaireId() }})</span
          >
        </h2>
        <span class="flex-spacer"></span>
        <button
          mat-button
          color="primary"
          *ngIf="isNewInventaireBtnDisplayed()"
          (click)="onNewInventaireBtnClicked()"
        >
          Nouvel inventaire
        </button>
        <button
          mat-button
          color="primary"
          *ngIf="isUpdateInventaireBtnDisplayed()"
          (click)="onEditInventaireBtnClicked()"
        >
          Modifier l'inventaire
        </button>
      </div>

      <form [formGroup]="inventaireForm">
        <div class="inventaire-form">
          <!-- CARD OBSERVATEUR + ASSOCIES -->
          <mat-card class="mat-card-override full-width-container">
            <!-- OBSERVATEUR -->
            <input-observateur
              [control]="inventaireForm.controls['observateur']"
              [observateurs]="pageModel.observateurs"
            >
            </input-observateur>

            <!-- ASSOCIES -->
            <input-observateurs-associes
              *ngIf="pageModel.areAssociesDisplayed"
              [control]="inventaireForm.controls['observateursAssocies']"
              [observateurs]="pageModel.observateurs"
            >
            </input-observateurs-associes>
          </mat-card>
          <!-- END CARD OBSERVATEUR + ASSOCIES -->

          <!-- CARD DATE + HEURE + DUREE -->
          <mat-card class="mat-card-override lco-creation-date">
            <!-- DATE -->
            <input-date
              [control]="inventaireForm.controls['date']"
            ></input-date>

            <!-- HEURE -->
            <input-time
              [control]="inventaireForm.controls['heure']"
              id="heure"
              label="Heure"
            ></input-time>

            <!-- DUREE -->
            <input-time
              [control]="inventaireForm.controls['duree']"
              id="duree"
              label="Durée"
            ></input-time>
          </mat-card>
          <!-- END CARD DATE + HEURE + DUREE -->

          <!-- CARD DEPARTEMENT + COMMUNE + LIEUDIT + ALTITUDE + LONGITUDE + LATITUDE -->
          <mat-card class="mat-card-override">
            <input-lieudit
              formGroupName="lieu"
              [controlGroup]="inventaireForm.controls['lieu']"
              [departements]="departements$"
              [communes]="communes$"
              [lieuxdits]="lieuxdits$"
            >
            </input-lieudit>
          </mat-card>
          <!-- END CARD DEPARTEMENT + COMMUNE + LIEUDIT + ALTITUDE + LONGITUDE + LATITUDE -->

          <!-- CARD TEMPERATURE + METEO -->
          <mat-card
            class="mat-card-override lco-creation-meteo"
            *ngIf="pageModel.isMeteoDisplayed"
          >
            <!-- TEMPERATURE -->
            <input-temperature
              [control]="inventaireForm.controls['temperature']"
            ></input-temperature>

            <!-- METEOS -->
            <input-meteos
              [meteos]="pageModel.meteos"
              [control]="inventaireForm.controls['meteos']"
            ></input-meteos>
          </mat-card>
          <!-- END CARD TEMPERATURE + METEO -->
        </div>
        <!-- END FICHE INVENTAIRE -->
      </form>
    </div>

    <!-- FICHE ESPECE  -->
    <div>
      <h2>
        Fiche espèce
        <span *ngIf="navigationService.currentDonneeIndex"
          >n°{{ navigationService.currentDonneeIndex }} (ID={{
            getDisplayedDonneeId()
          }})</span
        >
      </h2>

      <div class="espece-form">
        <form [formGroup]="donneeForm">
          <!-- CARD CLASSE + CODE ESPECE + NOM FRANCAIS -->
          <mat-card class="mat-card-override lco-creation-quoi">
            <input-espece
              formGroupName="especeGroup"
              [controlGroup]="donneeForm.controls['especeGroup']"
              [classes]="classes$"
              [especes]="especes$"
            ></input-espece>
          </mat-card>
          <!-- END CARD CLASSE + CODE ESPECE + NOM FRANCAIS -->

          <!-- CARD NOMBRE + ESTIMATION DU NOMBRE + SEXE + AGE -->
          <mat-card class="mat-card-override">
            <div class="combien-de-container">
              <input-nombre
                [controlGroup]="donneeForm.controls['nombreGroup']"
                [defaultNombre]="pageModel.defaultNombre"
                [estimationsNombre]="pageModel.estimationsNombre"
                formGroupName="nombreGroup"
              >
              </input-nombre>

              <!-- SEXE -->
              <input-sexe
                [control]="donneeForm.controls['sexe']"
                [sexes]="pageModel.sexes"
              ></input-sexe>

              <!-- AGE  -->
              <input-age
                [control]="donneeForm.controls['age']"
                [ages]="pageModel.ages"
              ></input-age>
            </div>

            <!-- DISTANCE AND ESTIMATION DISTANCE -->
            <div
              *ngIf="
                pageModel.isDistanceDisplayed ||
                pageModel.isRegroupementDisplayed
              "
              class="distance-regroupement-container"
            >
              <ng-container *ngIf="pageModel.isDistanceDisplayed">
                <span class="distance-container">
                  <!-- ESTIMATION DISTANCE -->
                  <input-distance
                    [controlGroup]="donneeForm.controls['distanceGroup']"
                    [estimationsDistance]="pageModel.estimationsDistance"
                    formGroupName="distanceGroup"
                  >
                  </input-distance>
                </span>
              </ng-container>

              <!-- REGROUPEMENT-->
              <ng-container *ngIf="pageModel.isRegroupementDisplayed">
                <input-regroupement
                  [control]="donneeForm.controls['regroupement']"
                  [nextRegroupement]="nextRegroupement"
                ></input-regroupement>
              </ng-container>
            </div>
          </mat-card>
          <!-- END CARD NOMBRE + ESTIMATION DU NOMBRE + SEXE + AGE -->

          <!-- CARD COMPORTEMENT x6 -->
          <mat-card class="mat-card-override">
            <mat-card-content class="comportements-container">
              <input-comportements
                formGroupName="comportementsGroup"
                [controlGroup]="donneeForm.controls['comportementsGroup']"
                [comportements]="pageModel.comportements"
              ></input-comportements>
            </mat-card-content>
          </mat-card>
          <!-- END CARD COMPORTEMENT x6 -->

          <!-- CARD MILIEU x4 -->
          <mat-card class="mat-card-override">
            <mat-card-content class="milieux-container">
              <input-milieux
                formGroupName="milieuxGroup"
                [controlGroup]="donneeForm.controls['milieuxGroup']"
                [milieux]="pageModel.milieux"
              ></input-milieux>
            </mat-card-content>
          </mat-card>
          <!-- END CARD MILIEU x4 -->

          <!-- CARD COMMENTAIRE -->
          <mat-card class="mat-card-override">
            <mat-card-content class="full-width-container">
              <!-- COMMENTAIRE -->
              <input-commentaire
                [control]="donneeForm.controls['commentaire']"
              ></input-commentaire>
            </mat-card-content>
          </mat-card>
          <!-- END CARD COMMENTAIRE -->
        </form>
      </div>
    </div>
  </div>

  <!-- BAR BOTTOM BUTTOM -->
  <div class="creation-footer">
    <span class="flex-spacer"></span>

    <button
      mat-raised-button
      color="primary"
      *ngIf="isSaveInventaireBtnDisplayed()"
      [disabled]="!inventaireForm.valid"
      (click)="saveInventaire()"
    >
      Enregistrer l'inventaire
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="isSaveDonneeBtnDisplayed()"
      [disabled]="!donneeForm.valid"
      (click)="saveDonnee()"
    >
      Enregistrer la donnée
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="isUpdateDonneeBtnDisplayed()"
      (click)="saveInventaireAndDonnee()"
    >
      Mettre à jour la donnée
    </button>
  </div>
</div>
