@use "~@angular/material/theming" as mat;
@use "src/styles/variables";

$standardColumnGap: 20px;
$temperatureFieldWidth: 100px;

mat-card.mat-card-override {
  padding-bottom: 8px;
  border: 2px solid variables.$main-color;
  box-shadow: none;
}

.creation-page {
  height: 100%;

  .max-width-limited {
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  div.creation-page-header {
    background-color: variables.$main-color;
    min-height: 30px;

    .creation-page-header-content {
      display: flex;
      flex: 0 0 auto;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 30px;
      padding-bottom: 10px;
    }

    .creation-page-left-buttons {
      button {
        margin-right: 10px;
      }
    }

    .creation-page-right-buttons {
      button {
        margin-left: 10px;
      }
    }
  }

  .creation-page-form {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 100px;

    .creation-page-inventaire-header {
      display: flex;
      button {
        height: 32px;
      }
    }

    .inventaire-form,
    .espece-form {
      mat-card:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    .card-espece {
      display: grid;
      grid-column-gap: $standardColumnGap;
      grid-template-columns: 180px auto;
    }

    .creation-espece-card {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.comportements-container > input-code-libelle:not(:last-child),
.milieux-container > input-code-libelle:not(:last-child) {
  margin-right: 3 * $standardColumnGap;
}

input-comportements,
input-milieux {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: $standardColumnGap;
}

.update-fiche-inventaire-button {
  mat-icon {
    font-size: 18px;
    padding-bottom: 8px;
  }
}

.new-fiche-inventaire-button {
  mat-icon {
    font-size: 30px;
    margin-right: 0px;
    padding-bottom: 8px;
  }
}

.save-button-container {
  position: sticky;
  bottom: 5vh;
  right: 50px;
  margin-top: 1.5em;
  float: right;

  .save-button,
  .delete-button {
    margin-right: 0.9rem;
  }
}

mat-card.lieudit-map {
  margin-top: 48px;
  z-index: 200;

  padding: 0;

  mat-card-content {
    height: 600px;
  }
}
