<div class="lco-entity-form lco-entite-simple-form">
    <form (ngSubmit)="save()"
        #entiteSimpleForm="ngForm">
        <div>
            <button type="button"
                class="close"
                (click)="cancel()">&times;
            </button>
            <h2 *ngIf="isCreationMode()">{{creationTitle}}</h2>
            <h2 *ngIf="isEditionMode()">{{editionTitle}}</h2>
        </div>
        <div>
            <div *ngIf="isEditionMode()"
                class="form-group">
                <label for="fieldId">ID</label>
                <input type="text"
                    class="form-control"
                    id="fieldId"
                    name="fieldId"
                    [(ngModel)]="object.id"
                    #fieldId="ngModel"
                    readonly/>
            </div>

            <div class="form-group">
                <label class="control-label"
                    for="input-code">Code</label>
                <input type="text"
                    class="form-control"
                    name="input-code"
                    id="input-code"
                    [(ngModel)]="object.code"
                    #inputCode="ngModel"
                    required/>

                <div [hidden]="inputCode.valid || inputCode.pristine">
                    <p class="help-block"
                        [hidden]="inputCode.valid.required">
                        Le code ne peut pas être vide.
                    </p>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 text-right ">
                <button type="button"
                    class="btn btn-default"
                    (click)="cancel()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
                    <span>Annuler</span>
                </button>
                <button type="submit"
                    class="btn btn-primary"
                    [disabled]="!entiteSimpleForm.form.valid">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;
                    <span>Enregistrer</span>
                </button>
            </div>
        </div>
    </form>

</div>