<div class="table-topbar">
  <mat-form-field class="table-filter-field">
    <input
      matInput
      (keyup)="applyFilter($any($event.target).value)"
      placeholder="Filtre"
    />
  </mat-form-field>
  <span class="flex-spacer"></span>

  <div class="table-top-buttons">
    <button
      mat-raised-button
      type="button"
      (click)="editObject()"
      [disabled]="!selectedId"
    >
      <mat-icon>edit</mat-icon>
      Éditer
    </button>
    <button
      mat-raised-button
      type="button"
      (click)="deleteObject()"
      [disabled]="!selectedId"
    >
      <mat-icon>delete</mat-icon>
      Supprimer
    </button>
  </div>
</div>
