<!-- ESTIMATION DISTANCE -->
<autocomplete-v2
  fxFlex="1 0 100px"
  [type]="'Estimation de la distance'"
  [values]="matchingEstimationsDistance$"
  [control]="$any(controlGroup.controls['estimationDistance'])"
  [displayFn]="displayEstimationDistanceFormat"
>
</autocomplete-v2>

<!-- DISTANCE -->
<mat-form-field fxFlex="1 0 100px">
  <input
    #input
    matInput
    [formControl]="$any(controlGroup.controls['distance'])"
    placeholder="Distance de contact (m)"
    id="input-distance"
    min="0"
    max="65535"
    name="distance"
    type="number"
  />
</mat-form-field>
