<!-- ESTIMATION DISTANCE -->
<autocomplete
  class="estimation-distance-container"
  [type]="'Estimation de la distance'"
  [values]="estimationsDistance"
  [control]="controlGroup.controls['estimationDistance']"
  [attributesToFilter]="autocompleteAttributes"
  [displayFn]="displayEstimationDistanceFormat"
>
</autocomplete>

<!-- DISTANCE -->
<mat-form-field class="distance">
  <input
    #input
    matInput
    [formControl]="controlGroup.controls['distance']"
    placeholder="Distance de contact (m)"
    id="input-nombre"
    min="0"
    name="distance"
    type="number"
  />
</mat-form-field>
