<!-- ESTIMATION DISTANCE -->
<autocomplete
  *ngIf="!isMultipleSelectMode"
  class="estimation-distance-container"
  [type]="'Estimation de la distance'"
  [values]="estimationsDistance"
  [control]="controlGroup.controls['estimationDistance']"
  [attributesToFilter]="autocompleteAttributes"
  [displayFn]="displayEstimationDistanceFormat"
>
</autocomplete>

<multiple-select
  *ngIf="isMultipleSelectMode"
  [attributesToDisplay]="['libelle']"
  [control]="controlGroup.controls['estimationsDistance']"
  [id]="'estimations-distance'"
  [options]="estimationsDistance"
  [placeholder]="'Estimations de la distance'"
></multiple-select>

<!-- DISTANCE -->
<mat-form-field class="distance">
  <input
    #input
    matInput
    [formControl]="controlGroup.controls['distance']"
    placeholder="Distance de contact (m)"
    id="input-nombre"
    min="0"
    max="65535"
    name="distance"
    type="number"
  />
</mat-form-field>
