<div class="page-container">
  <top-buttons
    title="Estimations du nombre"
    createButtonLibelle="Créer une estimation"
    exportButtonLibelle="Exporter les estimations"
    [areButtonsDisplayed]="entityModeHelper.isViewAllMode()"
    (onClickNewObject)="newObject()"
    (onClickExportObjects)="exportObjects()"
  ></top-buttons>

  <estimation-nombre-table
    *ngIf="entityModeHelper.isViewAllMode()"
    [objects]="entities$ | async"
    (delete)="deleteObject($event)"
    (edit)="editObject($event)"
    (view)="viewObject($event)"
  >
  </estimation-nombre-table>

  <entity-form
    *ngIf="
      entityModeHelper.isCreationMode() || entityModeHelper.isEditionMode()
    "
    [componentType]="getFormType()"
    creationTitle="Création d'une estimation du nombre"
    editionTitle="Édition d'une estimation du nombre"
    [entityForm]="form"
    [object]="objectToSave"
    (confirm)="saveObject($event)"
    (back)="cancelEdition()"
  ></entity-form>

  <entity-delete-confirmation
    *ngIf="entityModeHelper.isRemoveMode()"
    question="Êtes-vous certain de vouloir supprimer l'estimation du nombre ?"
    details="Toutes les données ({{
      currentObject.nbDonnees
    }}) avec cette estimation du nombre seront supprimées."
    cancellationLabel="Non, annuler la suppression"
    confirmationLabel="Oui, supprimer l'estimation du nombre"
    (confirm)="confirmObjectRemoval($event)"
  >
  </entity-delete-confirmation>
</div>
