<h1 class="panel-header">Sauvegarde de la base de données</h1>
<div class="page-container">

  <button
    *ngIf="!(isWaitPanelDisplayed$ | async)"
    mat-raised-button
    type="button"
    color="accent"
    (click)="onSaveDatabaseClicked()"
  >
    Créer une sauvegarde de la base de données
  </button>

  <div *ngIf="isWaitPanelDisplayed$ | async" style="text-align: center;">
    <img
      src="../../../../../assets/img/green-bird.svg"
      alt="Oiseaux"
      height="200px"
    />
    <div>Génération de la sauvegarde en cours...</div>
  </div>
</div>
