<autocomplete-v2
  [displayFn]="displayComportementFormat"
  [control]="$any(controlGroup.controls['comportement1'])"
  [type]="'Comportement 1'"
  [values]="matchingComportementsPerInput$[0]"
>
</autocomplete-v2>
<autocomplete-v2
  [displayFn]="displayComportementFormat"
  [control]="$any(controlGroup.controls['comportement2'])"
  [type]="'Comportement 2'"
  [values]="matchingComportementsPerInput$[1]"
>
</autocomplete-v2>
<autocomplete-v2
  [displayFn]="displayComportementFormat"
  [control]="$any(controlGroup.controls['comportement3'])"
  [type]="'Comportement 3'"
  [values]="matchingComportementsPerInput$[2]"
>
</autocomplete-v2>
<autocomplete-v2
  [displayFn]="displayComportementFormat"
  [control]="$any(controlGroup.controls['comportement4'])"
  [type]="'Comportement 4'"
  [values]="matchingComportementsPerInput$[3]"
>
</autocomplete-v2>
<autocomplete-v2
  [displayFn]="displayComportementFormat"
  [control]="$any(controlGroup.controls['comportement5'])"
  [type]="'Comportement 5'"
  [values]="matchingComportementsPerInput$[4]"
>
</autocomplete-v2>
<autocomplete-v2
  [displayFn]="displayComportementFormat"
  [control]="$any(controlGroup.controls['comportement6'])"
  [type]="'Comportement 6'"
  [values]="matchingComportementsPerInput$[5]"
>
</autocomplete-v2>
