<autocomplete
  [attributesToFilter]="autocompleteAttributes"
  [displayFn]="displayComportementFormat"
  [control]="$any(controlGroup.controls['comportement1'])"
  [type]="'Comportement 1'"
  [values]="comportements"
>
</autocomplete>
<autocomplete
  [attributesToFilter]="autocompleteAttributes"
  [displayFn]="displayComportementFormat"
  [control]="$any(controlGroup.controls['comportement2'])"
  [type]="'Comportement 2'"
  [values]="comportements"
>
</autocomplete>
<autocomplete
  [attributesToFilter]="autocompleteAttributes"
  [displayFn]="displayComportementFormat"
  [control]="$any(controlGroup.controls['comportement3'])"
  [type]="'Comportement 3'"
  [values]="comportements"
>
</autocomplete>
<autocomplete
  [attributesToFilter]="autocompleteAttributes"
  [displayFn]="displayComportementFormat"
  [control]="$any(controlGroup.controls['comportement4'])"
  [type]="'Comportement 4'"
  [values]="comportements"
>
</autocomplete>
<autocomplete
  [attributesToFilter]="autocompleteAttributes"
  [displayFn]="displayComportementFormat"
  [control]="$any(controlGroup.controls['comportement5'])"
  [type]="'Comportement 5'"
  [values]="comportements"
>
</autocomplete>
<autocomplete
  [attributesToFilter]="autocompleteAttributes"
  [displayFn]="displayComportementFormat"
  [control]="$any(controlGroup.controls['comportement6'])"
  [type]="'Comportement 6'"
  [values]="comportements"
>
</autocomplete>
