<div class="page-container">
  <top-buttons
    title="Comportements"
    createButtonLibelle="Créer un comportement"
    exportButtonLibelle="Exporter les comportements"
    [areButtonsDisplayed]="entityModeHelper.isViewAllMode()"
    (onClickNewObject)="newObject()"
    (onClickExportObjects)="exportObjects()"
    (onClickRefresh)="getAll()"
  ></top-buttons>

  <comportement-table
    *ngIf="entityModeHelper.isViewAllMode()"
    [objects]="objects"
    (delete)="deleteObject($event)"
    (edit)="editObject($event)"
    (view)="viewObject($event)"
  >
  </comportement-table>

  <entity-form
    *ngIf="
      entityModeHelper.isCreationMode() || entityModeHelper.isEditionMode()
    "
    [componentType]="getFormType()"
    creationTitle="Création d'un comportement"
    editionTitle="Édition d'un comportement"
    [entityForm]="form"
    [object]="objectToSave"
    (confirm)="saveObject($event)"
    (back)="cancelEdition()"
  ></entity-form>

  <entity-delete-confirmation
    *ngIf="entityModeHelper.isRemoveMode()"
    question="Êtes-vous certain de vouloir supprimer le comportement ?"
    details="{{ currentObject.nbDonnees }} données ont ce comportement."
    cancellationLabel="Non, annuler la suppression"
    confirmationLabel="Oui, supprimer le comportement"
    (confirm)="confirmObjectRemoval($event)"
  >
  </entity-delete-confirmation>

  <entity-details
    *ngIf="entityModeHelper.isViewOneMode() || entityModeHelper.isRemoveMode()"
    [detailsData]="getDetailsData()"
    detailsTitle="Détails du comportement"
    [isBackButtonDisplayed]="entityModeHelper.isViewOneMode()"
    (back)="viewAll()"
  >
  </entity-details>
</div>
