<table-topbar
  [selectedObject]="selectedObject"
  (onClickViewObject)="viewObject(selectedObject)"
  (onClickEditObject)="editObject(selectedObject)"
  (onClickDeleteObject)="deleteObject(selectedObject)"
  (onFilterChange)="applyFilter($event)"
>
</table-topbar>

<div class="mat-elevation-z8">
  <table class="departement-table" mat-table [dataSource]="dataSource" matSort>
    <!-- Code -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="code">
        Code
      </th>
      <td mat-cell *matCellDef="let row">{{ row.code }}</td>
    </ng-container>

    <!-- Nombre de communes -->
    <ng-container matColumnDef="nbCommunes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="nb-communes">
        Nombre de communes
      </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color">
        {{ row.nbCommunes }}
      </td>
    </ng-container>

    <!-- Nombre de lieux-dits -->
    <ng-container matColumnDef="nbLieuxdits">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="nb-lieuxdits"
      >
        Nombre de lieux-dits
      </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color">
        {{ row.nbLieuxdits }}
      </td>
    </ng-container>

    <!-- Nombre de fiches espèces -->
    <ng-container matColumnDef="nbDonnees">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="nb-donnees">
        Nombre de fiches espèces
      </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color">
        {{ row.nbDonnees }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="onRowClicked(row)"
      [ngClass]="{
        'mat-row-selected': !!selectedObject && selectedObject.id == row.id
      }"
    ></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[50, 100, 150]"></mat-paginator>
</div>
