@use "src/styles/mixins";

table.departement-table {
  @include mixins.full-width-table;

  th.code {
    width: 200px;
  }

  th.nb-communes {
    width: 200px;
  }

  th.nb-lieuxdits {
    width: 200px;
  }

  th.actions {
    width: 100px;
  }
}
