@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import "~material-design-icons/iconfont/material-icons.css";

body {
    margin : 0;
}

.wrapper{
    display: flex;
    flex-direction: column;            
    height: 100vh;
    overflow: hidden;
  }

.baseNaturalisteHeader {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
    flex: 0 0 auto;  
}

.baseNaturalisteContent{
    flex: 1 1 auto;     
    overflow-y: auto;     
  }

.header-spacer {
    flex: 1 1 auto;
}