@import "~material-design-icons/iconfont/material-icons.css";

@import "~@angular/material/theming";

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-cyan, 800, 700);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);

// Create a config with the default typography levels.
$defaultConfig: mat-typography-config();

$custom-typography: mat-typography-config(
  $headline:
    mat-typography-level(
      mat-font-size($defaultConfig, headline)-2px,
      mat-line-height($defaultConfig, headline)-2px,
      mat-font-weight($defaultConfig, headline)
    ),
  $title:
    mat-typography-level(
      mat-font-size($defaultConfig, title)-2px,
      mat-line-height($defaultConfig, title)-2px,
      mat-font-weight($defaultConfig, title)
    ),
  $body-1:
    mat-typography-level(
      mat-font-size($defaultConfig, body-1)-2px,
      mat-line-height($defaultConfig, body-1)-2px,
      mat-font-weight($defaultConfig, body-1)
    ),
  $button:
    mat-typography-level(
      mat-font-size($defaultConfig, button)-2px,
      mat-line-height($defaultConfig, button)-2px,
      mat-font-weight($defaultConfig, button)
    ),
  $input:
    mat-typography-level(
      mat-font-size($defaultConfig, input)-0.125,
      mat-line-height($defaultConfig, input)-0.125,
      mat-font-weight($defaultConfig, input)
    )
);

@include angular-material-theme($candy-app-theme);

//@include mat-core($custom-typography);
//@include angular-material-typography($custom-typography);

$standardColumnGap: 20px;

body {
  margin: 0;
}

mat-card.mat-card-override {
  padding: 12px;
  padding-bottom: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

mat-toolbar.base-naturaliste-header {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  flex: 0 0 auto;
  height: auto;
}

.base-naturaliste-content {
  flex: 1 1 auto;
  overflow-y: auto;
  margin-bottom: 10px;

  .base-naturaliste-body {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.header-spacer {
  flex: 1 1 auto;
}

.lco-creation-body {
  div.lco-creation-messages {
    display: block;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  div.lco-creation-buttons {
    .top-left-creation-buttons {
      button {
        margin-right: 10px;
      }
    }

    .top-right-creation-buttons {
      button {
        margin-left: 10px;
      }
    }
  }

  .lco-creation-form {
    background-color: mat-color($mat-grey, 300);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 50px;

    .creation-inventaire-titre {
      button {
        height: 32px;
      }
    }

    .inventaire-form,
    .espece-form {
      mat-card:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    .lco-creation-date {
      display: flex;
      flex-wrap: wrap;

      .date-creation-input {
        flex: 1 0 auto;
      }

      .time-input {
        width: 70px;
      }
    }

    .lco-creation-date > *:not(:last-child) {
      margin-right: $standardColumnGap;
    }

    .commune-container,
    .lco-creation-meteo {
      display: flex;
      .code-commune,
      .temperature-container {
        width: 100px;
        margin-right: $standardColumnGap;
      }
      .nom-commune,
      .meteo-container {
        flex: 1 0 auto;
      }
    }

    .coordonnees-form {
      display: flex;
      flex-wrap: wrap;
      & > mat-form-field {
        flex: 1 0 auto;
        width: 120px;
      }
      & > *:not(:last-child) {
        margin-right: $standardColumnGap;
      }
    }

    .lco-creation-quoi {
      display: flex;
      flex-wrap: wrap;

      .quoi-classe {
        margin-right: 3 * $standardColumnGap;
      }

      .quoi-espece {
        width: 120px;
        margin-right: $standardColumnGap;
      }

      .quoi-nom-classe {
        flex: 1 0 auto;
      }
    }

    .combien-de-container {
      .nombre-espece {
        width: 120px;
        margin-right: $standardColumnGap;
      }

      .estimation-nombre-espece {
        margin-right: 4 * $standardColumnGap;
      }

      .sexe-espece {
        width: 120px;
        margin-right: 80px;
      }

      .age-espece {
        width: 120px;
      }
    }
    .distance-regroupement-container {
      .distance-container {
        display: inline-block;

        .estimation-distance-container {
          margin-right: $standardColumnGap;
        }

        .distance-container {
          width: 120px;
        }
      }

      mat-form-field.regroupement-container {
        margin-left: 4 * $standardColumnGap;
        width: 141px;
      }
    }
  }
}

div.lco-creation-buttons {
  display: flex;
  flex: 0 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: mat-color($mat-grey, 400);
  min-height: 30px;
}

.comportements-container > input-code-libelle:not(:last-child),
.milieux-container > input-code-libelle:not(:last-child) {
  margin-right: 3 * $standardColumnGap;
}

.code-libelle-container {
  display: inline-block;
  .code-input {
    margin-right: 10px;
  }
}

.flex-container {
  display: flex;
}

.full-width-container > * {
  width: 100%;
}

.base-naturaliste {
  .mat-icon {
    height: 28px;
  }

  .mat-menu-item {
    line-height: 30px;
    height: 30px;
  }

  .lco-creation-body .mat-raised-button {
    line-height: 30px;
    height: 30px;
  }
}

.configuration-container {
  mat-row {
    min-height: 36px;
  }

  .configuration-container-header {
    display: flex;
    flex: 0 0 auto;

    .refresh-button {
      min-width: 110px;
    }

    .edit-button {
      min-width: 220px;
    }
  }
}

.flex-spacer {
  flex: 1 1 auto;
}

.button-spacer {
  flex: 0 1 20px;
}

button mat-icon:first-child {
  margin-right: 10px;
}

.table-topbar {
  display: flex;
  flex: 0 0 auto;

  .table-filter-field {
    width: 500px;
  }
}

.table-top-buttons {
  button {
    margin-left: 20px;
  }
}

.entity-page-header {
  display: flex;
  flex: 0 0 auto;
  margin-bottom: 40px;

  .entity-top-buttons {
    button {
      margin-left: 20px;
    }
  }
}

.base-naturaliste {
  .lco-entity-page,
  .configuration-container,
  .import-page-container {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .mat-row-selected {
    background: mat-color($mat-grey, 300);
  }

  .cancel-submit-buttons {
    display: flex;
    flex: 0 0 auto;
    margin-top: 20px;
  }

  .entite-form,
  .configuration-form {
    width: 500px;
    mat-form-field.mat-form-field {
      width: 100%;
    }

    .mat-checkbox-label {
      width: 500px;
    }

    label.mat-checkbox-layout {
      padding-bottom: 20px;
    }
  }

  .lco-creation-messages {
    padding-right: 50px;
    padding-left: 50px;
  }

  .lco-entity-page {
    .entite-simple-details {
      margin-top: 10px;
    }

    table.mat-table {
      table-layout: fixed;
      width: 100%;

      th,
      td {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    table.entite-avec-libelle-table {
      th.libelle {
        width: 500px;
      }
    }

    table.entite-avec-libelle-et-code-table {
      th.code {
        width: 200px;
      }

      th.libelle {
        width: 500px;
      }
    }

    table.departement-table {
      th.code {
        width: 200px;
      }

      th.nb-communes {
        width: 200px;
      }

      th.nb-lieuxdits {
        width: 200px;
      }
    }

    table.commune-table {
      th.departement {
        width: 150px;
      }

      th.code {
        width: 200px;
      }

      th.nom {
        width: 300px;
      }

      th.nb-lieuxdits {
        width: 200px;
      }
    }

    table.lieudit-table {
      th.departement {
        width: 100px;
      }

      th.code-commune {
        width: 150px;
      }

      th.nom-commune {
        width: 300px;
      }

      th.nom-lieu-dit {
        width: 300px;
      }

      th.altitude,
      th.longitude,
      th.latitude {
        width: 100px;
      }
    }

    table.estimation-nombre-table {
      th.libelle {
        width: 400px;
      }

      th.non-compte {
        width: 200px;
      }
    }

    table.classe-table {
      th.libelle {
        width: 400px;
      }

      th.nb-especes {
        width: 200px;
      }
    }

    table.espece-table {
      th.classe {
        width: 200px;
      }

      th.code {
        width: 200px;
      }

      th.nom-francais {
        width: 350px;
      }

      th.nom-latin {
        width: 350px;
      }
    }
  }

  .tree-invisible {
    display: none;
  }

  .tree ul,
  .tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
}
