@use "src/styles/mixins";
@use "src/styles/variables";

$material-design-icons-font-directory-path: "~material-design-icons-iconfont/dist/fonts/";

@import "~material-design-icons-iconfont/src/material-design-icons";

@import "~@angular/material/theming";

@include mat-core();

@font-face {
  font-family: "Showcard Gothic";
  src: url("assets/fonts/showg.ttf") format("truetype");
}

@import "../node_modules/typeface-roboto/index.css";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-cyan, 800, 700);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);

// Create a config with the default typography levels.
$defaultConfig: mat-typography-config();

$custom-typography: mat-typography-config(
  $headline:
    mat-typography-level(
      mat-font-size($defaultConfig, headline)-2px,
      mat-line-height($defaultConfig, headline)-2px,
      mat-font-weight($defaultConfig, headline)
    ),
  $title:
    mat-typography-level(
      mat-font-size($defaultConfig, title)-2px,
      mat-line-height($defaultConfig, title)-2px,
      mat-font-weight($defaultConfig, title)
    ),
  $body-1:
    mat-typography-level(
      mat-font-size($defaultConfig, body-1)-2px,
      mat-line-height($defaultConfig, body-1)-2px,
      mat-font-weight($defaultConfig, body-1)
    ),
  $button:
    mat-typography-level(
      mat-font-size($defaultConfig, button)-2px,
      mat-line-height($defaultConfig, button)-2px,
      mat-font-weight($defaultConfig, button)
    ),
  $input:
    mat-typography-level(
      mat-font-size($defaultConfig, input)-0.125,
      mat-line-height($defaultConfig, input)-0.125,
      mat-font-weight($defaultConfig, input)
    )
);

@include angular-material-theme($candy-app-theme);

// Common styles
body.base-naturaliste {
  margin: 0;

  .default-tooltip {
    background-color: variables.$dark-grey-color;
    font-size: mat-font-size($defaultConfig, body-1);
  }

  table.mat-table {
    table-layout: fixed;

    tr.mat-row {
      height: 20px;
    }

    td.mat-cell {
      font-size: 14px;
    }

    th,
    td {
      padding-left: 5px;
      padding-right: 5px;
    }

    tr.selected-row {
      background: variables.$main-light-color;
    }
  }

  .full-width-container > * {
    width: 100%;
    mat-form-field {
      width: 100%;
    }
  }

  .full-width {
    width: 100%;
  }

  mat-form-field {
    width: 100%;

    .mat-form-field-infix {
      width: auto !important;
    }
  }

  .flex-spacer {
    flex: 1 1 auto;
  }

  .button-spacer {
    flex: 0 1 20px;
  }

  button mat-icon:first-child {
    margin-right: 10px;
  }

  button.no-text-button mat-icon:first-child {
    margin-right: 0px;
  }

  .mat-snack-bar-container {
    color: white;
  }

  .status-message-error {
    background: variables.$accent-color;
  }

  .cancel-submit-buttons {
    display: flex;
    flex: 0 0 auto;
    margin-top: 20px;
  }

  .page-container {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
