<div class="lco-entity-page">
  <top-buttons title="Météos"
    createButtonLibelle="Créer une météo"
    exportButtonLibelle="Exporter les météos"
    [areButtonsDisplayed]="isViewAllMode()"
    (onClickNewObject)="newObject()"
    (onClickExportObjects)="exportObjects()"
    (onClickRefresh)="getAll()"></top-buttons>

  <hr *ngIf="isCreationMode() || isEditionMode() || isViewOneMode() || isRemoveMode()">

  <entity-messages [messages]="messages"
    [status]="status"></entity-messages>

  <meteo-table *ngIf="isViewAllMode()"
    [objects]="objects"
    (delete)="deleteObject($event)"
    (edit)="editObject($event)"
    (view)="viewObject($event)">
  </meteo-table>

  <entite-avec-libelle-form *ngIf="isCreationMode() || isEditionMode()"
    [object]="objectToSave"
    [mode]="mode"
    creationTitle="Création d'une météo"
    editionTitle="Édition d'une météo"
    (confirm)="saveObject()"
    (back)="cancelEdition()">
  </entite-avec-libelle-form>

  <entite-delete-confirmation *ngIf="isRemoveMode()"
    question="Êtes-vous certain de vouloir supprimer la météo ?"
    details="{{currentObject.nbDonnees}} données ont cette météo."
    cancellationLabel="Non, annuler la suppression"
    confirmationLabel="Oui, supprimer la météo"
    (confirm)="confirmObjectRemoval($event)">
  </entite-delete-confirmation>

  <entite-details *ngIf="isViewOneMode() || isRemoveMode()"
    [detailsData]="getDetailsData()"
    detailsTitle="Détails de la météo"
    [isBackButtonDisplayed]="isViewOneMode()"
    (back)="viewAll()">
  </entite-details>

</div>