<div class="lco-entity-page">
  <top-buttons title="Météos"
    createButtonLibelle="Créer une météo"
    exportButtonLibelle="Exporter les météos"
    [areButtonsDisplayed]="isViewAllMode()"
    (onClickNewObject)="newObject()"
    (onClickExportObjects)="exportObjects()"
    (onClickRefresh)="getAll()"></top-buttons>

  <hr *ngIf="isCreationMode() || isEditionMode() || isViewOneMode() || isRemoveMode()">

  <entity-messages [messages]="messages"
    [status]="status"></entity-messages>

  <meteo-table *ngIf="isViewAllMode()"
    [objects]="objects"
    (delete)="deleteObject($event)"
    (edit)="editObject($event)"
    (view)="viewObject($event)">
  </meteo-table>

  <meteo-form *ngIf="isCreationMode() || isEditionMode()"
    [object]="objectToSave"
    [mode]="mode"
    (confirm)="saveObject()"
    (back)="cancelEdition()">
  </meteo-form>

  <entite-details *ngIf="isViewOneMode()"
    [objectToView]="objectToView"
    (back)="viewAll()">
  </entite-details>

  <entite-delete-confirmation *ngIf="isRemoveMode()"
    [objectToRemove]="objectToRemove"
    (confirm)="confirmObjectRemoval($event)">
  </entite-delete-confirmation>

</div>