<div class="btn-group">
  <button mat-raised-button
    *ngIf="!hideViewButton"
    type="submit"
    class="btn btn-info btn-sm"
    (click)="viewObject(age)">
    <mat-icon>visibility</mat-icon>
  </button>
  <button mat-raised-button
    type="submit"
    class="btn btn-primary btn-sm"
    (click)="editObject(age)">
    <span class="glyphicon glyphicon-pencil"></span>
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-raised-button
    *ngIf="!hideDeleteButton"
    type="submit"
    (click)="deleteObject(age)"
    class="btn btn-danger btn-sm">
    <mat-icon>delete</mat-icon>
  </button>
</div>