<div>
  <div class="full-width-container">
    <!-- DEPARTEMENT -->
    <autocomplete
      *ngIf="!isMultipleSelectMode"
      [attributesToFilter]="departementAutocompleteAttributes"
      type="Département"
      [values]="departements$ | async"
      [control]="controlGroup.controls['departement']"
      [displayFn]="displayDepartementFormat"
    >
    </autocomplete>

    <multiple-select
      *ngIf="isMultipleSelectMode"
      [attributesToDisplay]="['code']"
      [control]="controlGroup.controls['departements']"
      [id]="'communes'"
      [options]="departements$ | async"
      [placeholder]="'Départements'"
    ></multiple-select>
  </div>

  <div class="full-width-container">
    <!-- COMMUNE -->
    <autocomplete
      *ngIf="!isMultipleSelectMode"
      [type]="'Commune'"
      [values]="filteredCommunes$ | async"
      [control]="controlGroup.controls['commune']"
      [attributesToFilter]="communeAutocompleteAttributes"
      [displayFn]="displayCommuneFormat"
    >
    </autocomplete>

    <multiple-select
      *ngIf="isMultipleSelectMode"
      [attributesToDisplay]="['code', 'nom']"
      [control]="controlGroup.controls['communes']"
      [id]="'communes'"
      [options]="filteredCommunes$ | async"
      [placeholder]="'Communes'"
    ></multiple-select>
  </div>

  <div class="full-width-container">
    <!-- LIEU-DIT -->
    <autocomplete
      *ngIf="!isMultipleSelectMode"
      [type]="'Lieu-dit'"
      [values]="filteredLieuxdits$ | async"
      [control]="controlGroup.controls['lieudit']"
      [attributesToFilter]="lieuditAutocompleteAttributes"
      [displayFn]="displayLieuDitFormat"
    >
    </autocomplete>

    <multiple-select
      *ngIf="isMultipleSelectMode"
      [attributesToDisplay]="['nom']"
      [control]="controlGroup.controls['lieuxdits']"
      [id]="'lieuxdits'"
      [options]="filteredLieuxdits$ | async"
      [placeholder]="'Lieux-dits'"
    ></multiple-select>
  </div>

  <div *ngIf="!hideCoordinates">
    <ng-container *ngIf="!(getAreCoordinatesInvalid$() | async)">
      <div fxLayout="row wrap" fxLayoutGap="20px">
        <!-- ALTITUDE -->
        <mat-form-field fxFlex="1 0 100px">
          <input
            [formControl]="controlGroup.controls['altitude']"
            matInput
            min="0"
            max="65535"
            type="number"
            placeholder="Altitude"
            id="input-altitude"
            name="altitude"
          />
        </mat-form-field>

        <!-- LONGITUDE -->
        <mat-form-field fxFlex="1 0 100px">
          <input
            [formControl]="controlGroup.controls['longitude']"
            matInput
            [min]="(getCoordinatesSystem$() | async)?.longitudeRange.min"
            [max]="(getCoordinatesSystem$() | async)?.longitudeRange.max"
            type="number"
            placeholder="Longitude"
            id="input-longitude"
            name="longitude"
          />
        </mat-form-field>

        <!-- LATITUDE -->
        <mat-form-field fxFlex="1 0 100px">
          <input
            [formControl]="controlGroup.controls['latitude']"
            matInput
            [min]="(getCoordinatesSystem$() | async)?.latitudeRange.min"
            [max]="(getCoordinatesSystem$() | async)?.latitudeRange.max"
            type="number"
            placeholder="Latitude"
            id="input-latitude"
            name="latitude"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-error
          *ngIf="controlGroup.controls['altitude'].hasError('forbiddenValue')"
          class="creation-page-error"
        >
          L'altitude doit être un nombre entier compris entre 0 et 65535.
        </mat-error>
        <mat-error
          *ngIf="
            controlGroup.controls['longitude'].hasError('min') ||
            controlGroup.controls['longitude'].hasError('max')
          "
          class="creation-page-error"
        >
          La longitude doit être un nombre compris entre
          {{ (getCoordinatesSystem$() | async)?.longitudeRange.min }} et
          {{ (getCoordinatesSystem$() | async)?.longitudeRange.max }}.
        </mat-error>
        <mat-error
          *ngIf="
            controlGroup.controls['latitude'].hasError('min') ||
            controlGroup.controls['latitude'].hasError('max')
          "
          class="creation-page-error"
        >
          La latitude doit être un nombre compris entre
          {{ (getCoordinatesSystem$() | async)?.latitudeRange.min }} et
          {{ (getCoordinatesSystem$() | async)?.latitudeRange.max }}.
        </mat-error>
      </div>
      <div
        *ngIf="areCoordinatesCustomized$ | async"
        class="coordinates-customized-message"
      >
        <mat-icon [inline]="true">info</mat-icon> Les coordonnées du lieu-dit
        sont personnalisées pour cet inventaire.
      </div>

      <div
        *ngIf="getAreCoordinatesTransformed$() | async"
        class="coordinates-transformed-message"
      >
        <mat-icon [inline]="true">info</mat-icon> Les coordonnées de cet
        inventaire sont converties à partir d'un autre système de coordonnées.
        Si vous les modifiez, elles seront sauvegardées dans le système de
        coordonnées courant de l'application (voir page de configuration).
      </div>
    </ng-container>
    <div
      *ngIf="getAreCoordinatesInvalid$() | async"
      class="coordinates-invalid-message"
    >
      <mat-icon [inline]="true">info</mat-icon> Les coordonnées de cet
      inventaire ne peuvent pas être affichées car elles sont renseignées dans
      un système de coordonnées qui ne peut pas être converti vers le système de
      coordonnées courant de l'application (voir page de configuration).
    </div>
  </div>
</div>
