<div>
  <div class="full-width-container">
    <!-- DEPARTEMENT -->
    <autocomplete
      [attributesToFilter]="departementAutocompleteAttributes"
      [startWithMode]="true"
      type="Département"
      [values]="departements | async"
      [control]="controlGroup.controls['departement']"
      [displayFn]="displayDepartementFormat"
    >
    </autocomplete>
  </div>

  <div class="full-width-container">
    <!-- COMMUNE -->
    <autocomplete
      [type]="'Commune'"
      [values]="filteredCommunes$ | async"
      [control]="controlGroup.controls['commune']"
      [attributesToFilter]="communeAutocompleteAttributes"
      [displayFn]="displayCommuneFormat"
    >
    </autocomplete>
  </div>

  <div class="full-width-container">
    <!-- LIEU-DIT -->
    <autocomplete
      [type]="'Lieu-dit'"
      [values]="filteredLieuxdits$ | async"
      [control]="controlGroup.controls['lieudit']"
      [attributesToFilter]="lieuditAutocompleteAttributes"
      [displayFn]="displayLieuDitFormat"
    >
    </autocomplete>
  </div>

  <div class="coordonnees-form">
    <!-- ALTITUDE -->
    <mat-form-field>
      <input
        [formControl]="controlGroup.controls['altitude']"
        matInput
        min="0"
        max="99999"
        type="number"
        placeholder="Altitude"
        id="input-altitude"
        name="altitude"
      />
    </mat-form-field>

    <!-- LONGITUDE -->
    <mat-form-field>
      <input
        [formControl]="controlGroup.controls['longitude']"
        matInput
        min="0"
        max="99999999"
        type="number"
        placeholder="Longitude"
        id="input-longitude"
        name="longitude"
      />
    </mat-form-field>

    <!-- LATITUDE -->
    <mat-form-field>
      <input
        [formControl]="controlGroup.controls['latitude']"
        matInput
        min="0"
        max="99999999"
        type="number"
        placeholder="Latitude"
        id="input-latitude"
        name="latitude"
      />
    </mat-form-field>
  </div>
</div>
