@use "src/styles/variables";

.coordinates-transformed-message,
.coordinates-invalid-message {
  color: variables.$main-color;
  margin-bottom: 1.25em;
}

.coordinates-customized-message {
  margin-bottom: 1.25em;
}
