<div class="lco-entity-page">
  <top-buttons title="Sexes"
    createButtonLibelle="Créer un sexe"
    exportButtonLibelle="Exporter les sexes"
    [areButtonsDisplayed]="isViewAllMode()"
    (onClickNewObject)="newObject()"
    (onClickExportObjects)="exportObjects()"
    (onClickRefresh)="getAll()"></top-buttons>

  <hr *ngIf="isCreationMode() || isEditionMode() || isViewOneMode() || isRemoveMode()">

  <entity-messages [messages]="messages"
    [status]="status"></entity-messages>

  <sexe-table *ngIf="isViewAllMode()"
    [objects]="objects"
    (delete)="deleteObject($event)"
    (edit)="editObject($event)"
    (view)="viewObject($event)">
  </sexe-table>

  <sexe-form *ngIf="isCreationMode() || isEditionMode()"
    [object]="objectToSave"
    [mode]="mode"
    (confirm)="saveObject()"
    (back)="cancelEdition()">
  </sexe-form>

  <entite-delete-confirmation *ngIf="isRemoveMode()"
    question="Êtes-vous certain de vouloir supprimer le sexe ?"
    details="Toutes les données ({{currentObject.nbDonnees}}) avec ce sexe seront supprimées."
    cancellationLabel="Non, annuler la suppression"
    confirmationLabel="Oui, supprimer le sexe"
    (confirm)="confirmObjectRemoval($event)">
  </entite-delete-confirmation>

  <entite-details *ngIf="isViewOneMode() || isRemoveMode()"
    [detailsData]="getDetailsData()"
    detailsTitle="Détails du sexe"
    [isBackButtonDisplayed]="isViewOneMode()"
    (back)="viewAll()">
  </entite-details>

</div>