<div class="lco-entity-page">
  <top-buttons title="Comportements"
    createButtonLibelle="Créer un comportement"
    exportButtonLibelle="Exporter les comportements"
    [areButtonsDisplayed]="isViewAllMode()"
    (onClickNewObject)="newObject()"
    (onClickExportObjects)="exportObjects()"
    (onClickRefresh)="getAll()"></top-buttons>

  <hr *ngIf="isCreationMode() || isEditionMode() || isViewOneMode() || isRemoveMode()">

  <entity-messages [messages]="messages"
    [status]="status"></entity-messages>

  <comportement-table *ngIf="isViewAllMode()"
    [objects]="objects"
    (delete)="deleteObject($event)"
    (edit)="editObject($event)"
    (view)="viewObject($event)">
  </comportement-table>

  <comportement-form *ngIf="isCreationMode() || isEditionMode()"
    [object]="objectToSave"
    [mode]="mode"
    (confirm)="saveObject()"
    (back)="cancelEdition()">
  </comportement-form>

  <comportement-details *ngIf="isViewOneMode()"
    [objectToView]="objectToView"
    (back)="viewAll()">
  </comportement-details>

  <comportement-removal-confirmation *ngIf="isRemoveMode()"
    [objectToRemove]="objectToRemove"
    (confirm)="confirmObjectRemoval($event)">
  </comportement-removal-confirmation>

</div>