<div class="lco-entity-page">
  <top-buttons title="Comportements"
    createButtonLibelle="Créer un comportement"
    exportButtonLibelle="Exporter les comportements"
    [areButtonsDisplayed]="isViewAllMode()"
    (onClickNewObject)="newObject()"
    (onClickExportObjects)="exportObjects()"
    (onClickRefresh)="getAll()"></top-buttons>

  <entity-messages [messages]="messages"
    [status]="status"></entity-messages>

  <comportement-table *ngIf="isViewAllMode()"
    [objects]="objects"
    (delete)="deleteObject($event)"
    (edit)="editObject($event)"
    (view)="viewObject($event)">
  </comportement-table>

  <entite-avec-libelle-et-code-form *ngIf="isCreationMode() || isEditionMode()"
    [object]="objectToSave"
    [mode]="mode"
    creationTitle="Création d'un comportement"
    editionTitle="Édition d'un comportement"
    (confirm)="saveObject()"
    (back)="cancelEdition()">
  </entite-avec-libelle-et-code-form>

  <entite-delete-confirmation *ngIf="isRemoveMode()"
    question="Êtes-vous certain de vouloir supprimer le comportement ?"
    details="{{currentObject.nbDonnees}} données ont ce comportement."
    cancellationLabel="Non, annuler la suppression"
    confirmationLabel="Oui, supprimer le comportement"
    (confirm)="confirmObjectRemoval($event)">
  </entite-delete-confirmation>

  <entite-details *ngIf="isViewOneMode() || isRemoveMode()"
    [detailsData]="getDetailsData()"
    detailsTitle="Détails du comportement"
    [isBackButtonDisplayed]="isViewOneMode()"
    (back)="viewAll()">
  </entite-details>

</div>